{% extends "ticketman/base.html" %}
{% load humanize %}
{% block content %}
<h1>
	{% if request.user.is_staff %}
		{% trans "All tickets list" %}
	{% else %}
		{% trans "My tickets" %}
	{% endif %}
</h1>

<div class="ticket-list">
{% for ticket in object_list %}
	<div class="ticket-item well well-sm" >
		<div class="row">
			<div class="col-md-10">
				<strong><a href="{% url "ticket_detail" ticket.pk %}">{{ ticket.text|slice:":255" }}</a></strong>
			</div>

			<div class="col-md-2 text-right">

				{% with ticket.root_messages.count as comment_count %}
					{% if ticket.is_new %}
						<span class="label label-warning">{{ ticket.get_status_display }}</span>
					{% elif ticket.is_closed %}
						<span class="label label-default">{{ ticket.get_status_display }}</span>
					{% elif comment_count %}
						<span class="label label-info"><i class="icon-comment-alt"></i> {{ comment_count }}</span>
					{% endif %}
				{% endwith %}

			</div>
		</div>

		<div class="row">
			<div class="col-md-3">
				<i class="icon-user"></i> {{ ticket.email }}
			</div>

			<div class="col-md-6">
				{% with ticket.modification_user as staff_user %}
					{% if staff_user %}
						{% trans "Last comment" %} :
						{% if staff_user == request.user %}
							<span class="label label-success">{% trans "MYSELF" %}</span>
						{% else %}
							<b>{{ staff_user.full_name|default:staff_user }}</b>
						{% endif %}
					{% endif %}
				{% endwith %}
			</div>

			<div class="col-md-3 text-right">
				<i class="icon-time"></i> {{ ticket.modification_date|naturaltime }}
			</div>

		</div>
	</div>
{% empty %}
	<div class="alert alert-info">
	{% if request.user.is_authenticated %}
		{% trans "You haven't any ticket" %}
	{% else %}
		{% trans "You must be logged-in to see your tickets." %} <a href="{% url "auth_login" %}?next={% url "ticket_list" %}">{% trans "Sign-in" %}</a>
	{% endif %}
	</div>
{% endfor %}
</div>
	{% if not request.user.is_staff %}
		<div class="submit">
			<a class="btn btn-default" href="{% url "ticket_add" %}">{% trans "Contact us" %}</a>
		</div>
	{% endif %}
{% endblock %}