argparse==1.2.1
bleach==1.2.2
dj-database-url==0.2.1
Django==1.5.4
django-extensions==1.1.1
django-json-field==0.5.4
django-filter==0.6
django-le-social==0.8
django-password-reset==0.4
django-ratelimit-backend==0.6
django-redis-cache==0.9.7
django-sekizai==0.7
djangorestframework==2.3.5
hiredis==0.1.1
html5lib==0.95
Markdown==2.2.1
palette==0.2
Pillow==2.0.0
python-coveralls==2.2.0
PyYAML==3.10
pyPdf==1.13
psycopg2==2.4.6
raven==3.3.11
reportlab==2.7
requests==1.2.3
South==0.8.4
xhtml2pdf==0.0.5
tornado==3.1
tornado-redis==2.4.2
xlwt==0.7.5
