bleach==1.2.1
dj-database-url==0.2.1
Django==1.5.1
django-extensions==1.1.1
django-filter==0.6
django-le-social==0.8
django-password-reset==0.4
django-ratelimit-backend==0.6
django-sekizai==0.7
djangorestframework==2.3.5
html5lib==0.95
Markdown==2.2.1
palette==0.2
psycopg2==2.4.6
raven==3.3.11
requests==1.2.3
South==0.8.1
