{% load staticfiles %}

<h1>Fonctionnalités principales</h1>
<hr>

<div class="row">
	<div class="text-center col-sm-4">
		<img title="Tableaux intéractifs" class="img-screenshot img-thumbnail" style="width: 100%;max-width:200px;" src="{% static "core/img/screenshot_2.png" %}">
		<p>Créez, des tableaux intéractifs, mis a jour en temps réel pour gérer vos <b>story boards</b>, planifiez vos itérations, et bien d'autres...</p>
	</div>

	<div class="text-center col-sm-4">
		<img title="Backlogs" class="img-screenshot img-thumbnail" style="width: 100%;max-width:200px;" src="{% static "core/img/screenshot_1.png" %}">
		<p>Gérez vos <b>"backlogs"</b> dans votre navigateur web, sur votre smarphones et tablettes, à l'aide de simples glisser-déposer</p>
	</div>

	<div class="text-center col-sm-4">
		<img title="Statistiques graphiques" class="img-screenshot img-thumbnail" style="width: 100%;max-width:200px;" src="{% static "core/img/screenshot_3.png" %}">
		<p>Suivez la progression de votre projet à l'aide de <b>statistiques graphiques</b>, graphs et camemberts</p>
	</div>
</div>
<div class="row">
	<div class="text-center col-sm-4">
		<img title="Liste de user stories" class="img-screenshot img-thumbnail" style="width: 100%;max-width:200px;" src="{% static "core/img/screenshot_4.png" %}">
		<p>Recherchez, filtrez, imprimez et <b>exportez vers MS Excel&#0153;</b> vos "user stories" et tableaux de la façon que vous souhaitez</p>
	</div>

	<div class="text-center col-sm-4">
		<img title="Tableau de board" class="img-screenshot img-thumbnail" style="width: 100%;max-width:200px;" src="{% static "core/img/screenshot_5.png" %}">
		<p>Publiez des <b>tableaux de board</b> personnalisable pour annoncer l'avancement du projet aux participants externes</p>
	</div>

	<div class="text-center col-sm-4">
		<img title="REST api" class="img-screenshot img-thumbnail" style="width: 100%;max-width:200px;" src="{% static "core/img/screenshot_6.png" %}">
		<p>Intégrez backlogman avec vos services préférés en utilisant son <b>api REST</b></p>
	</div>
</div>