{% load staticfiles %}

<h1>Main features</h1>
<hr>

<div class="row">
	<div class="text-center col-sm-4">
		<img title="Boards" class="img-screenshot img-thumbnail" style="width: 100%;max-width:200px;" src="{% static "core/img/screenshot_2.png" %}">
		<p>Create interactive, real-time updated <b>boards</b> to manage <b>story maps</b>, sprint planning, and more...</p>
	</div>

	<div class="text-center col-sm-4">
		<img title="Backlogs" class="img-screenshot img-thumbnail" style="width: 100%;max-width:200px;" src="{% static "core/img/screenshot_1.png" %}">
		<p>Manage your <b>backlogs</b> on your web browser, smarphones and tablets, using simple <b>drag&drop</b></p>
	</div>

	<div class="text-center col-sm-4">
		<img title="Statistics graphs" class="img-screenshot img-thumbnail" style="width: 100%;max-width:200px;" src="{% static "core/img/screenshot_3.png" %}">
		<p>Follow your project's progress using visual <b>statistics graphs</b> and pie charts</p>
	</div>
</div>
<div class="row">
	<div class="text-center col-sm-4">
		<img title="User stories list" class="img-screenshot img-thumbnail" style="width: 100%;max-width:200px;" src="{% static "core/img/screenshot_4.png" %}">
		<p>Search, filter, print and <b>export to MS Excel&#0153;</b> your stories and boards in every way you want</p>
	</div>

	<div class="text-center col-sm-4">
		<img title="Dashboards" class="img-screenshot img-thumbnail" style="width: 100%;max-width:200px;" src="{% static "core/img/screenshot_5.png" %}">
		<p>Publish customizable <b>dashboard</b> to advertise project progress to external participants</p>
	</div>

	<div class="text-center col-sm-4">
		<img title="RESTfull api" class="img-screenshot img-thumbnail" style="width: 100%;max-width:200px;" src="{% static "core/img/screenshot_6.png" %}">
		<p>Integrate backlogman with your preferred services using its <b>RESTfull api</b></p>
	</div>
</div>