<h2>Qu'est-ce que backlogman</h2>
<p>
	Backlogman vise à vous aider dans la gestion de vos backlogs agiles.
</p>
<p>
	En tant que <b>PRODUCT OWNER</b>, il vous permettra de simplifier la création de "user stories" et vous aidera dans la gestion de leurs priorités au travers de "backlogs"
</p>
<p>
	En tant qu'<b>EQUIPIER</b>, il vous permettra d'avoir une meilleur visibilité sur les "user story" et vous aidera dans la compréhension des priorités d'un projet.
</p>
<h2>Agilité à l'esprit</h2>
<p>
	Backlogman n'est pas un autre outil de suivi du temps et de la productivité de l'équipe, il met simplement l'accent sur la gestion des "backlogs" en y
ajoutant diverses capacités d'export et d'impression.
</p>
<p>
	Backlogman a été développé avec l'agilité à l'esprit. Son objectif principal est le développement logiciels, mais il peut être utilisé dans
d'autre domaine, n'hésitez pas à expérimenter ...
</p>
<p>
	Si vous êtes nouveau dans les méthodes agiles,commencez par la lecture du <a href="http://agilemanifesto.org/iso/fr/">manifeste pour le développement Agile</a>.
	 ensuite,

	<h3>que le voyage <a href="{% url "registration_register" %}">commence</a>...<h3>
</p>