{% load staticfiles sekizai_tags i18n %}<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="{% static "core/css/main.css" %}">
		<link rel="shortcut icon" href="{% static "core/img/favicon.png" %}">
		<meta name="apple-mobile-web-app-title" content="Facile Backlog">
		<title>{% block title %}{% trans "Welcome" %}{% endblock %} &mdash; Backlogman</title>
	</head>
	<body class="{% block content_class %}{% endblock %}">
		<div id="header">
			<div class="header-in">
				<div class="title">
					<a href="{% url "home" %}">
						<img src="{% static "core/img/backlogman.png" %}" height=30>
					</a>
					<span class="debug">{% if debug %}I am in debug mode!{% endif %}</span>
				</div>

				<div class="buttons">
					{% if user.is_authenticated %}
						<a class="notif-link" href="{% url "my_notifications" %}" title="{% trans "Notifications" %}">
							{% with notification_count=request.user.notification_count %}
								{% if notification_count %}
									<span class="notification_count"><i class="icon-bell"></i> {{ notification_count }}</span>
								{% endif %}
							{% endwith %}
						</a>
						<span class="sep"></span>
						<div class="identity">
							<ul class="dropdown-button">
								<li>
									<a href=".">{{ user.full_name }} <i class="icon-chevron-down"></i> <img class="avatar" src="{{ user.get_gravatar_url }}"> </a>
									<ul>
										<li><a href="{% url "auth_profile" %}">{% trans "Manage profile" %}</a></li>
										{% if user.is_staff %}
											<a href="{% url 'admin:index' %}">{% trans "Admin site" %}</a>
										{% endif %}
										<hr>
										<li>
											<form id="logout_form" method="POST" action="{% url 'auth_logout' %}">
												{% csrf_token %}
												<input class="logout" type="submit" value="{% trans "logout" %}">
											</form>
										</li>
									</ul>
								</li>
							</ul>
						</div>
					{% else %}
						<a href="{% url 'auth_login' %}">{% trans "Sign in" %}</a>
					{% endif %}
				</div>
			</div>
		</div>
		<div id="content" >
			<div id="messages">
				{% for m in messages %}
					<div class="{{ m.tags }}">{{ m|safe }}</div>
				{% endfor %}
			</div>
			<div class="content">
			{% block content %}{% endblock %}
			</div>
		</div>
{% addtoblock "js" %}
<script type="text/javascript" src="{% static "core/js/jquery.js" %}"></script>
{% endaddtoblock %}

{% addtoblock "js" %}
<script type="text/javascript" src="{% static "core/js/dropit.js" %}"></script>
{% endaddtoblock %}

{% addtoblock "js" %}
<script type="text/javascript">
	$(function() {
		$(".dropdown-button").dropit()
	})
</script>
{% endaddtoblock %}

		{% render_block "js" %}
	</body>
</html>