{% load staticfiles sekizai_tags i18n %}<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="{% static "core/css/main.css" %}">
		<link rel="shortcut icon" href="{% static "core/img/favicon.png" %}">
		<meta name="apple-mobile-web-app-title" content="Facile Backlog">
		<title>{% block title %}{% trans "Welcome" %}{% endblock %} &mdash; Backlogman</title>
	</head>
	<body class="{% block content_class %}{% endblock %}">
		<div id="header">
			<div class="header-in">
				<div class="title"><a href="{% url "home" %}"><img src="{% static "core/img/backlogman.png" %}" height=30></a></div>

				<div class="buttons">
					{% if user.is_authenticated %}
						<a href="{% url "my_notifications" %}" title="{% trans "Notifications" %}">
							{% with notification_count=request.user.notification_count %}
								{% if notification_count %}
									<span class="notification_count">{{ notification_count }}</span>
								{% endif %}
							{% endwith %}
						</a>
						<span class="sep"></span>
						<a href="{% url "auth_profile" %}">{% trans "Profile" %}</a>
						<span class="sep"></span>
						<form id="logout_form" method="POST" action="{% url 'auth_logout' %}">
							{% csrf_token %}
							<i class="icon-signout"></i> <input class="logout" type="submit" value="{% trans "logout" %}">
						</form>
					{% if user.is_authenticated %}
						<span class="sep"></span>
						<a href="{% url 'admin:index' %}">{% trans "Admin" %}</a>
					{% endif %}
					{% else %}
						<a href="{% url 'auth_login' %}">{% trans "Sign in" %}</a>
					{% endif %}
				</div>
				{% if user.is_authenticated %}
					<div class="identity"><a href="{% url "auth_profile" %}">{{ user.full_name }}</a><img class="avatar" src="{{ user.get_gravatar_url }}"></div>
				{% endif %}

			</div>
		</div>
		<div id="content" >
			<div id="messages">
				{% for m in messages %}
					<div class="{{ m.tags }}">{{ m|safe }}</div>
				{% endfor %}
			</div>
			<div class="content">
			{% block content %}{% endblock %}
			</div>
		</div>
		{% render_block "js" %}
	</body>
</html>