{% extends "base.html" %}

{% block title %}{% trans "Home" %}{% endblock %}

{% block content_class %}home-background{% endblock %}


{% block content %}
	<h1>{% trans "Welcome to Backlogman." %}</h1>
	<p>
		<i class="icon-quote-left"></i>
		{% trans "The smartest way to manage your projects backlogs" %}
		<i class="icon-quote-right"></i>
	</p>

	<p class="alert">
		<span class="icon-warning-sign"></span>
		This application is currently in construction, all data may be whipped at any time.
	</p>

		<form class="home-login" method="POST" action="{% url "auth_login" %}">
			<h3>{% trans "Already an account?" %}</h3>
			{% csrf_token %}
			<input class="full" id="id_username" maxlength="254" name="username" type="text" placeholder="{% trans "username or email" %}">
			<input id="id_password" name="password" type="password" placeholder="{% trans "Password" %}">
			<input class="button" type="submit" value="{% trans "Login" %}">
			<p>
				<a href="{% url "password_reset_recover" %}">{% trans "Forgot your password?" %}</a>
			</p>


		</form>


		<form class="home-login" method="POST" action="{% url "registration_register" %}">
			<h3>{% trans "New to backlogman?" %}</h3> <p>{% trans "Register now." %}</p>
			{% csrf_token %}
			<input class="full" id="id_full_name" name="full_name" type="text" placeholder="{% trans "Full name" %}">
			<input class="full" id="id_email" maxlength="254" name="email" type="text" placeholder="{% trans "Email" %}">
			<input id="register_id_password" name="password" type="password" placeholder="{% trans "Password" %}">
			<input class="button" type="submit" value="{% trans "Register" %}">
		</form>

{% endblock %}