{% extends "base.html" %}
{% load i18n_include sekizai_tags %}

{% block title %}{% trans "Home" %}{% endblock %}

{% block content_class %}home-background{% endblock %}


{% block outer_content %}
	<div class="text-center jumbotron jumbotron-main">
		<h1>Backlogman</h1>
		<p>
			{% trans "An easy way to manage your agile projects backlogs" %}
		</p>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6" class="home-blog">
				{% i18n_include "inc/home_info.html" %}

			</div>
			<div class="col-md-6">
				<div class="row">
					<form class="home-login" method="POST" action="{% url "auth_login" %}">
						<h3>{% trans "Already an account?" %}</h3>
						{% csrf_token %}
						<div class="form-group">
							<input class="form-control" id="id_username" maxlength="254" name="username" type="text" placeholder="{% trans "username or email" %}">
						</div>
						<div class="form-group">
							<input class="form-control" id="id_password" name="password" type="password" placeholder="{% trans "Password" %}">
						</div>
						<div>
							<button class="btn btn-primary pull-right" type="submit">{% trans "Login" %}</button>
							<a class="btn btn-link" href="{% url "password_reset_recover" %}">{% trans "Forgot your password?" %}</a>
						</div>
					</form>


					<form class="home-login" method="POST" action="{% url "registration_register" %}">
						<h3>{% trans "New to backlogman?" %}</h3> <p>{% trans "Register now." %}</p>
						{% csrf_token %}
						<div class="form-group">
							<input class="form-control" id="id_full_name" name="full_name" type="text" placeholder="{% trans "Full name" %}">
						</div>
						<div class="form-group">
							<input class="form-control" id="id_email" maxlength="254" name="email" type="text" placeholder="{% trans "Email" %}">
						</div>
						<div class="form-group">
							<input class="form-control" id="register_id_password" class="full" name="password" type="password" placeholder="{% trans "Password" %}">
						</div>
						<div class="submit">
							<button class="center btn btn-primary pull-right" type="submit">{% trans "Register" %}</button>
							&nbsp;
						</div>
					</form>
				</div>
			</div>
		</div>
		{% i18n_include "inc/features.html" %}
	</div>
	<div class="jumbotron-footer">
		<div class="container">
			<div class="col-sm-4">
				<h5>HOME</h5>
				<li><a href="{% url "auth_login" %}">{% trans "Sign in" %}</a></li>
				<li><a href="{% url "registration_register" %}">{% trans "Register" %}</a></li>
				<li><a href="{% url "password_reset_recover" %}">{% trans "Forgot your password?" %}</a></li>
			</div>
			<div class="col-sm-4">
				<h5>INFO</h5>
				<li><a href="{% url "blog_index" %}">{% trans "Blog" %}</a></li>
				<li><a href="{% url "ticket_add" %}">{% trans "Contact us" %}</a></li>
				<li><a href="{% url "docs_file" "faq" %}">{% trans "FAQ" %}</a></li>
				<li><a href="{% url "terms_of_service" %}">{% trans "Terms and conditions" %}</a></li>
			</div>
			<div class="col-sm-4">
				<h5>CONTACT</h5>
				<address>
				  <strong>David Saradini</strong><br>
				  Valais - Switzerland<br>
				  <a href="mailto:david@saradini.ch">david@saradini.ch</a>
				</address>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-screenhost" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title" id="modal-screenshot-title"></h4>
		  </div>
		  <div class="modal-body">
				<img id="modal-screenshot-img" src="">
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
		  </div>
		</div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
{% addtoblock "js" %}
<script>
  $( document ).ready(function() {
    $('.img-screenshot').click(function() {
		$("#modal-screenshot-title").text($(this).attr("title"));
		$("#modal-screenshot-img").attr("src", $(this).attr("src"));
		$("#modal-screenhost").modal();
	});
  });

</script>
{% endaddtoblock %}


{% endblock %}