{% extends "base.html" %}

{% block content %}
<h1>Backlogman Terms and Conditions ("Agreement")</h1>
<p>This Agreement was last modified on January 11, 2014.</p>

<p>Please read these Terms and Conditions ("Agreement", "Terms and Conditions") carefully before using https://backlogman.com ("the Site") operated by Backlogman ("us", "we", or "our"). This Agreement sets forth the legally binding terms and conditions for your use of the Site at https://backlogman.com.</p>
<p>By accessing or using the Site in any manner, including, but not limited to, visiting or browsing the Site or contributing content or other materials to the Site, you agree to be bound by these Terms and Conditions. Capitalized terms are defined in this Agreement.</p>

<h3>Intellectual Property</h3>
	<p>The Site and its original content, features and functionality are owned by Backlogman and are protected by international copyright, trademark, patent, trade secret and other intellectual property or proprietary rights laws.</p>

<h3>Termination</h3>
	<p>We may terminate your access to the Site, without cause or notice, which may result in the forfeiture and destruction of all information associated with you. All provisions of this Agreement that by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity, and limitations of liability.</p>

<h3>Links To Other Sites</h3>
	<p>Our Site may contain links to third-party sites that are not owned or controlled by Backlogman.</p>
	<p>Backlogman has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party sites or services. We strongly advise you to read the terms and conditions and privacy policy of any third-party site that you visit.</p>

<h3>Governing Law</h3>
	<p>This Agreement (and any further rules, polices, or guidelines incorporated by reference) shall be governed and construed in accordance with the laws of Switzerland, without giving effect to any principles of conflicts of law.</p>


<h3>Privacy Policy</h3>
	<p> Your privacy is very important to us. Accordingly, we have developed this Policy in order for you to understand how we collect, use, communicate and disclose and make use of personal information. The following outlines our privacy policy.</p>
	<ul>
		<li>
			Before or at the time of collecting personal information, we will identify the purposes for which information is being collected.
		</li>
		<li>
			We will collect and use of personal information solely with the objective of fulfilling those purposes specified by us and for other compatible purposes, unless we obtain the consent of the individual concerned or as required by law.
		</li>
		<li>
			We will only retain personal information as long as necessary for the fulfillment of those purposes.
		</li>
		<li>
			We will collect personal information by lawful and fair means and, where appropriate, with the knowledge or consent of the individual concerned.
		</li>
		<li>
			Personal data should be relevant to the purposes for which it is to be used, and, to the extent necessary for those purposes, should be accurate, complete, and up-to-date.
		</li>
		<li>
			We will protect personal information by reasonable security safeguards against loss or theft, as well as unauthorized access, disclosure, copying, use or modification.
		</li>
		<li>
			We will make readily available to customers information about our policies and practices relating to the management of personal information.
		</li>
	</ul>

<h3>Changes To This Agreement</h3>
	<p>We reserve the right, at our sole discretion, to modify or replace these Terms and Conditions by posting the updated terms on the Site. Your continued use of the Site after any such changes constitutes your acceptance of the new Terms and Conditions.</p>
	<p>Please review this Agreement periodically for changes. If you do not agree to any of this Agreement or any changes to this Agreement, do not use, access or continue to access the Site or discontinue any use of the Site immediately.</p>


<h3>Contact Us</h3>
	<p>If you have any questions about this Agreement, please contact us. (support@backlogman.com)</p>
{% endblock %}