{% extends "base.html" %}
{% load sekizai_tags %}

{% block content %}
	<h1>Web sockets messages</h1>
	<ul id="ws-messages">

	</ul>
	<div>
		<input type="text" id="post-message" disabled=true>
	</div>
{% addtoblock "js" %}
<script>
	var append_message = function(message) {
		var $li = $("<li>");
		$li.append(message);
		$("#ws-messages").append($li)
	};
	var did_open = function() {
		$("input").prop('disabled', false);
	}
	var did_close = function() {
		$("input").prop('disabled', true);
	}

	var ws;
	var connect_ws = function() {
		ws = new WebSocket('ws://localhost:8000/ws');
		ws.onopen = function(){
			append_message('WebSocket open');
			did_open();
		};
		ws.onmessage = function(ev){
			var data = JSON.parse(ev.data);
			append_message("["+data.username+"]" + data.message);
		};
		ws.onclose = function(ev){
			append_message('WebSocket has closed');
			did_close();
			setTimeout(connect_ws, 5000);
		};
		ws.onerror = function(ev){
			append_message('error occurred');
		};
	}
	$("#post-message").change(function() {
		var data = {
			message: $(this).val()
		};
		ws.send(JSON.stringify(data));
		$(this).val("")
	})

	connect_ws();
</script>
{% endaddtoblock %}

{% endblock %}