article.blog-entry {
	backgorund: rgba(255,255,255,0.01);
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding: 1em 0;
	box-sizing: border-box;
	&.sticky:before {
		content: "\f097"; //"\f02e";
		display: inline-block;
		margin-left: -20px;
		float: left;
		font-family: fontawesome;
		font-size: 1.5em;
		margin-top: 4px;
		color: #aaa;
	}
	.when {
		display: block;
		text-align: right;
	}
}