.site-documentation {
	ul {
		list-style: circle;
		list-style-position: inner;
		padding-left: 1em;
		li {
			margin: 0.5em;
		}
	}
	code {
		background-color: white;
		white-space: pre;
		&[type=block] {
			display: block;
			padding-bottom:1rem;
			border-left:10px solid #ddd;
		}
		&[type=method] {
			padding:0 0.25em;
			background-color: darkgray;
			color: white;
			font-size: 1.2em;
			line-height: 1.2em;
		}
	}
	h1 {
		padding: 0.5em 0;
		code {
			padding: 0.25rem;
			background-color: $box-background-color;
			display: block;
			font-size: 1.5rem;
			&:before {
				font-family: fontawesome;
				content: "\f061";
				color: black;
				padding-right:0.4em;
				margin-left: -1.2em;
			}
		}
	}
	em {
		font-style: normal;
	}
	p {
		padding: 0.5em;
	}
}