$text-color: #333;
$background-color: #EEE;
$header-background-color: #0f787e;
$header-background-color-end: darken($header-background-color, 5%);
$header-text-color: #fbffdb;

html, body {
	font-family: OpenSansCondensedBold, 'Helvetica Neue', Helvetica, Arial, sans-serif;;
	color: $text-color;
	background: $background-color;
}

h1 {
	font-size: 1.5em;
	line-height: 1.5em;
	margin: 0.5rem;
}

h2 {
	font-size: 1.25em;
	line-height: 1.25em;
	color: lighten($text-color, 30%);
	margin: 0.25rem 0;
}

b, strong {
	font-weight: bold;
}

i, italic {
	font-style: italic;
}

p {
	margin: 0.5rem 0;
}
#header {
	@include clearfix;
	background-color: $header-background-color;
	background-image: -webkit-linear-gradient(top, $header-background-color 0%, $header-background-color-end 100%);
	background-image: -moz-linear-gradient(top, $header-background-color 0%, $header-background-color-end 100%);
	background-image: linear-gradient(top, $header-background-color 0%, $header-background-color-end 100%);
	color: $header-text-color;
	height: 3em;
	box-shadow: 0 1px 5px rgba(0,0,0,0.5);
	border-top: 1px solid black;
	border-bottom: 1px solid rgba(0,0,0,0.3);
	.header-in {
		width:900px;
		margin: 0 auto;
	}
	.title {
		font-size: 1.25em;
		float: left;
		padding: 0.5em;
		width: 50px;
		text-shadow: 0px 0px 10px rgba(255,255,255,0.5);
	}
	a {
		color: $header-text-color;
		text-decoration: none;
		&:hover {
			color: lighten($header-text-color, 20%)
		}
		&:before {
			padding-right:0.5em;
		}
	}
	.identity {
		float: right;
		margin-top: 0.5em;
		margin-right: 2px;
		a {
			margin: 0.5em;
			vertical-align: super;
		}
	}
	.buttons {
		margin-top: 0.5em;
		& > * {
			display:inline-block;
		}
		display:block;
		padding: 0.5em;
		float: right;
		a {
			font-weight: normal;
		}
		inpurt {
			font-family:inherit;
		}
		.sep {
			padding-right: 0.5em;
			text-shadow: -1px 0 1px black;
			border-left: 1px solid #fbffdb;
			width: 1px;
			height: 1em;
			margin-left: 0.5em;
		}
	}
	.logout {
		padding:0;
		color: $header-text-color;
		background: none;
		border-width: 0;
		font-size: 1em;
		cursor: pointer;
		&:hover {
			color: lighten($header-text-color, 20%)
		}
	}
}

#content {
	@include clearfix;
	width:900px;
	margin: 0 auto;
	padding: 0 0.25em;
	#messages {
		& > div {
			padding: 0.5em;
			border-top: 1px solid rgba(0,0,0,0.1);
			border-bottom: 1px solid rgba(255,255,255,0.1);
		}
		.success {
			color: #CFC;
			&:before {
				font-family: FontAwesome;
				content: "\f00c";
				padding-right:0.5em;
			}
		}
		.error {
			color: #FCC;
			&:before {
				font-family: FontAwesome;
				content: "\f071";
				padding-right:0.5em;
			}
		}
		background-color: mix($header-background-color-end ,$background-color, 100%);
		//border-top: 1px solid rgba(255,255,255,0.2);
		//border-bottom: 1px solid rgba(0,0,0,0.3);
	}
	.path {
		display: block;
		font-size: 1rem;
		padding: 0.5rem 1rem;
		font-weight: normal;
		background-color: mix($header-background-color-end ,$background-color, 100%);
		border-top: 1px solid rgba(255,255,255,0.2);
		border-bottom: 1px solid rgba(0,0,0,0.3);

		box-shadow: 0px 1px 1px white;
		border-radius: 0 0 0rem 0rem;
		i {
			padding-right: 0.25rem;
			color: mix($header-background-color-end , white, 10%);
		}
		a {
			color: mix($header-background-color-end , white, 10%);
			text-decoration: none;
			&:hover {
				color: $header-text-color;
			}
		}
		.current {
			color: $header-text-color;
		}
		.action {
			font-style: italic;
		}
	}

	.sub-field {
		color: lighten($text-color, 25%);
		font-size: 0.75rem;
		padding: 0.25rem;
		font-weight: bold;
	}
}

#header, #links {
	a {
		color: $header-text-color;
		text-decoration: none;
		&:hover {
			color: lighten($header-text-color, 20%)
		}
		&:before {
			padding-right:0.5em;
		}
	}
}

form {
	.field {
		font-size:1.25rem;
		margin: 0.5rem;
		label {
			display: inline-block;
			width: 200px;
			text-align: right;
			vertical-align:top;
			padding: 0.25rem;
		}
		input, textarea {
			font-size: 1em;
			width: 500px;
		}
	}
	.submit {
		padding-left: 220px;
		input {
			font-size: 1rem;
		}
	}
}

.project-list {
	li {
		display: block;
		font-size: 1.5em;
		margin: 1rem;
		a {
			color: $header-background-color;
			text-decoration: none;
			&:hover {
				color: initial;
			}
		}
		&:before2 {
			padding-right:0.15rem;
			font-family: FontAwesome;
			content: "\f02d";
		}
	}
}

.backlog-list {
	li {
		display: block;
		font-size: 1.5em;
		margin: 1rem;
		a {
			color: $header-background-color;
			text-decoration: none;
			&:hover {
				color: initial;
			}
		}
		&:before2 {
			padding-right:0.15rem;
			font-family: FontAwesome;
			content: "\f03a";
		}
	}
}

.button {
	font-size: 1em;
	font-weight: normal;
	display: inline-block !important;
	white-space: nowrap;
	text-decoration: none;
	cursor: pointer;
	border: 1px solid rgba(0,0,0,0.2);
	background-color: $header-background-color;
	color: $header-text-color;
	padding: 0.25rem 0.5rem;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
	border-radius:3px;
	&:hover {
		background-color: lighten( $header-background-color, 10%);
		color: lighten($header-text-color, 20%);
	}
	&:before {
		padding-right:0.2rem;
	}
}

.project-count {
	padding: 1rem;
	font-weight: bold;
	background-color: rgba(0,0,0,0.2);
}

.description {
	margin: 1em;
	line-height: 1.2em;
}

.actions {
	padding: 1em;
	border-top: 1px solid $header-background-color;
	border-top: 1px solid white;
	box-shadow: 0 -1px 1px #bbbbbb;
	padding: 0.5em 0.25em;
}

p.errorlist {
	background-color: lighten(red,35%);
	padding: 0.5rem;
	border: 1px solid red;
}

ul.errorlist li {
	color: red;
	font-size: 1rem;
	padding-left: 220px;
	margin: 0.25em 0;
}

.markdown {
	ul {
		margin-left: 1rem;
		list-style-position: inside;
		list-style-type: circle;
		li {
			margin: 0.2rem 0;
		}
	}
}

.acceptance-criteria {
	ul {
		list-style-type: lower-alpha !important;
		list-style-position: outside !important;
		li {
			background-color: white;
			box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
			margin: 0.5em;
			padding: 0.5em;
		}
	}
}
.story-count, .kind {
	font-size: 1rem;
	font-family: monospace;
	padding: 0.2rem;
	border: 1px solid rgba(0,0,0,0.1);
	background-color: rgba(0,0,0,0.05);
	color: lighten($text-color, 30%)
}

article.story {
	display:block;
	position: relative;
	margin: 1.5em 0 0.5em 0;
	padding: 1px;
	.handle {
		position: absolute;
		top: 1px;
		width: 10px;
		bottom: 1px;
		left: 0px;
		background-image: url('../img/grab.png');
		background-color: rgba(127,127,127,0.5);
		border-top:1px solid rgba(0,0,0,0.2);
		border-left:1px solid rgba(0,0,0,0.2);
		border-bottom:1px solid rgba(0,0,0,0.2);
		cursor: pointer;
	}
	.handled {
		padding-left:15px;
		background-color: rgba(0,0,0,0.1);
		border-top:1px solid rgba(0,0,0,0.2);
		border-right:1px solid rgba(0,0,0,0.2);
		border-bottom:1px solid rgba(0,0,0,0.2);
		border-left:1px solid rgba(255,255,255,0.6);
		padding: 8px 2px 8px 18px;
	}
	.color {
		content: "\00a0";
		width: 1em;
		float: left;
		font-size: 1.25rem;
		line-height: 1.25rem;
		border: 1px solid rgba(0,0,0,0.2);
		margin: 0.5em 0.25em 0 0;
	}
	.code {
		display: inline-block;
		width: 160px;
		float: left;
		font-size: 1.25rem;
		a {
			color: $header-background-color;
			font-weight: bold;
			text-decoration: none;
			&:hover {
				color: $text-color;
			}
		}
		margin: 0.5em 0;
	}
	.text {
		display: inline-block;
		margin: 0.5em 0;
		width: 600px;
		min-height: 2em;
		line-height: 1.25em;
	}
	.points {
		display: block;
		float: right;
		text-align: right;
		margin: 0.25em;
		font-size: 1.5rem;
		background-color: $text-color;
		color: $background-color;
		padding:0.25em;
		width: 40px;
	}
	.theme {
		display: inline-block;
		color: lighten($text-color, 30%);
		padding: 0.25rem;
		i {
			padding-right: 0.25rem;
		}
	}
	.actions-button {
		float: right;
		display: block;
	}
	.dropdown-button {
		display: inline-block;
		margin: 0.25em;
		border: 1px solid rgba(0,0,0,0.2);
		color: $text-color;
		padding: 0.25em;
		&:hover {
			background-color: rgba(255,255,255,0.5) !important;
		}
	}
	.status-button {
		display: inline-block;
		margin: 0.25em;
		border: 1px solid rgba(0,0,0,0.2);
		color: $text-color;
		padding: 0.25em;
		&:hover {
			background-color: rgba(255,255,255,0.5);
		}
	}
	.no-points {
		background-color: mix($text-color, $background-color, 50%);
	}
	&.highlighted {
		box-shadow: 0px 0px 10px green;
	}
	&.opacified {
		opacity: 0.3;
	}
	.status {
		&[status=in_progress] {
			background-color: mix( blue, $background-color, 10%);
		}
		&[status=accepted] {
			background-color: mix( green, $background-color, 10%);
		}
		&[status=rejected] {
			background-color: mix( red, $background-color, 10%);
		}
		width: 152px;
		padding-left: 1em;
		margin-left:0;
		i {
			padding-left: 1em;
			float:right;
		}
	}
}

.handle-highlight {
	background-color: rgba(255,255,255,0.5);
	border:1px dashed rgba(0,0,0,0.2);
	// should be the same as article ( jquery-ui-soratbale )
	margin: 1.5em 0 0.5em 0;
	// do not forget dashed border
	padding: -1px;
}

.story-detail {
	.points {
		display: inline-block;
		float: right;
		//width: 4em;
		text-align: right;
		font-size: 2em;
		margin: 0 0.5em;
		background-color: $text-color;
		color: $background-color;
		padding: 0.25em 0.5em;
		box-shadow: 3px 3px 18px rgba(0,0,0,0.5);
		border-radius: 0.25em;
	}
	.no-points {
		background-color: mix($text-color, $background-color, 10%);
	}
	.description {
		font-size: 1.5em;
		line-height: 1.5em;
		display: block;
		width: 700px;
		background: white;
		padding: 1em;
		box-shadow: 3px 3px 18px rgba(0,0,0,0.5);
		border-radius: 0.25em;
	}
	.theme {
		color: lighten($text-color, 30%);
		padding: 0.25rem;
		i {
			padding-right: 0.25rem;
		}
	}
}

.poutre {
	border-bottom: 1px solid #bbbbbb;
	box-shadow: 0 1px 1px white;
	padding: 0.5em 0.25em;
}

.dropdown-button {
	box-sizing: border-box;
	& > li > a {
		color:$text-color;
		text-decoration: none;
		&:hover {
			color: darken($text-color, 50%);
		};
	}
	ul { display: none; } /* Hide before plugin loads */
	ul.dropit-submenu {
		background-color: #fff;
		border: 1px solid #b2b2b2;
		padding: 6px 0;
		margin: 3px 0 0 1px;
		-webkit-border-radius: 3px;
		   -moz-border-radius: 3px;
				border-radius: 3px;
		-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
		   -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
				box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
	}
	ul.dropit-submenu a {
		display: block;
		font-size: 14px;
		line-height: 25px;
		color: #7a868e;
		padding: 0 18px;
		white-space: nowrap;
	}
	ul.dropit-submenu a:hover {
		background: #248fc1;
		color: #fff;
		text-decoration: none;
	}
}

.project-users {
	width: 100%;
	thead {
		tr {
			background-color: mix($header-background-color,$background-color, 10%);
			border: 1px solid mix($header-background-color,$background-color, 30%);
		}
		td {
			padding:0.25em;
			font-weight: bold;
		}
	}
	tbody {
		tr:nth-child(even) {
			background-color: mix($header-background-color,$background-color, 10%);
		}
		.user-image {
			min-height: 28px;
			min-width: 28px;
		}
		td {
			padding:0.25em;
		}
		.user-actions a{
			text-decoration: none;
			color: mix(red,$background-color, 50%);
			font-size: 1.5em;
			&:hover {
				color: mix(red,$background-color, 80%);
			}
		}
	}
}

#links {
	background-color: $header-background-color-end;
	border-top: 1px solid rgba(255,255,255,0.2);

	padding: 0.25em 0.5em;
	a {
		padding: 0.25em 0.5em;
		display:inline-block;
	}
}

.home-login {
	width: 300px;
	background-color: rgba(0,0,0,0.1);
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 0.25em;
	box-shadow: 3px 3px 6px rgba(0,0,0,0.2);
	padding: 1em;
	input {
		font-size: 1.2em;
	}
	.full {
		width: 100%;
		margin-bottom:0.5em;
	}
	#id_password {
		width: 60%;
	}
	.button {
		font-size: 1em;
		width: 30%;
		max-width: 30%;
		float:right;
	}
	h3 {
		font-weight: bold;
		padding: 0 0 0.5em 0;
	}
	h1 {
		font-size: 4rem;

	}
}

input[colorpicker=true] {
	width: 6em !important;
}