$text-color: #333;
$background-color: #EEE;
$header-background-color: #0f787e;
$header-background-color-end: darken($header-background-color, 5%);
$header-text-color: #fbffdb;
$gray-text-color: #999;

$button-background-color: #ff5900;
$button-background-color-alt: darken($button-background-color, 8%);

html, body {
	font-family: OpenSansCondensedBold, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	//font-family: comic Sans MS, arial, courrier;;
	color: $text-color;
	background: $background-color;
	height:100%;
}

h1 {
	font-size: 1.5em;
	line-height: 1.5em;
	margin: 0.5rem 0;
}

h2 {
	font-size: 1.25em;
	line-height: 1.25em;
	color: lighten($text-color, 30%);
	margin: 0.25rem 0;
}

b, strong {
	font-weight: bold;
}

i, italic {
	font-style: italic;
}

p {
	margin-bottom: 0.25rem;
}

a {
	color:$header-background-color;
}

hr {
	border-top:1px solid rgba(0,0,0,0.2);
	border-bottom:1px solid rgba(255,255,255,1);
	box-sizing: border-box;
}
#header {
	@include clearfix;
	background-color: $header-background-color;
	background-image: -webkit-linear-gradient(top, $header-background-color 0%, $header-background-color-end 100%);
	background-image:    -moz-linear-gradient(top, $header-background-color 0%, $header-background-color-end 100%);
	background-image:         linear-gradient(top, $header-background-color 0%, $header-background-color-end 100%);
	color: $header-text-color;
	height: 3em;
	box-shadow: 0 1px 5px rgba(0,0,0,0.5);
	border-top: 1px solid black;
	border-bottom: 1px solid rgba(0,0,0,0.3);
	.header-in {
		width:900px;
		margin: 0 auto;
	}
	.avatar {
		// fit user model get_gravatar_url
		min-height: 32px;
	}
	.title {
		font-size: 1.25em;
		float: left;
		padding: 0.5em;
		width: 300px;
		text-shadow: 0px 0px 10px rgba(255,255,255,0.5);
		.debug {
			vertical-align: top;
		}
	}
	a {
		color: $header-text-color;
		text-decoration: none;
		&:hover {
			color: lighten($header-text-color, 20%)
		}
		&:before {
			padding-right:0.5em;
		}
	}
	.identity {
		float: right;
		margin-top: 9px;
		a *{
			vertical-align: middle;
		}
	}
	.buttons {
		margin-top: 3px;
		& > * {
			display:inline-block;
		}
		display:block;
		padding: 0.5em;
		float: right;
		a {
			font-weight: normal;
		}
		inpurt {
			font-family:inherit;
		}
		.sep {
			padding-right: 0.5em;
			text-shadow: -1px 0 1px black;
			border-left: 1px solid #fbffdb;
			width: 1px;
			height: 1em;
			margin-left: 0.5em;
		}
	}
	.logout {
		padding:0;
		color: $header-text-color;
		background: none;
		border-width: 0;
		font-size: 1em;
		cursor: pointer;
		&:hover {
			color: lighten($header-text-color, 20%)
		}
	}
	.notif-link {
		&:hover .notification_count{
			background-color: rgba(255,0,0,0.8);
		}
	}
	.notification_count {
		border: 1px solid rgba(0,0,0,0.3);
		background-color: rgba(255,0,0,0.5);
		box-shadow: 1px 1px 1px rgba(255,255,255,0.3);
		border-radius: 2em;
		padding: 0.25em 0.5em;
		box-sizing: border-box;
		display: inline-block;
	}
}

#content {
	@include clearfix;
	width:900px;
	margin: 0 auto;
	padding: 0 0.25em;
	overflow: visible;
	#messages {
		& > div {
			padding: 0.5em;
			border-top: 1px solid rgba(0,0,0,0.1);
			border-bottom: 1px solid rgba(255,255,255,0.1);
		}
		.success {
			color: #CFC;
			&:before {
				font-family: FontAwesome;
				content: "\f00c";
				padding-right:0.5em;
			}
		}
		.error {
			color: #FCC;
			&:before {
				font-family: FontAwesome;
				content: "\f071";
				padding-right:0.5em;
			}
		}
		background-color: mix($header-background-color-end ,black, 60%);
	}
	.path {
		display: block;
		font-size: 1rem;
		padding: 0.5rem 1rem;
		font-weight: normal;
		background-color: mix($header-background-color-end ,$background-color, 100%);
		border-top: 1px solid rgba(255,255,255,0.2);
		border-bottom: 1px solid rgba(0,0,0,0.3);
		box-shadow: 0px -2px 5px rgba(0,0,0,0.2);
		border-radius: 0 0 0rem 0rem;
		i {
			padding-right: 0.25rem;
			color: mix($header-background-color-end , white, 10%);
		}
		.sep {
			padding-left: 0.25rem;
			color: black;
			text-shadow: 1px 1px 1px rgba(255,255,255,0.2);
		}
		a {
			color: mix($header-background-color-end , white, 10%);
			text-decoration: none;
			&:hover {
				color: $header-text-color;
			}
		}
		.current {
			color: $header-text-color;
		}
		.action {
			font-style: italic;
		}
	}

	.sub-field {
		color: lighten($text-color, 25%);
		font-size: 0.75rem;
		padding: 0.25rem;
		font-weight: bold;
	}
}

#header, #links {
	a {
		color: $header-text-color;
		text-decoration: none;
		&:hover {
			color: lighten($header-text-color, 20%)
		}
		&:before {
			padding-right:0.5em;
		}
	}
}

form {
	.field {
		font-size:1.25rem;
		margin: 0.5em 0;
		label {
			display: inline-block;
			width: 200px;
			text-align: right;
			vertical-align:top;
			padding: 0.25rem;
		}
		input, textarea {
			font-size: 1em;
			width: 500px;
		}
		.helptext {
			color: #aaa;
			font-size: 0.75em;
		}
		.errorlist, .helptext {
			width: 500px;
			padding: 0.25em 0.25em;
			margin: 0 0 10px 214px;
		}
	}
	.read-only-field {
		vertical-align: sub;
		color: $gray-text-color;
	}
	pre {
		font-size: 1.2em;
		font-family: monospace;
		display: inline-block;
		color: $text-color;
		background-color: white;
		border: 1px dashed rgba(0,0,0,0.2);
		padding: 2px;
	}
	.submit {
		padding-left: 212px;
		input {
			font-size: 1rem;
		}
	}
}

.left {
	float:left;
	width: 450px
}

.right {
	margin-left: 1em;
	float:right;
	width: 350px
}

.events-list {
	font-size: 0.75em;
	line-height: 1rem;
	border-collapse:collapse;
	td {
		vertical-align: top;
		padding-bottom: 10px;
	}
	img {
		margin-right: 6px;
		width:32px;
		height:32px;
	}
	.info {
		a {
			border-left: 2px solid $header-background-color;
			color: $header-background-color;
			padding-left: 6px;
			margin-left: 4px;
		}
	}
	.when{
		float:left;
		line-height: 2em;
	}
	.when {
		color: $gray-text-color;
	}
}

.project-list, .backlog-list {
	li {
		display: block;
		font-size: 1.5em;
		min-height: 100px;
		overflow: hidden;
		margin-bottom:1em;
		.title {
			border-bottom: 2px solid $header-background-color;
			padding: 0.2em 0;
			.black {
				color: $text-color;
			}
			a {
				color: $header-background-color;
				text-decoration: none;
				&:hover {
					color: initial;
				}
			}
		}
		.info {
			color: $gray-text-color;
		}
		.stats {
			margin-left: 2rem;
		}
		.create {
			font-size: 0.75rem;
		}
	}
	.story-stats {
		float:left;
		display: inline-block;
		width: 300px;
		margin: 0.25em;
		background-color: rgba(0,0,0,0.05);
		height: 59px;
	}
	.top-stories {
		float:left;
		display: inline-block;
		font-size:1rem;
		padding-left: 0.25em;
		margin: 0.25em;
		.story {
			display: inline-block;
			padding: 2px 0;
		}
	}
}


.button {
	font-size: 1em;
	line-height: 1em;
	font-weight: normal;
	display: inline-block !important;
	white-space: nowrap;
	text-decoration: none;
	text-shadow: 1px 1px 0 rgba(0,0,0,.2);
	cursor: pointer;
	border: 1px solid rgba(0,0,0,0.2);
	background-color: $button-background-color;
	background-image: -webkit-linear-gradient(top, $button-background-color 50%, $button-background-color-alt 55%);
	background-image:    -moz-linear-gradient(top, $button-background-color 50%, $button-background-color-alt 55%);
	background-image:     -ms-linear-gradient(top, $button-background-color 50%, $button-background-color-alt 55%);
	background-image:      -o-linear-gradient(top, $button-background-color 50%, $button-background-color-alt 55%);
	background-image:         linear-gradient(top, $button-background-color 50%, $button-background-color-alt 55%);

	color: $header-text-color;
	padding: 0.5rem 0.5rem;
	box-shadow: 0 0 1px 1px rgba(255,255,255,.4) inset, 0 1px 0 rgba(0,0,0,.2);
	border-radius:0.25rem;
	&:hover {
		background-color: lighten( $button-background-color, 10%);
		background-image: none;
		color: lighten($header-text-color, 20%);
	}
	&:before {
		padding-right:0.2rem;
	}
}

.alt-button {
	cursor: pointer;
	border: none;
	background: none;
	font-size: 1em;
	font-family: inherit;
	padding: 0 0.25em;
	color: $button-background-color;
	font-weight: bold;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

.project-count {
	padding: 0.5rem;
	font-weight: bold;
	background-color: white;
	border-bottom: 2px solid rgba(0,0,0,0.3);
	display: block;
}

.description {
	margin: 0.5em 0;
	line-height: 1.2em;
	color: $gray-text-color;
}

.actions {
	padding: 1em 0;
	border-top: 1px solid rgba(0,0,0,0.3);
}

p.errorlist {
	background-color: lighten(red,35%);
	padding: 0.5rem;
	border: 1px solid red;
}

ul.errorlist li {
	color: red;
	font-size: 1rem;
	margin: 0.25em 0;
}

.markdown {
	ul {
		margin-left: 1rem;
		list-style-position: inside;
		list-style-type: circle;
		li {
			margin: 0.2rem 0;
		}
	}
}

.acceptance-criteria {
	ul {
		list-style-type: lower-alpha !important;
		list-style-position: outside !important;
		li {
			background-color: white;
			box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
			margin: 0.5em;
			padding: 0.5em;
		}
	}
}
.story-count, .kind, .points-count {
	font-size: 1rem;
	font-family: monospace;
	padding: 0.25em;
	margin: 0.25em;
	display: inline-block;
	border: 1px solid rgba(0,0,0,0.1);
	background-color: rgba(0,0,0,0.05);
	color: lighten($text-color, 30%)
}

article.story {
	display:block;
	position: relative;
	margin: 0.5em 0 0.5em 0;
	padding: 1px;
	.handle {
		position: absolute;
		top: 1px;
		width: 10px;
		bottom: 1px;
		left: 0px;
		background-image: url('../img/grab.png');
		background-color: rgba(127,127,127,0.5);
		border-top:1px solid rgba(0,0,0,0.2);
		border-left:1px solid rgba(0,0,0,0.2);
		border-bottom:1px solid rgba(0,0,0,0.2);
		cursor: pointer;
	}
	.handled {
		padding-left:15px;
		background-color: rgba(0,0,0,0.1);
		border-top:1px solid rgba(0,0,0,0.2);
		border-right:1px solid rgba(0,0,0,0.2);
		border-bottom:1px solid rgba(0,0,0,0.2);
		border-left:1px solid rgba(255,255,255,0.6);
		padding: 8px 2px 8px 18px;
	}
	.color {
		content: "\00a0";
		width: 1em;
		float: left;
		font-size: 1.25rem;
		line-height: 1.25rem;
		border: 1px solid rgba(0,0,0,0.2);
		margin: 0.5em 0.25em 0 0;
	}
	.code {
		display: inline-block;
		width: 160px;
		float: left;
		font-size: 1.25rem;
		a {
			color: $header-background-color;
			font-weight: bold;
			text-decoration: none;
			&:hover {
				color: $text-color;
			}
		}
		margin: 0.5em 0;
	}
	.text {
		display: inline-block;
		margin: 0.5em 0;
		width: 600px;
		min-height: 2em;
		line-height: 1.25em;
	}
	.points {
		display: inline-block;
		width: 40px;
		height: 40px;
		line-height: 36px;
		text-align: center;
		vertical-align: middle;
		border-radius:2rem;
		float: right;
		margin: 0.25em;
		font-size: 1.5rem;
		background-color: $text-color;
		color: $background-color;
		width: 40px;
	}
	.theme {
		display: inline-block;
		color: lighten($text-color, 30%);
		padding: 0.25rem;
		i {
			padding-right: 0.25rem;
		}
	}
	.actions-button {
		float: right;
		display: block;
		box-sizing: border-box;
	}
	.dropdown-button {
		display: inline-block;
		margin: 0.25em;
		border: 1px solid rgba(0,0,0,0.2);
		color: $text-color;
		padding: 0.25em;
		&:hover {
			background-color: rgba(255,255,255,0.5) !important;
		}
	}
	.status-button {
		display: inline-block;
		margin: 0.25em;
		border: 1px solid rgba(0,0,0,0.2);
		color: $text-color;
		padding: 0.25em;
		&:hover {
			background-color: rgba(255,255,255,0.5);
		}
	}
	.no-points {
		background-color: mix($text-color, $background-color, 50%);
	}
	&.highlighted {
		box-shadow: 0px 0px 10px green;
	}
	&.opacified {
		opacity: 0.3;
	}
	.status {
		&[status=in_progress] {
			background-color: mix( blue, $background-color, 10%);
		}
		&[status=accepted] {
			background-color: mix( green, $background-color, 10%);
		}
		&[status=rejected] {
			background-color: mix( red, $background-color, 10%);
		}
		width: 152px;
		padding-left: 1em;
		margin-left:0;
		i {
			padding-left: 1em;
			float:right;
		}
	}
}

.handle-highlight {
	background-color: rgba(255,255,255,0.5);
	border:1px dashed rgba(0,0,0,0.2);
	// should be the same as article ( jquery-ui-soratbale )
	margin: 0.5em 0 0.5em 0;
	// do not forget dashed border
	padding: -1px;
}

.story-detail {
	.points {
		display: table-cell;
		float: right;
		width: 60px;
		height: 60px;
		line-height: 56px;
		text-align: center;
		vertical-align: middle;
		font-size: 2em;
		margin: 0 0.5em;
		background-color: $text-color;
		color: $background-color;
		padding: 0;
		box-shadow: 3px 3px 18px rgba(0,0,0,0.5);
		border-radius: 2rem;
	}
	.no-points {
		background-color: mix($text-color, $background-color, 10%);
	}
	.description {
		font-size: 1.5em;
		line-height: 1.5em;
		display: block;
		width: 700px;
		background: white;
		padding: 1em;
		box-shadow: 3px 3px 18px rgba(0,0,0,0.5);
		border-radius: 0.25em;
		color: $text-color;
	}
	.theme {
		color: lighten($text-color, 30%);
		padding: 0.25rem;
		i {
			padding-right: 0.25rem;
		}
	}
}

.poutre {
	border-bottom: 1px solid #bbbbbb;
	box-shadow: 0 1px 1px white;
	padding: 0.5em 0.25em;
}

.dropdown-button {
	box-sizing: border-box;
	& > li > a {
		color:$text-color;
		text-decoration: none;
		&:hover {
			color: darken($text-color, 50%);
		};
	}
	ul { display: none; } /* Hide before plugin loads */
	ul.dropit-submenu {
		background-color: #fff;
		border: 1px solid #b2b2b2;
		padding: 6px 0;
		margin: 3px 0 0 1px;
		-webkit-border-radius: 3px;
		   -moz-border-radius: 3px;
				border-radius: 3px;
		-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
		   -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
				box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
	}
	ul.dropit-submenu a {
		display: block;
		font-size: 14px;
		line-height: 25px;
		color: #7a868e;
		padding: 0 18px;
		white-space: nowrap;
	}
	ul.dropit-submenu a:hover {
		background: #248fc1;
		color: #fff;
		text-decoration: none;
	}
}

.project-users, .project-stories {
	width: 100%;
	a {
		text-decoration: none;
		color: $header-background-color;
		font-weight: normal;
	}
	a.active {
		font-weight: bold;
	}
	a:hover {
		text-decoration: underline;
	}
	thead {
		tr {
			background-color: mix(white,$background-color, 90%);
			border-bottom: 2px solid mix($header-background-color,$background-color, 30%);
		}
		td {
			padding:0.25em;
			font-weight: bold;
			white-space: nowrap;

		}
	}
	tbody {
		tr:nth-child(even) {
			background-color: mix($header-background-color,$background-color, 10%);
		}
		.user-image {
			min-height: 28px;
			min-width: 28px;
		}
		td {
			padding:0.25em;
		}
		.user-actions a{
			text-decoration: none;
			color: mix(red,$background-color, 50%);
			font-size: 1.5em;
			&:hover {
				color: mix(red,$background-color, 80%);
			}
		}
		[status] {
			font-size: 0.75em;
			white-space: nowrap;
			padding: 0.25em 0.5em;
			background-color: gray;
			color: white;
			&[status=accepted] {
				background-color: rgb(0,180,50);
			}
			&[status=rejected] {
				background-color: rgb(200,0,50);
			}
			&[status=completed] {
				background-color: rgb(0,100,150);
			}
		}
		.story-theme {
			color: gray;
			font-size: 0.75em;
		}
	}
	.story-code {
		width: 100px;
		font-weight: bold;
	}
	.story-desc {
		padding: 0.5em;
	}

}


#links {
	background-color: $header-background-color-end;

	border-top: 1px solid rgba(255,255,255,0.2);
	border-bottom: 1px solid rgba(0,0,0,0.5);

	padding: 1em 0.5em 0em 0.5em;
	a {
		padding: 0.25em 0.5em;
		display:inline-block;
	}
	.tab {
		padding: 0.1em 0.5em 7px 0.5em;
		margin: 0 0.5em;
		background-color: lighten($header-background-color-end, 1%);
		box-shadow: 0 0 1px 1px rgba(255,255,255,.1) inset, 0 1px 2px rgba(0,0,0,.5);
		border: 1px solid rgba(0,0,0,.2);
		&.active {
			padding: 0.1em 1em 7px 1em;
			background-color: $background-color;
			border-top: 1px solid rgba(0,0,0,0.5);
			border-bottom: 0 solid transparent;
			border-left: 0 solid transparent;
			border-right: 0 solid transparent;
			box-shadow: none;
			font-weight: bold;
		}
	}
}

.home-login {
	width: 300px;
	float:right;
	clear: right;
	background-color: rgba(255,255,255,0.3);
	border-top: 1px solid rgba(255,255,255,0.3);
	border-left: 1px solid rgba(255,255,255,0.3);
	border-radius: 0.25em;
	box-shadow: 3px 3px 6px rgba(0,0,0,0.2);
	padding: 1em;
	margin: 1em;
	input {
		font-size: 1.2em;
		font-size: 1.2em;
		margin: 6px 0;
	}
	.full {
		width: 100%;
		margin-bottom:0.25em;
	}
	#id_password {
		width: 60%;
	}
	.button {
		font-size: 1em;
		width: 30%;
		max-width: 30%;
		float:right;
	}
	h3 {
		font-weight: bold;
		padding: 0 0 0.5em 0;
	}
	h1 {
		font-size: 4rem;

	}
}

input[colorpicker=true] {
	width: 6em !important;
}

.login-background, .home-background {
	background-image: url("../img/background.jpg");
	background-color: alpha($header-background-color-end);

	h1, label {
		text-shadow: 0px 0px 12px rgba($header-text-color, 0.7);
		color: $header-text-color;
		font-size: 2em;
	}
	p {
		color: rgba(255,255,255,0.5);
	}
	a {
		color: black;
		text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
	}
	.alert {
		span {
			margin-top:1em;
			width: 1em;
			display: inline-block;
			font-size: 3em;
			color: rgba(0,0,0,0.3);
			text-shadow: 1px 1px 1px rgba(255,255,255,0.1);
		}
		float: left;
		width: 500px;
	}
}

.invitation {
	margin: 0.5em;
	box-sizing: border-box;
	border: 1px solid rgba(0,0,0,0.1);
	p {
		padding: 0.5em;
	}
	.invit-actions {
		background-color: rgba(0,0,0,0.1);
		padding: 0.5em;
		form {
			display: inline-block;
		}
	}
}

textarea[name=as_a] {
	height: 3rem;
}
textarea[name=so_i_can] {
	height: 6rem;
}
textarea[name=i_want_to] {
	height: 6rem;
}

.percent-cell {
	font-size: 1rem;
	border: 1px solid rgba(0,0,0, 0.3);
	box-sizing: border-box;
	.name {
		display:block;
		width:100%;
		clear:both;
		padding: 0.25em;
	}
	.percent {
		font-size: 0.75em;
		color: rgba(0,0,0,0.5);
		text-align: left;
		line-height: 1.25em;
		padding-left: 0.25em;
		clear:both;
		display:block;
		height: 1rem;
		min-height: 1rem;
		background-color: #eee;
		border: 1px solid rgba(0,0,0,0.2);
		box-sizing: border-box;
		overflow-x: visible;
		white-space: nowrap;
	}
}

.legend {
	border: 1px solid rgba(0,0,0,0.2);
	font-size: 0.75rem;
	text-align: left;
	line-height: 1.25em;
	padding: 0.25em;
}

.bg-green {
	background-color: rgb(200,255,230) !important;
}
.bg-blue {
	background-color: rgb(200,230,255) !important;
}

.search {
	input {
		font-size: 1rem;
	}
}

.project-head {
	.name {
		display: inline-block;
		font-size: 1.5em;
		margin: 0.5em 0;
	}
	a {
		font-size: 0.75em;
		vertical-align: text-top;
	}
}

.api {
	pre {
		font-size: 1.2em;
		font-family: monospace;
		display: inline-block;
		color: $text-color;
		background-color: white;
		border: 1px dashed rgba(0,0,0,0.2);
		padding: 0.25em 0.5em;
	}
	ul {
		list-style: circle;
		list-style-position: inside;
		margin:0.5em;
	}
	h2, h1 {
		margin:1em 0;
	}
}