$text-color: #333;
$background-color: #EEE;
$header-background-color: #0b474d;
$header-background-color-end: darken($header-background-color, 5%);
$header-text-color: #fbffdb;
$gray-text-color: #999;

$button-background-color: #ff5900;
$button-background-color-alt: darken($button-background-color, 8%);

$box-background-color: #f5f5f5;
$box-border-color: #e3e3e3;

$tab-content-color: #eee;

.select-mini {
  	font-size: 1em;
	height: 1.5em;
}

.upper-bar {
	width:900px;
	margin: 0 auto;
	padding: 0 0.25em;
}

.option-caret {
	display: inline-block;
  	width: 10px;
  	height: 10px;
  	vertical-align: top;
	&:before {
		font-size: 10px;
  		content: "\f0dc";
		line-height: 10px;
		font-family: fontawesome;
	}
}

.notification_count {
	border: 1px solid rgba(0,0,0,0.3);
	background-color: mix(red, $header-background-color, 50%);
	border-radius: 2em;
	padding: 2px 0.5em;
	box-sizing: border-box;
	color: #ddd;
	&:hover {
		background-color: mix(red, $header-background-color, 80%);
	}
}

/*
.base-form {
	input[name], textarea {
		display: block;
		width: 100%;
		min-height: 30px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		&[name] {
			width: 100%;
		}
	}
}
*/
.boxed {
	border:1px solid $box-border-color;
	background-color: $box-background-color;
	padding: 8px 14px 8px 14px;
	margin-bottom: 20px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	box-sizing: border-box;
}

.padding-reset {
	padding: 0px;
}

.margin-left {
	margin-left: 20px;
}

.smaller {
	font-size: 0.5em;
	font-weight: normal;
}

.left-quote {
	border-left: 5px solid $box-border-color;
	padding-left: 5px;
}

.dropdown-title {
	padding:2px 20px 2px 20px;
	border-bottom: 1px solid $box-border-color;
}

.filter-highlighted {
	box-shadow: 0px 0px 10px #0088cc;
}
.filter-opacified {
	opacity: 0.3;
}

.events-list {
	font-size: 1em;
	line-height: 1.2em;
	border-collapse:collapse;
	td {
		vertical-align: top;
		padding-bottom: 10px;
	}
	img {
		margin-right: 3px;
		width:24px;
		height:24px;
		min-width: 24px;
		border-radius:4px;
	}
	.info {
		a {
			border-left: 2px solid $header-background-color;
			padding-left: 6px;
			margin-left: 4px;
			white-space: nowrap;
		}
	}
	.when{
		float:left;
		line-height: 2em;
		color: $gray-text-color;
	}
	.user_image_cell {
		width: 30px;
		min-width: 30px;
		max-width: 30px;
	}
}

.black {
	color: $text-color;
}

.backlog-list {
	padding-left: 0px;
}

.project-list, .backlog-list {
	clear: both;

	li {
		display: block;
		overflow: hidden;
		margin-bottom:1em;
		clear: both;
		.info {
			color: $gray-text-color;
		}
		.stats {
			margin-left: 2rem;
		}
		.create {
			font-size: 0.75rem;
		}
	}

	.story-stats {
		float:left;
		display: inline-block;
		margin: 0.25em;
		background-color: #f5f5f5;
		font-size: 1em;
	}
	.top-stories {
		float:left;
		display: inline-block;
		font-size:1rem;
		padding-left: 0.25em;
		margin: 0.25em;
		.story {
			display: inline-block;
			padding: 2px 0;
		}
	}
}


.project-count {
	padding: 0.5rem;
	font-weight: bold;
	background-color: white;
	border-bottom: 2px solid rgba(0,0,0,0.3);
	display: block;
}

.description {
	margin: 0.5em 0;
	line-height: 1.2em;
	color: $gray-text-color;
}

.actions {
	padding: 1em 0;
	border-top: 1px solid rgba(0,0,0,0.3);
}

.actions-small {
	padding: 0.5em 0;
}

ul.errorlist li {
	color: red;
	font-size: 1rem;
	margin: 0.25em 0;
}

.markdown {
	ul {
		margin-left: 1rem;
		list-style-position: inside;
		list-style-type: circle;
		li {
			margin: 0.2rem 0;
		}
	}
}

.acceptance-criteria {
	ul {
		list-style-type: lower-alpha !important;
		list-style-position: outside !important;
		li {
			background-color: white;
			box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
			margin: 0.5em;
			padding: 0.5em;
		}
	}
}
.story-count, .kind, .points-count {
	font-size: 1rem;
	font-family: monospace;
	padding: 0.25em;
	margin: 0.25em;
	display: inline-block;
	border: 1px solid rgba(0,0,0,0.1);
	background-color: rgba(0,0,0,0.05);
	color: lighten($text-color, 30%)
}


.handle-highlight {
	background-color: rgba(255,255,255,0.5);
	border:1px dashed rgba(0,0,0,0.2);
	// should be the same as article ( jquery-ui-soratbale )
	margin: 0.5em 0 0.5em 0;
	// do not forget dashed border
	padding: -1px;
}

.story-detail {
	.points {
		width: 60px;
		height: 60px;
		line-height: 60px;
		text-align: center;
		vertical-align: middle;
		font-size: 2em;
		margin: 0.5em 0.5em;
		background-color: #333;
		color: #eee;
		padding: 0;
		border-radius: 2em;
	}
	.no-points {
		background-color: mix($text-color, $background-color, 10%);
	}
	.description {
		font-size: 1.5em;
		line-height: 1.5em;
		padding: 1em;
		border: 2px solid gray;
		background-color: #eee;
		color: $text-color;
	}
	.theme {
		color: lighten($text-color, 30%);
		padding: 0.25rem;
		i {
			padding-right: 0.25rem;
		}
	}
}

.users-list {
	.myself {
		color: darkblue;
	}
	td.user-guest {
		text-align: center;
		color: black;
	}
}


.project-users, .project-stories {
	thead {
		th {
			white-space: nowrap;
		}
	}
	tbody {
		.user-image {
			min-height: 28px;
			min-width: 28px;
		}
		td {
			padding:0.25em;
		}

		[status] {
			font-size: 0.75em;
			white-space: nowrap;
			//padding: 0.25em 0.5em;
			//background-color: gray;
			color: white;
			&[status=accepted] {
				background-color: rgb(0,180,50);
			}
			&[status=rejected] {
				background-color: rgb(200,0,50);
			}
			&[status=completed] {
				background-color: rgb(0,100,150);
			}
			&[status=in_progress] {
				background-color: #444;
			}

		}
		.story-theme {
			color: gray;
		}
	}
	.story-code {
		width: 100px;
		font-weight: bold;
	}
	.story-desc {
		padding: 0.5em;
	}

}


.home-login {
	background-color: $box-background-color;
	border: 1px solid $box-border-color;
	box-shadow: 3px 3px 6px rgba(0,0,0,0.2);
	border-radius: 0.25rem;
	margin: 1em;
	padding: 1em;
	input.full {
		width: 286px;
	}
}
input[colorpicker=true] {
	width: 6em !important;
}

.login-background, .home-background {

	.home-blog {
		float: left;
		width: 500px;
		position: relative;
		display: block;
		margin-top: 1em;
	}
}

.invitation {
	margin: 0.5em;
	box-sizing: border-box;
	border: 1px solid rgba(0,0,0,0.1);
	p {
		padding: 0.5em;
	}
	.invit-actions {
		background-color: $box-background-color;
		padding: 0.5em;
		form {
			display: inline-block;
			margin:0;
		}
	}
}

textarea[name=as_a] {
	height: 3rem;
}
textarea[name=so_i_can] {
	height: 6rem;
}
textarea[name=i_want_to] {
	height: 6rem;
}

.percent-cell {
	font-size: 1rem;
	border: 1px solid $box-border-color;
	box-sizing: border-box;
	.name {
		display:block;
		width:100%;
		clear:both;
		padding: 0.25em;
	}
	.percent {
		font-size: 0.75em;
		color: rgba(0,0,0,0.5);
		text-align: left;
		line-height: 1.25em;
		padding-left: 0.25em;
		clear:both;
		display:block;
		height: 1rem;
		min-height: 1rem;
		background-color: #eee;
		border: 1px solid rgba(0,0,0,0.1);
		box-sizing: border-box;
		overflow-x: visible;
		white-space: nowrap;
	}
	p {
		margin:0px;
	}
}

.legend {
	border: 1px solid rgba(0,0,0,0.2);
	font-size: 0.75rem;
	text-align: left;
	line-height: 1.25em;
	padding: 0.25em;
}

.bg-green {
	background-color: rgb(200,255,230) !important;
}
.bg-blue {
	background-color: rgb(200,230,255) !important;
}

.inline-title {
	display: inline-block;
}

.project-head {
	a {
		margin: 0.25em;
	}
}

.api {
	pre {
		font-size: 1.2em;
		font-family: monospace;
		display: inline-block;
		color: $text-color;
		background-color: white;
		border: 1px dashed rgba(0,0,0,0.2);
		padding: 0.25em 0.5em;
	}
	ul {
		list-style: circle;
		list-style-position: inside;
		margin:0.5em;
	}
	h2, h1 {
		margin:1em 0;
	}
}

.project-backlogs, .org-backlogs {
	#content {
		width: auto;
		margin:0;
	}
	.top-right {
		position:absolute;
		top: 1px;
		right: 1px;
	}
	.backlog-lanes {
		float: left;
	}
	.center-lane {
		float: none;
		margin: 0 auto;
	}
	.backlog-lanes-source {
		clear: both;
		background-color: #0088cc;
		border-radius: 10px;
	}
	.project-chooser {
		max-width:220px;
		display: inline-block;
		overflow: hidden;
	}
	.backlog-lanes, .backlog-lanes-source {
		position: relative;
		.backlog-handle {
			border-bottom: 1px solid rgba(black, 0.1);
			background-color: rgba(white,0.5);
			background-image: url('../img/grab.png');
			height: 14px;
			cursor: pointer;
			display: hidden;
			padding:1px;
		}
		.backlog-place-holder {
			background-color:  #eee;
			border: 1px dashed rgba(black, 0.2);

			border-radius:5px;
			// should be the same as article ( jquery-ui-soratbale )
			margin: 0.5em 0 0.5em 0;
			// do not forget dashed border
			padding: -1px;
			width: 300px;
			min-height: 60px;
			display: block;
			float: left;
			margin: 9px;
			position: relative;
		}
		article.backlog {
			&.main {
				background-color: #d9edf7;
				border:1px solid #0088cc;
				//color: #0088cc;
			}
			box-sizing: border-box;
			background: #e3e3e3;
			margin: 9px;
			position: relative;
			width: 300px;
			display: block;
			float: left;
			border: 1px solid rgba(0,0,0, 0.2);
			border-radius: 5px;
			.backlog-title {
				font-weight: bold;
				text-align: left;
				margin: 0.5em;
			}
			.stories {
				min-height: 60px;
			}
			.backlog-action {
				text-align: center;
				padding: 0.5rem 0;
			}
			a {
				text-decoration: none;
				&:hover {
					color: black;
				}
			}
			.story-place-holder {
				background-color: rgba(255,255,255,0.5);
				border:1px dashed rgba(0,0,0,0.2);
				border-radius:5px;
				// should be the same as article ( jquery-ui-soratbale )
				margin: 0.5em 0 0.5em 0;
				// do not forget dashed border
				padding: -1px;
				margin: 5px;
			}
		}
		article.small-story {
			position: relative;
			border-radius: 5px;
			border:1px solid rgba(black,0.2);
			box-sizing: border-box;
			transition: box-shadow 0.5s ease;
			transition: opacity 0.5s ease;
			.handle {
				position: absolute;
				top: 2px;
				width: 8px;
				bottom: 2px;
				left: 2px;
				border-top-left-radius: 4px;
				border-bottom-left-radius: 4px;
				background-color: transparent;
				display: hidden;
			}
			.handled {
				padding: 0px 6px 0px 14px;
			}
			background-color: rgba(white,0.8);
			margin: 5px;

			.story-title {
				margin:4px 0;
				float:left;
				width: 160px;
				font-weight: bold;
				text-align: left;
			}
			.points, .status {
				margin: 3px;
				float: right;
				width: 22px;
				line-height: 22px;
				font-weight: bold;
				color: #444;
				text-align: center;
				font-size: 0.75em;
			}
			.points {
				border: 1px solid #0088cc;
				background-color: white;
				border-radius: 2em;
				text-align: center;
			}
			.status {
				border: 1px solid $box-border-color;
				border-radius: 2em;
				width: 38px;
				text-align: left;
				padding: 0 5px 0 5px;
				i {
					font-size: 13px;
					color: #444;
				}
				.story-status[status=to_do] {
					i.icon:before {
						content: "\f10c";
						color: $box-border-color;
					}
				}
				.story-status[status=in_progress] {
					i.icon:before {
						content: "\f085";
						color: #777;
					}
				}
				.story-status[status=completed] {
					i.icon:before {
						content: "\f00c";
						color: #0c7e6e;
					}
				}
				.story-status[status=accepted] {
					i.icon:before {
						content: "\f164";
						color: #348038;
					}
				}
				.story-status[status=rejected] {
					i.icon:before {
						content: "\f165";
						color: #ff6466;
					}
				}
				div.btn-group, a.btn {
					line-height: 11px;
				}
				ul {
					text-align: left;
				}
			}
			.text {
				cursor: pointer;
				padding: 2px 0;
				clear:both;
				//text-align: justify;
				line-height: 1.3em;
			}
			.theme {
				padding: 2px 0;
				color: gray;
			}
			.get-it {
				margin: 3px;
				float: right;
				width: 22px;
				height: 22px;
				padding: 1px 0;
			}
		}
	}
}

#ws-status {
	cursor: pointer;
	text-shadow:1px 1px 1px rgba(255,255,255, 0.2);
	.status[status=connected] {
		background-color: #468847;
	}
	.status[status=disconnected] {
		background-color: #b94a48;
	}
	.status {
		transition: all 0.5s ease;
	}
}

article.story {
	border:1px solid #999;
	border-radius:5px;
	margin: 10px 0;
	background-color:  rgba($box-background-color, 0.8);
	position: relative;
	transition: box-shadow 0.5s ease;
	transition: opacity 0.5s ease;
	.handle {
		position: absolute;
		top: 1px;
		width: 12px;
		bottom: 1px;
		left: 1px;
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
		background-color: transparent;
		display: hidden;
		//border-top: 1px solid rgba(white, 0.7);
		//border-left: 1px solid rgba(white, 0.5);
		//border-bottom: 1px solid rgba(black, 0.1);
		border-right: 1px solid rgba(black, 0.2);
	}
	.handled {
		margin: 0px 6px 0px 14px;
		padding-left: 10px;
		box-sizing: border-box;
		border-left: 1px solid white;
	}
	.code {
		box-sizing: border-box;
	}
	.points,.status {
		margin: 6px 0;
		width: 40px;
		max-width:40px;
		line-height: 40px;
		font-weight: bold;
		text-align: center;
		font-size: 1.25em;
		background-color: white;
		display: inline-block;
	}
	.points {
		color: #444;
		border: 1px solid #0088cc;
		border-radius: 2em;
		display: inline-block;
	}
	.status {
		border: 1px solid $box-border-color;
		border-radius: 2em;;
		i {
			font-size: 13px;
			color: #444;
		}
		.story-status[status=to_do] {
			i.icon:before {
				content: "\f10c";
				color: $box-border-color;
			}
		}
		.story-status[status=in_progress] {
			i.icon:before {
				content: "\f085";
				color: #777;
			}
		}
		.story-status[status=completed] {
			i.icon:before {
				content: "\f00c";
				color: #0c7e6e;
			}
		}
		.story-status[status=accepted] {
			i.icon:before {
				content: "\f164";
				color: #348038;
			}
		}
		.story-status[status=rejected] {
			i.icon:before {
				content: "\f165";
				color: #ff6466;
			}
		}
		div.btn-group, a.btn {
			line-height: 11px;
		}
		ul {
			text-align: left;
		}
	}
	.text {
		clear: left;
		text-align: justify;
	}
	.theme {
		padding: 10px 0;
		color: #777;
		clear: both;
	}
	.acceptances, .comments {
		min-height: 1rem;
		box-sizing: border-box;
		padding: 6px;
		overflow: hidden;
		overflow-wrap: break-word;
	}
}

.large-story-place-holder {
	background-color: rgba(0,0,0,0.1);
	border:1px dashed rgba(0,0,0,0.2);
	border-radius:5px;
	// should be the same as article ( jquery-ui-soratbale )
	margin: 0.5em 0 0.5em 0;
	// do not forget dashed border
	box-sizing: border-box;
}


$patille-size: 12px;

.pastille {
	margin: 6px 0;
	min-width: $patille-size;
	max-width: $patille-size;
	width: $patille-size;
	min-height:$patille-size;
	max-height:$patille-size;
	height: $patille-size;
	line-height: $patille-size;
	font-size: $patille-size;
	overflow: hidden;
	text-align: center;
	box-sizing: border-box;
	//border-bottom: 1px solid rgba(black, 0.5);
	//border-right: 1px solid rgba(black, 0.5);

	//border-top: 1px solid rgba(white, 0.7);
	//border-left: 1px solid rgba(white, 0.7);
	box-shadow: 0px 0px 1px black;
	border: 2px solid rgba(white, 0.7);
	border-radius: 2em;
	display: inline-block;
}

.muted-more {
	color: $box-border-color;
	text-shadow: 1px 1px white;
}

#ws-users {
	border: 1px solid rgba(white, 0.5);
	background-color: rgba(black, 0.2);
	border-radius: 20px;
	padding: 1px;
	min-width: 14px;
	display: inline-block;
	text-align: center;
	height: 14px;
}

.tt-user {
	white-space: nowrap;
	padding: 2px;
	img {
		border: 1px solif rgba(white, 0.2);
	}
}

.graph400 {
	min-height: 400px;
	height: 400px;
}

article.backlog {
	.back-to-main {
		display: none;
	}
}

article.backlog.org-backlog {
	.back-to-main {
		display: block;
	}
}
.get-it {
	display: none;
}
.backlog-lanes-source {
	.get-it {
		display: block;
	}
}

.progress-indicator {
	top:0;
	right:0;
	width:100%;
	height:100%;
	position:fixed;
	text-align:center;
	/* IE filter */
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	-moz-opacity:0.5;    /* Mozilla extension */
	-khtml-opacity:0.5;  /* Safari/Conqueror extension */
	opacity:0.5; /* CSS3 */
	z-index:1000;
	background-color:white;
	display:none;
	img {
   		margin-top: 55px;
 	}
 }

.dashboard-stories-list {
	padding-left: 20px;
}

.breadcrumb {
	margin-bottom: 0px;
	border-radius: 0px;
}

.nav-crumb {
	border-radius: 0px;
	border-color: $navbar-default-border;
}

.archived {
	margin:0px;
}

.main-navbar {
	margin-bottom: 0px;
}

.label-inverse {
	background-color: #222;
}

.submit {
	margin-top: 20px;
	margin-bottom: 20px;
}