<article class="{% if backlog.is_main %}main{% endif %} backlog" id="backlog-{{ backlog.pk }}" backlog-id="{{ backlog.pk }}">
	<div class="backlog-title">
		<div class="btn-group">
			<a class="btn btn-link dropdown-toggle padding-reset" href="#" data-toggle="dropdown">
				<span class="project-chooser">
				{% if backlog.project_id %}
					 {{ backlog.project.name }} [{{ backlog.project.code }}]
				{% else %}
					{{ backlog.name }}
				{% endif %}
				</span>
				{% if not is_project_backlog %}
					<span class="caret"></span>
				{% else %}
					<span class="icon-sort black"></span>
				{% endif %}
			</a>
			<ul class="dropdown-menu">
				{% if is_project_backlog %}
					{% for proj in projects_with_main %}
						<li><a class="project-chooser-list" href="{% url "org_sprint_planning" organization.pk %}?project_id={{ proj.pk }}">{{ proj.name }} <small class="muted">[{{ proj.code }}]</small> </a></li>
					{% endfor %}
				{% else %}
					<li><a href="{% url "print_stories" %}?backlog_id={{ backlog.pk }}">{% trans "Print stories" %}</a></li>
					<li class="divider"></li>
					<li><a href="{% url "org_backlog_edit" organization.pk backlog.pk %}">{% trans "Edit" %}</a></li>
					<li><a href="{% url "org_backlog_delete" organization.pk backlog.pk %}">{% trans "Delete" %}</a></li>
				{% endif %}
			</ul>
		</div>
		<span class="muted small">({{ backlog.stats.total_stories }})</span>
		{% if backlog.is_main %}
			{% if not is_project_backlog %}
				<span class="label label-inverse pull-right">{% trans "current" %}</span>
			{% endif %}
		{% else %}
			<a class="close pull-right close-lane" href="#">&times;</a>
		{% endif %}
	</div>
	<div class="stories" backlog-id="{{ backlog.pk }}">
		{% for story in backlog.ordered_stories %}
			<article theme-id="{{ story.theme }}" project-id="{{ story.project_id }}" class="small-story" id="story-{{ story.pk }}" story-id="{{ story.pk }}">
				<div class="handle" style="background-color:{{ story.color }}"></div>
				<div class="handled">
					<div class="story-title">
						<div class="btn-group">
							<a class="btn btn-link dropdown-toggle padding-reset" href="#" data-toggle="dropdown">
								{{ story.code }}
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li><a href="{% url "story_detail" story.project_id story.pk %}">{% trans "Details" %}</a></li>
								<li><a href="{% url "story_edit" story.project_id story.pk %}?_back=organization">{% trans "Edit" %}</a></li>
								<li><a href="{% url "story_delete" story.project_id story.pk %}?_back=organization">{% trans "Delete" %}</a></li>
							</ul>
						</div>
					</div>
					<div class="points">
						{% if story.points >= 0%}
							{{ story.points|floatformat:"0" }}
						{% else %}
						&nbsp;
						{% endif %}
					</div>
					<div class="status">
						{% if story.status == 'in_progress' %}
							<i class="icon-gears black"> </i>
						{% elif story.status == 'completed' %}
							<i class="icon-ok text-info"> </i>
						{% elif story.status == 'accepted' %}
							<i class="icon-thumbs-up text-success"> </i>
						{% elif story.status == 'rejected' %}
							<i class="icon-thumbs-down text-error"> </i>
						{% else %}
							&nbsp;
						{% endif %}
					</div>
					<div class="text">{% include "backlog/user_story_text.html" %}</div>
					<div class="text theme"><i class="icon-book"></i> {{ story.project.name }}</div>
					{% if story.theme %}
						<div class="text theme"><i class="icon-tag"></i> {{ story.theme }}</div>
					{% endif %}
				</div>
			</article>
		{%  endfor %}
	</div>
</article>