{% load sekizai_tags %}
<article class="{% if backlog.is_main %}main{% endif %} backlog" id="backlog-{{ backlog.pk }}" backlog-id="{{ backlog.pk }}">
	<div class="backlog-title">
		<div class="btn-group">
			<a class="btn btn-link dropdown-toggle padding-reset" href="#" data-toggle="dropdown">
				<span class="project-chooser">
				{% if backlog.project_id %}
					 {{ backlog.project.name }} [{{ backlog.project.code }}]
				{% else %}
					{{ backlog.name }}
				{% endif %}
				</span>
				{% if not is_project_backlog %}
					<span class="caret"></span>
				{% else %}
					<span class="option-caret black"></span>
				{% endif %}
			</a>
			<ul class="dropdown-menu">
				{% if is_project_backlog %}
					{% for proj in projects_with_main %}
						<li><a class="project-chooser-list" href="{% url "org_sprint_planning" organization.pk %}?project_id={{ proj.pk }}">{{ proj.name }} <small class="muted">[{{ proj.code }}]</small> </a></li>
					{% endfor %}
				{% else %}
					<li><a href="{% url "print_stories" %}?backlog_id={{ backlog.pk }}">{% trans "Print stories" %}</a></li>
					<li><a href="{% url "backlog_detail" backlog.pk %}">{% trans "Priority view" %}</a></li>
					<li class="divider"></li>
					<li><a href="{% url "org_backlog_edit" organization.pk backlog.pk %}">{% trans "Edit" %}</a></li>
					<li><a href="{% url "org_backlog_delete" organization.pk backlog.pk %}">{% trans "Delete" %}</a></li>
				{% endif %}
			</ul>
		</div>
		<span class="muted small">({{ backlog.stats.total_stories }})</span>
		{% if backlog.is_main %}
			{% if not is_project_backlog %}
				<span class="label label-inverse pull-right">{% trans "current" %}</span>
			{% endif %}
		{% else %}
			<a class="close pull-right close-lane" href="#">&times;</a>
		{% endif %}
	</div>
	<div class="stories" story-backlog-id="{{ backlog.pk }}">
		{% for story in backlog.ordered_stories %}
			{% include "backlog/_story_small.html" with can_go_back=is_org_backlog  back_mode="organization"%}
		{%  endfor %}
	</div>
{% include "backlog/_script_status_change.html" %}
{% include "backlog/_script_show_errors.html" %}

{% addtoblock "js" %}
<script type="text/javascript">
var api_story_status_url = '{% url "api_story_status" 0 %}';

var back_to_main = function(src, story_id) {
	$.ajax({
		url: '{% url "api_move_story" %}',
		type: "POST",
		contentType:"application/json; charset=utf-8",
		dataType: "json",
		data: JSON.stringify({
			"target_backlog": "project_main_backlog",
			"moved_story": story_id,
			"order": [story_id]
		}),
		error: function( jqXHR, textStatus, errorThrown ){
			$.show_error('{% trans "Server return an error."%}', jqXHR)
			$('.backlog-list').sortable( "cancel" );
		},
		success: function() {
			$("article[story-id="+story_id+"]").fadeOut()
		},
		complete: function(){
			$('.backlog-list').sortable("enable");
		}
	});
}
</script>
{% endaddtoblock %}
</article>