{% load staticfiles markup acl %}

<ul class="breadcrumb">
	<li><a href="{% url "dashboard" %}"> {% trans "Dashboard" %}</a><span class="divider">/</span></li>
	<li><i class="icon-book"></i> <a href="{% url "project_detail" project.pk %}"> {% trans "Projects" %}</a><span class="divider">/</span></li>
	<li class="active"><i class="icon-list-ul"></i> {{ backlog.name }}<span class="divider"></span></li>
</ul>

<div class="project-head">
	<h1 class="inline-title">{{ backlog.name }}</h1>
	{% if project|can_admin:request.user %}
		<a class="btn-link" href="{% url "backlog_edit" project.pk backlog.pk %}">{% trans "Edit" %}</a>
		<a class="btn-link" href="{% url "backlog_delete" project.pk backlog.pk %}">{% trans "Delete" %}</a>
	{% endif %}
</div>
