{% load sekizai_tags %}
<article class="{% if backlog.is_main %}main{% endif %} backlog" id="backlog-{{ backlog.pk }}" backlog-id="{{ backlog.pk }}">
	<div class="backlog-title">
		<div class="btn-group">
			<a class="btn btn-link dropdown-toggle padding-reset" href="#" data-toggle="dropdown">
				<span class="project-chooser">
				{% if backlog.project_id %}
					 {{ backlog.project.name }} [{{ backlog.project.code }}]
				{% else %}
					{{ backlog.name }}
				{% endif %}
				</span>
				{% if not is_project_backlog %}
					<span class="caret"></span>
				{% else %}
					<span class="option-caret black"></span>
				{% endif %}
			</a>
			<ul class="dropdown-menu">
				{% if is_project_backlog %}
					{% for proj in projects_with_main %}
						<li><a class="project-chooser-list" href="{% url "org_sprint_planning" organization.pk %}?project_id={{ proj.pk }}">{{ proj.name }} <small class="muted">[{{ proj.code }}]</small> </a></li>
					{% endfor %}
				{% else %}
					<li><a href="{% url "print_stories" %}?backlog_id={{ backlog.pk }}">{% trans "Print stories" %}</a></li>
					<li class="divider"></li>
					<li><a href="{% url "org_backlog_edit" organization.pk backlog.pk %}">{% trans "Edit" %}</a></li>
					<li><a href="{% url "org_backlog_delete" organization.pk backlog.pk %}">{% trans "Delete" %}</a></li>
				{% endif %}
			</ul>
		</div>
		<span class="muted small">({{ backlog.stats.total_stories }})</span>
		{% if backlog.is_main %}
			{% if not is_project_backlog %}
				<span class="label label-inverse pull-right">{% trans "current" %}</span>
			{% endif %}
		{% else %}
			<a class="close pull-right close-lane" href="#">&times;</a>
		{% endif %}
	</div>
	<div class="stories" story-backlog-id="{{ backlog.pk }}">
		{% for story in backlog.ordered_stories %}
			<article theme-id="{{ story.theme }}" project-id="{{ story.project_id }}" class="small-story" id="story-{{ story.pk }}" story-id="{{ story.pk }}">
				<div class="handle" style="background-color:{{ story.color }}"></div>
				<div class="handled">
					<div class="story-title">
						<div class="btn-group">
							<a class="btn btn-link dropdown-toggle padding-reset" href="#" data-toggle="dropdown">
								{{ story.code }}
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li><a href="{% url "story_detail" story.project_id story.pk %}">{% trans "Details" %}</a></li>
								<li><a href="{% url "story_edit" story.project_id story.pk %}?_back=organization">{% trans "Edit" %}</a></li>
								<li><a href="{% url "story_delete" story.project_id story.pk %}?_back=organization">{% trans "Delete" %}</a></li>
								{% if not is_project_backlog%}
									<li class="divider"></li>
									<li><a href="#" onclick="javascript:back_to_main(this,{{ story.pk }})">{% trans "Bring back to project" %}</a></li>
								{% endif %}
							</ul>
						</div>
					</div>
					<div class="points">
						{% if story.points >= 0%}
							{{ story.points|floatformat:"0" }}
						{% else %}
						&nbsp;
						{% endif %}
					</div>
					<div class="status">
						<div class="btn-group">
							<a class="btn btn-link dropdown-toggle padding-reset" href="#" data-toggle="dropdown">
								<span class="story-status" status={{ story.status }}>
									<i class="icon icon-circle"></i> <i class="icon-caret-down"></i>
								</span>
							</a>
							<ul class="dropdown-menu">
								{% for s in story.project.all_status %}
									<li><a onclick="javascript:set_story_status(this, {{ story.pk }}, '{{ s.0 }}')">{{ s.1 }}</a></li>
								{% endfor %}
							</ul>
						</div>
					</div>
					<div class="text">{% include "backlog/user_story_text.html" %}</div>
					<div class="text theme"><i class="icon-book"></i> {{ story.project.name }}</div>
					{% if story.theme %}
						<div class="text theme"><i class="icon-tag"></i> {{ story.theme }}</div>
					{% endif %}
				</div>
			</article>
		{%  endfor %}
	</div>
{% include "backlog/_script_status_change.html" %}
{% include "backlog/_script_show_errors.html" %}

{% addtoblock "js" %}
<script type="text/javascript">
var api_story_status_url = '{% url "api_story_status" 0 %}';

var back_to_main = function(src, story_id) {
	$.ajax({
		url: '{% url "api_move_story" %}',
		type: "POST",
		contentType:"application/json; charset=utf-8",
		dataType: "json",
		data: JSON.stringify({
			"target_backlog": "project_main_backlog",
			"moved_story": story_id,
			"order": [story_id]
		}),
		error: function( jqXHR, textStatus, errorThrown ){
			$.show_error('{% trans "Server return an error."%}', jqXHR)
			$('.backlog-list').sortable( "cancel" );
		},
		success: function() {
			$("article[story-id="+story_id+"]").fadeOut()
		},
		complete: function(){
			$('.backlog-list').sortable("enable");
		}
	});
}
</script>
{% endaddtoblock %}
</article>