{% load staticfiles markup acl %}

<ul class="breadcrumb">
	<li><a href="{% url "dashboard" %}"> {% trans "Dashboard" %}</a><span class="divider">/</span></li>
		{% if backlog.project_id %}
			{% if backlog.project.org_id %}
				<li><a href="{% url "org_sprint_planning" backlog.project.org_id %}">{{ backlog.project.org.get_mini_logo }} {{ backlog.project.org.name }}</a><span class="divider">/</span></li>
			{% endif %}
			<li> <a href="{% url "project_backlogs" backlog.project_id %}"><i class="icon-book"></i> {{ backlog.project.name }}</a><span class="divider">/</span></li>
		{% elif backlog.org_id %}
			<li> <a href="{% url "org_sprint_planning" backlog.org_id %}">{{ backlog.org.get_mini_logo }} {{ backlog.org.name }}</a><span class="divider">/</span></li>
		{% endif %}
	<li class="active"><i class="icon-list-ul"></i> {{ backlog.name }}<span class="divider"></span></li>
</ul>

<div class="project-head">
	<h2 class="inline-title">
		{% if backlog.project_id %}
			{{ backlog.project.name }} -
		{% elif backlog.org_id %}
			{{ backlog.org.name }} -
		{% endif %}
		{{ backlog.name }}
	</h2>
</div>
