{% load static sekizai_tags %}

{% addtoblock "js" %}
<script type="text/javascript">
$(function() {
	$.show_error = function( message , jqXHR) {
		if (jqXHR.responseText) {
			try {
				var obj = JSON.parse(jqXHR.responseText);
				if (obj.errors) {
					$ul = $("<ul>")
					$main = $("<div>").addClass("alert alert-block alert-error");
					$main.append($('<button type="button" class="close" data-dismiss="alert">&times;</button>'));
					$main.append($ul)
					obj.errors.forEach(function(e){
						$ul.append($("<li>").text(e))
					});
					$("#messages").empty().append($main);
					return;
				}
			} catch(ex){
				console.error(ex)
			}
		}
		$("#messages").empty().append(
			$("<div>").addClass("alert alert-block alert-error").append(
				$("<span>").text(message),
				$('<button type="button" class="close" data-dismiss="alert">&times;</button>')
			)
		);
	}
});
</script>
{% endaddtoblock %}