{% load markup hashcolor%}
<article class="story" id="story-{{ story.pk }}" story-id="{{ story.pk }}" theme-id="{{ story.theme }}" color-story="{{ story.color }}" color-theme="{{ story.theme|hashcolor }}">
    <div class="handle" style="background-color:{{ story.color }}"></div>
    <div class="handled">
			<div class="row-fluid">
				<div class="code span11">
					<div class="row-fluid">
						<div class="text span4">
							<div>
								<h4 class="inline-title">{{ story.code }}</h4> <small class="muted">[ <a href="{% url "story_edit" story.project_id story.pk %}?_back=backlog">{% trans "edit" %}</a> ]</small>
							</div>
							{% include "backlog/user_story_text.html" %}
							{% if story.theme %}
								<div class="theme"><i style="color:{{ story.theme|hashcolor }};" class="icon-tag"></i> {{ story.theme }}</div>
							{% endif %}
						</div>
						<div class="acceptances span4">
							{% if story.acceptances %}
								{{ story.acceptances|markdown }}
							{% else %}
								<h4 class="muted-more text-center">{% trans "No acceptance criterias" %}</h4>
							{% endif %}
						</div>
						<div class="comments span4">
							{% if story.comments %}
								{{ story.comments|markdown }}
							{% else %}
								<h4 class="muted-more text-center">{% trans "No comments" %}</h4>
							{% endif %}
						</div>
					</div>
				</div>
				<div class="span1 text-center">
					<div class="points {% if story.points == -1 %}no-points{% endif %}">
						{% if story.points >= 0%}
							{{ story.points|floatformat:"0" }}
						{% else %}
						&nbsp;
						{% endif %}
					</div>
					<div class="status">
						<div class="btn-group dropdown-right">
							<a class="btn btn-link dropdown-toggle padding-reset" href="#" data-toggle="dropdown">
								<span class="story-status" status={{ story.status }}>
									<i class="icon icon-circle"></i> <i class="icon-caret-down"></i>
								</span>
							</a>
							<ul class="dropdown-menu">
								{% for s in story.project.all_status %}
									<li><a onclick="javascript:set_story_status(this, {{ story.pk }}, '{{ s.0 }}')">{{ s.1 }}</a></li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>
    </div>
</article>