{% load markup hashcolor%}
<article theme-id="{{ story.theme }}" class="small-story" id="story-{{ story.pk }}" story-id="{{ story.pk }}" project-id="{{ story.project_id }}"
		 color-story="{{ story.color }}" color-theme="{{ story.theme|hashcolor }}" points="{{ story.points }}">
	<div class="handle" style="background-color:{{ story.color }}"></div>
	<div class="handled">
		<div class="story-title">
			<div class="btn-group">
				<a class="btn btn-link dropdown-toggle padding-reset" href="#" data-toggle="dropdown">
					{{ story.code }}
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li><a href="{% url "story_detail" story.project_id story.pk %}">{% trans "Details" %}</a></li>
					<li><a class="dblclick" href="{% url "story_edit" story.project_id story.pk %}?_back={{ back_mode }}">{% trans "Edit" %}</a></li>
					{% if backlog.project_id  %}
						<li><a href="{% url "story_create" story.project_id backlog.pk %}?_back=project&src_story_id={{ story.pk }}">{% trans "Duplicate story" %}</a></li>
					{% endif %}
					<li class="divider"></li>
					<li><a href="{% url "story_delete" story.project_id story.pk %}?_back={{ back_mode }}">{% trans "Delete" %}</a></li>

					<li class="back-to-main divider"></li>
					<li class="back-to-main"><a href="#" onclick="javascript:back_to_main(this,{{ story.pk }})">{% trans "Bring back to project" %}</a></li>
				</ul>
			</div>
		</div>
		<div class="get-it">
			<a href="#" onclick="javascript:get_story(this,{{ story.pk }})" class="btn btn-default btn-xs" title="{% trans "Get this story" %}"><i class="icon-arrow-right"></i></a>
		</div>
		<div class="points">
			{% if story.points >= 0%}
				{{ story.points|floatformat:"0" }}
			{% else %}
			&nbsp;
			{% endif %}
		</div>
		<div class="status">
			<div class="btn-group">
				<a class="btn btn-link dropdown-toggle padding-reset" href="#" data-toggle="dropdown">
					<span class="story-status" status={{ story.status }}>
						<i class="icon icon-circle"></i> <i class="icon-caret-down"></i>
					</span>
				</a>
				<ul class="dropdown-menu">
					{% for s in story.project.all_status %}
						<li><a onclick="javascript:set_story_status(this, {{ story.pk }}, '{{ s.0 }}')">{{ s.1 }}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="text">{% include "backlog/user_story_text.html" %}</div>
		{% if story.theme %}
			<div class="theme"><i class="icon-tag"></i> {{ story.theme }}</div>
		{% endif %}

	</div>
</article>