<article class="story" id="story-{{ story.pk }}" data-id="{{ story.pk }}" theme-id="{{ story.theme }}">
	<div class="handle" style="display:none"></div>
	<div class="handled" style="background-color: {{ story.css_color }} !important;">
		<div class="code">
			<a href="{% url "story_backlog_detail" project.pk backlog.pk story.pk %}">{{ story.code }}</a>
			<a class="edit-action" href="{% url "story_backlog_edit" project.pk backlog.pk story.pk %}?direct=true"><i class="icon-edit"></i></a>
		</div>
		<div class="points {% if story.points == -1 %}no-points{% endif %}">
			{% if story.points >= 0%}
				{{ story.points|floatformat:"0" }}
			{% else %}
			&nbsp;
			{% endif %}
		</div>
		<div class="text">
			{% include "backlog/user_story_text.html" %}
		</div>
		<div class="actions-small">
			<div class="btn-group pull-left status">
				<a class="btn dropdown-toggle" status="{{ story.status }}" data-toggle="dropdown" href="#">
					<span class="current-status">{{ story.get_status_display }}</span>
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li><a class="to_do" href="javascript:$.change_story_status('{{ story.pk }}','to_do')">{% trans "To do" %}</a></li>
					<li><a class="in_progress" href="javascript:$.change_story_status('{{ story.pk }}','in_progress')">{% trans "In progress" %}</a></li>
					<li><a class="accepted" href="javascript:$.change_story_status('{{ story.pk }}','accepted')">{% trans "Accepted" %}</a></li>
					<li><a class="rejected" href="javascript:$.change_story_status('{{ story.pk }}','rejected')">{% trans "Rejected" %}</a></li>
				</ul>
			</div>

			<div class="btn-group pull-left">
				<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
					{% trans "Move to" %}
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					{% for target in target_backlogs %}
						<li><a href="javascript:$.move_story('{{ story.pk }}','{{ target.pk }}')">{{ target.name }}</a></li>
					{% endfor %}
				</ul>
			</div>

			<div class="theme"><i class="icon-tag"></i>{{ story.theme }}</div>
			&nbsp;
		</div>

	</div>
</article>