{% extends "project_base.html" %}

{% block title %}{% if object %}{% trans "Edit backlog" %}{% else %}{% trans "Add a new backlog" %}{% endif %}{% endblock %}

{% block content %}
	<ul class="breadcrumb">
		<li><a href="{% url "dashboard" %}"><i class="icon-home"></i></a>&nbsp;&nbsp;</li>
		<li class="divider"><div class="inner"></div></li>
		{% if project %}
			{% if project.org_id %}
				<li><a href="{% url "org_detail" project.org_id %}">{{ project.org.get_mini_logo }} {{ project.org.name }}</a></li>
				<li class="divider"><div class="inner"></div></li>
			{% endif %}
			<li> <a href="{% url "project_detail" project.pk %}"><i class="icon-book"></i> {{ project.name }}</a></li>
			<li class="divider"><div class="inner"></div></li>
		{% elif organization %}
			<li><a href="{% url "org_detail" organization.pk %}">{{ organization.get_mini_logo }} {{ organization.name }}</a></li>
			<li class="divider"><div class="inner"></div></li>
		{% endif %}
		<li class="active">{% if object %}{% trans "Edit backlog" %}{% else %}{% trans "Create backlog" %}{% endif %}
		</li>
	</ul>

<div class="row-fluid">
	<div class="span6 offset3 base-form">
	{% if not object %}<h1>{% trans "Add a new backlog" %}</h1>{% endif %}

	{% if project %}
		{% if object %}
			{% url "project_backlog_edit" project.pk object.pk as action_url%}
		{% else %}
			{% url "project_backlog_create" project.pk as action_url%}
		{% endif %}
		{% url "project_backlogs" project.pk as cancel_url%}
	{% elif organization %}
		{% if object %}
			{% url "org_backlog_edit" organization.pk object.pk as action_url%}
		{% else %}
			{% url "org_backlog_create" organization.pk as action_url%}
		{% endif %}
		{% url "org_sprint_planning" backlog.org_id as cancel_url%}
	{% endif %}

    <form method="post" id="edit_backlog_form" action="{{ action_url }}">

        {% include "form.html" %}
        <div class="submit">
			<input class="btn btn-success" type="submit" value="{% if object %}{% trans "Save changes" %}{% else %}{% trans "Create backlog" %}{% endif %}">
			<a class="btn btn-link" href="{{ cancel_url }}">{% trans "Cancel" %}</a>
		</div>
	</form>
	</div>
</div>
{% endblock %}