{% extends "project_base.html" %}
{% load staticfiles sekizai_tags markup acl %}

{% block title %}{% trans "Backlog" %} &mdash; {{ backlog.name }}{% endblock %}

{% block navbar %}
	{{ block.super }}
	<li>
		<p class="navbar-text" id="ws-status">
			<span class="status label"></span>
		</p>
	</li>
{% endblock %}

{% block content %}
    {% include "backlog/_backlog_head.html" %}

	<div class="well well-sm">
		{% if backlog.project_id %}
			<a href="{% url "story_create" backlog.project_id backlog.pk %}?_back={% url "backlog_detail" backlog.pk %}" class="btn btn-success btn-sm">{% trans "Create story" %}</a>
		{% endif %}
		&nbsp;
		<a class="pull-right btn btn-link btn-sm" href="{% url "print_stories" %}?backlog_id={{ backlog.pk }}"><i class="icon-print"></i> {% trans "Print stories" %}</a>
		<a class="pull-right btn btn-link btn-sm" href="{% url "export_stories" %}?backlog_id={{ backlog.pk }}" download><i class="icon-download"></i> {% trans "Export for excel" %}</a>
	</div>

	<form class="form-inline well well-sm">
		<label>{% trans "Highlight theme" %}</label>&nbsp;
		<select class="select-mini" id="theme-select">
			<option value="">{% trans "No filter" %}</option>
			{% for theme in backlog.all_themes %}
				<option value="{{ theme }}">{{ theme }}</option>
			{% endfor %}
		</select>
		<label>{% trans "Colorized by" %}</label>&nbsp;
		<select class="select-mini" id="color-select">
			<option value="color-story" selected>{% trans "Story color" %}</option>
			<option value="color-theme">{% trans "Theme color" %}</option>
		</select>
		{% if simple %}
			<a class="btn btn-default btn-sm" href=".">{% trans "Full view" %}</a>
		{% else %}
			<a class="btn btn-default btn-sm" href="./?simple=True">{% trans "Simple view" %}</a>
		{% endif %}
	</form>

    <div class="stories">
        {% for story in stories %}
			{% if simple %}
				{% include "backlog/_story_big_cell_simple.html" %}
			{% else %}
            	{% include "backlog/_story_big_cell.html" with show_comments=True %}
			{% endif %}
        {% empty %}
			<div class="text-warning alert">
            	{% trans "No story in this backlog" %}
			</div>
        {% endfor %}
    </div>
	{% if not backlog.project_id %}
	<div class="alert alert-info">
		{% blocktrans %}Stories can only be created on a project backlogs view, <b>not on organization backlogs</b>{% endblocktrans %}
	</div>
	{% endif %}
{% include "backlog/_script_status_change.html" %}
{% include "backlog/_script_show_errors.html" %}

{% addtoblock "js" %}
<script type="text/javascript">
    $(function() {
		$('.stories').sortable({
			placeholder: "large-story-place-holder",
			forcePlaceholderSize: true,
			distance: 3,
			cursor: "move",
			revert: 100,
			update: function(event, ui) {
				$('.stories').sortable("disable");
				var $this = $(this);
				var story_pk = ui.item.attr("story-id");
				var ajax_data;
				var order = [];
				$this.find('[story-id]').each(function() {
					order.push(parseInt($(this).attr('story-id')));
				});
				ajax_data = {
					target_backlog: {{ backlog.pk }},
					moved_story: story_pk,
					order: order,
					action: "order"
				};
				if (ajax_data) {
					$.ajax({
						url: '{% url "api_move_story" %}',
						type: "POST",
						contentType:"application/json; charset=utf-8",
						dataType: "json",
						data: JSON.stringify(ajax_data),
						error: function( jqXHR, textStatus, errorThrown ){
							$.show_error( '{% trans "Server return an error."%}', jqXHR)
							$('.stories').sortable( "cancel" );
						},
						success: function() {

						},
						complete: function(){
							$('.stories').sortable("enable");
						}
					});
				} else {
					$('.stories').sortable("enable");
				}
			}
		});
        // handle selection of themes
        $(".filter").show(); // hidden by default, if scripting is disabled, they should not show
        $("#theme-select").select2({
			width: "180px",
			allowClear: true
		}).change(function() {
            var theme_id = $(this).val();
            $(".filter-highlighted").removeClass("filter-highlighted");
            $(".filter-opacified").removeClass("filter-opacified");
            if (theme_id) {
                $("article").addClass("filter-opacified");
                $("article[theme-id='"+theme_id+"']").addClass("filter-highlighted").removeClass("filter-opacified")
            }
        });
		$("#color-select").select2({
			width: "180px",
			allowClear: false
		}).change(function() {
            var color_tag = $(this).val();
			$("article.story").each(function() {
				var $this = $(this);
				var c = $this.attr(color_tag);
				if (c.length < 3) {
					c = "transparent";
				}
				$this.find(".handle").css({
					"background-color": c
				})
			});
        });

		{% if backlog.project_id %}
			var ws_url = '{{ ws_url }}projects/{{ backlog.project_id }}/';
		{% elif backlog.org_id %}
			var ws_url = '{{ ws_url }}organizations/{{ backlog.org_id }}/';
		{% endif %}
		$.ws_sbscribe({
			url: ws_url,
			on_message: function(message) {
				$("#ws-status .status").flash("white", 500);
				if (message.type == "stories_moved") {
					if (message.backlog_id == {{ backlog.pk }}) {
						var $parent = $(".stories");
						for (var i in message.order) {
							var pk = message.order[i];
							var $article = $("article.story[story-id="+pk+"]");
							$parent.append($article);
						}
						if (message.moved_story_id) {
							$("article.story[story-id="+message.moved_story_id+"]").flash("green", 500);
						}
					}
				} else if (message.type == "user_join" || message.type == "user_leave") {
					var $users = $("#ws-users").empty();
					$users.text(message.users.length);
					generate_ws_tooltip(message.users);
				}
			},
			on_connect: function() {
				$("#ws-status .status").empty().attr("status","connected").append("<i class='icon-signal'></i> {% trans "online" %} <span id='ws-users'></span>")
			},
			on_disconnect: function() {
				$("#ws-status .status").empty().attr("status","disconnected").append("<i class='icon-signal'></i> {% trans "offline" %}")
			}
		})

		var WS_TOOLTIP = "";
		var generate_ws_tooltip = function(users) {
			var ret = "<h5>{% trans "Online users" %}</h5>";
			users.forEach(function(u){
				ret += ("<div class='tt-user'><img src='"+$.get_gravatar_url(u, 16)+"'><span>"+u+"</span></div>");
			});
			WS_TOOLTIP = ret;
		}
		$("#ws-status").tooltip({
			html : true,
			placement: "bottom",
			title: function() {
				return WS_TOOLTIP;
			}
		});
    });
</script>
{% endaddtoblock %}
{% endblock %}