{% extends "project_base.html" %}
{% load staticfiles sekizai_tags markup acl %}

{% block title %}{% trans "Backlog" %} &mdash; {{ backlog.name }}{% endblock %}

{% block content %}
	{% include "backlog/_backlog_head.html" %}
	<div class="description">
		{% if backlog.description %}
			{{ backlog.description|markdown }}
		{% endif %}
	</div>

	<h2>{%  trans "User stories" %}</h2>
	<div class="actions">
	<a class="btn btn-primary" href="{% url "story_create" project.pk backlog.pk %}">
		{% trans "Add user story" %}
	</a>
	<a class="btn btn-link" href="{% url "print_stories" project.pk %}?backlog_id={{ backlog.pk }}">{% trans "Generate PDF" %}</a>
	</div>
	<h4 class="inline-title">{% trans "Highlight theme" %}</h4>&nbsp;
	<select class="select-mini" id="theme-select">
		<option value=""></option>
		{% for theme in backlog.all_themes %}
			<option value="{{ theme }}">{{ theme }}</option>
		{% endfor %}
	</select>
	<div class="stories">
		{% for story in stories %}
			{% include "backlog/_story_cell.html" %}
		{% empty %}
			{% trans "No stories" %}
		{% endfor %}
	</div>


{% addtoblock "js" %}
<script type="text/javascript" src="{% static "core/js/jquery.js" %}"></script>
{% endaddtoblock %}

{% addtoblock "js" %}
<script type="text/javascript" src="{% static "core/js/jquery.csrf.js" %}"></script>
{% endaddtoblock %}

{% addtoblock "js" %}
<script type="text/javascript" src="{% static "core/js/jquery-ui.custom.min.js" %}"></script>
{% endaddtoblock %}

{% addtoblock "js" %}
<script type="text/javascript" src="{% static "core/js/dropit.js" %}"></script>
{% endaddtoblock %}

{% addtoblock "js" %}
<script type="text/javascript">
	$(function() {
		// keep a clone of speakers to replace the cell
		// if an error occurs on server
		$(".handle").show(); // hidden by default, if scripting is disabled, they should not show
		var setup = function() {
			$('.stories').sortable({
				placeholder: "handle-highlight",
				forcePlaceholderSize: true,
				distance: 3,
				cursor: "move",
				handle: ".handle",
				revert: true,
				update: function(event, ui) {
					var $this = $(this);
					$this.sortable("disable");
					var order = [];
					var moved_story = ui.item.attr('data-id');
					$('[data-id]').each(function() {
						order.push(parseInt($(this).attr('data-id')));
					});
					$.ajax({
						url: '{% url "api_move_story" project.pk %}',
						type: "POST",
						dataType: "json",
						contentType: "application/json",
						data: JSON.stringify({
							action: "order",
							target_backlog: "{{ backlog.pk }}",
							order: order,
							moved_story: moved_story
						}),
						error: function( jqXHR, textStatus, errorThrown ){
							$("#messages").empty().append(
								$("<div>").addClass("error").text( '{% trans "Error while reordering elements."%}' )
							);
							$this.sortable("cancel");
						},
						success: function() {
						},
						complete: function(){
							$this.sortable("enable");
						}
					});
				}
			});
		};
		setup();

		// handle selection of themes
		$(".filter").show(); // hidden by default, if scripting is disabled, they should not show
		$("#theme-select").change(function() {
			var theme_id = $(this).val();
			$(".highlighted").removeClass("highlighted");
			$(".opacified").removeClass("opacified");
			if (theme_id) {
				$("article").addClass("opacified");
				$("article[theme-id='"+theme_id+"']").addClass("highlighted").removeClass("opacified")
			}
		});

		$.move_story = function(story_pk, backlog_pk) {
			$.ajax({
				url: '{% url "api_move_story" project.pk %}',
				type: "POST",
				contentType: "application/json",
				dataType: "json",
				data: JSON.stringify({
					action: "move",
					moved_story: story_pk,
					target_backlog: backlog_pk
				}),
				error: function( jqXHR, textStatus, errorThrown ){
					$("#messages").empty().append(
						$("<div>").addClass("error").text( '{% trans "Error while moving story."%}' )
					);
				},
				success: function() {
					$("[data-id="+story_pk+"]").fadeOut();
				}
			});
		}

		$.change_story_status = function(story_pk, status) {
			$.ajax({
				url: '{% url "story_change_status" project.pk %}',
				type: "POST",
				dataType: "json",
				data: JSON.stringify({
					story_id: story_pk,
					new_status: status
				}),
				error: function( jqXHR, textStatus, errorThrown ){
					$("#messages").empty().append(
						$("<div>").addClass("error").text( '{% trans "Error while changing status."%}' )
					);
				},
				success: function(data) {
					$("[data-id="+story_pk+"] .current-status").text(data.new_status);
					$("[data-id="+story_pk+"] [status]").attr('status', data.code);
				}
			});
		}
	});
</script>
{% endaddtoblock %}
{% endblock %}