{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Delete backlog" %}{% endblock %}

{% block content %}
	<h1>{% trans "Delete backlog" %}</h1>
	<div class="delete_message">
		{% trans "Are you sure you want to delete this backlog?" %}
	</div>
	<h2>{{ project.name }}</h2>
	<form method="post" id="delete_form" action="{% url "backlog_delete" project.pk backlog.pk %}">
		{% csrf_token %}
		{{ form }}
		<div class="submit-delete actions">
			<button class="button icon-remove" type="submit">{% trans "Delete this backlog" %}</button>
			<a href="{% url "backlog_detail" project.pk backlog.pk %}">{% trans "Cancel" %}</a>
		</div>
	</form>
{% endblock %}
