{% extends "base.html" %}
{% load staticfiles sekizai_tags i18n markup %}

{% block title %}{% trans "Backlog" %} &mdash; {{ backlog.name }}{% endblock %}

{% block content %}
	<div class="path">
		<a href="{%  url "home" %}"><i class="icon-home"></i>{% trans "Home" %}</a> /
		<a href="{%  url "project_detail" project.pk %}"> <i class="icon-book"></i> {{ project.name }}</a> /
		<i class="icon-list-ul"></i><span class="current">{{ backlog.name }}</span>
	</div>
	<div class="description">
		{% if backlog.description %}
			{{ backlog.description|markdown }}
		{% endif %}
	</div>
	<div class="poutre">
		<h2>User stories</h2>
		<span class="sub-field">{% trans "Highlight:" %}</span><select id="theme-select">
			<option value=""></option>
			{% for theme in project.all_themes %}
				<option value="{{ theme }}">{{ theme }}</option>
			{% endfor %}
		</select>
	</div>
	<div class="stories">
		{% for story in backlog.ordered_stories %}
			{% include "backlog/story_cell.html" %}
		{% empty %}
			{% trans "No stories" %}
		{% endfor %}
	</div>
	{% comment %}
	<div class="actions">
		<a class="button" href="{% url "project_edit" backlog.pk %}">{% trans "Edit" %}</a>
		<a class="button" href="{% url "project_delete" backlog.pk %}">{% trans "Delete" %}</a>
	</div>
	{% endcomment %}

{% addtoblock "js" %}
<script type="text/javascript" src="{% static "core/js/jquery.js" %}"></script>
{% endaddtoblock %}

{% addtoblock "js" %}
<script type="text/javascript" src="{% static "core/js/jquery.csrf.js" %}"></script>
{% endaddtoblock %}

{% addtoblock "js" %}
<script type="text/javascript" src="{% static "core/js/jquery-ui.custom.min.js" %}"></script>
{% endaddtoblock %}

{% addtoblock "js" %}
<script type="text/javascript">
	$(function() {
		// keep a clone of speakers to replace the cell
		// if an error occurs on server
		var $stories_clone = $(".stories").clone(false);
		var setup = function() {
			$('.stories').sortable({
				// containment: 'parent',
				placeholder: "handle-highlight",
				forcePlaceholderSize: true,
				distance: 3,
				cursor: "move",
				handle: ".handle",
				axis: 'y',
				revert: true,
				update: function(event, ui) {
					var $this = $(this);
					$this.sortable("disable");
					var order = [];
					$('[data-id]').each(function() {
						order.push(parseInt($(this).attr('data-id')));
					});
					$.ajax({
						url: '{% url "backlog_story_reorder" project.pk backlog.pk %}',
						type: "POST",
						dataType: "json",
						data: JSON.stringify({order: order}),
						error: function( jqXHR, textStatus, errorThrown ){
							$("#messages").empty().append(
								$("<p>").addClass("error").text( '{% trans "Error while reordering elements."%}' )
							);
							$('.stories').replaceWith($stories_clone.clone());
							setup();
						},
						success: function() {
							// replace the copy to be able to re-order again
							$stories_clone = $(".stories").clone(false);
						},
						complete: function(){
							$this.sortable("enable");
						}
					});
				}
			});
		};
		setup();

		// handle selection of themes
		$("#theme-select").change(function() {
			var theme_id = $(this).val();
			$(".highlighted").removeClass("highlighted");
			$(".opacified").removeClass("opacified");
			if (theme_id) {
				$("article").addClass("opacified");
				$("article[theme-id='"+theme_id+"']").addClass("highlighted").removeClass("opacified")
			}
		})
	});
</script>
{% endaddtoblock %}
{% endblock %}