{% extends "project_base.html" %}
{% load staticfiles sekizai_tags humanize acl %}

{% block title %}{% trans "Dashboard" %}{% endblock %}

{% block content %}
<div class="spacer-15"></div>
<div class="row">
	<div class="col-md-8">
		<div class="row">
			{% url "org_create" as bs_action_href %}
			{% include "bootstrap/navbar.html" with bs_nav_title=_("Organizations") bs_action_title=_("Create organization") has_action=True%}
		{% if organizations %}
			<div class="col-md-12">
				{% for org in organizations %}
				<div style="clear:both;">
					<div>
						<h3 class="inline-title">
							{{ org.get_logo }}
							<a href="{% url 'org_detail' org.pk %}"> {{ org.name }}</a>
								<span class="smaller">[&nbsp;
									<a class="text-muted" title="{% trans "Sprint planning" %}" href="{% url "org_sprint_planning" org.pk %}"><i class="icon-trello"></i></a>
									{% if org.main_backlog %}
										&nbsp;|&nbsp;
										<a class="text-muted" title="{% trans "Current sprint" %}" href="{% url "backlog_detail" org.main_backlog.pk %}"><i class="icon-list-ul"></i></a>
									{% endif %}
									{% if org|can_admin:request.user %}
										&nbsp;|&nbsp;
										<a class="text-muted" title="{% trans "edit" %}" href="{% url 'org_edit' org.pk %}"><i class="icon-pencil"></i></a>
										&nbsp;|&nbsp;
										<a class="text-muted" title="{% trans "delete" %}" href="{% url 'org_delete' org.pk %}">{% trans "delete" %}</a>
									{% endif %}
								&nbsp;]</span>
						</h3>
					</div>

					<div class="margin-left">
						<div class="row">
						{% for project in org.active_projects %}
								<div class="project-cell col-md-4"><i class="icon-book"></i>
									<a href="{% url "project_detail" project.pk %}">{{ project.name }}</a>
									<a class="btn btn-xs text-muted" title="{% trans "Backlogs" %}" href="{% url "project_backlogs" project.pk %}"><i class="icon-trello"></i></a>
								</div>
							{% if forloop.counter|divisibleby:3 %}
								</div><div class="row">
							{% endif %}
						{% empty %}
							<div class="text-warning">
								{% trans "You have no active project in this organization" %}
							</div>
						{% endfor %}
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		{%  else %}
			<div class="text-warning margin-left">
				{% trans "You have no active organization" %}
			</div>
		{% endif %}
		</div>

		<div class="row">
			{% url "project_create" as bs_action_href %}
			{% include "bootstrap/navbar.html" with bs_nav_title=_("Projects") bs_action_title=_("Create project") has_action=True %}
		{% if projects or guest_projects%}
			<div class="col-md-12">
				{% for object in projects %}
				<div>
					<h4 class="inline-title">
						<i class="icon-book"></i>
						<a href="{% url 'project_detail' object.pk %}"> {{ object.name }}</a>
						{% if object|can_admin:request.user %}
							<small class="small">[
								<a class="text-muted" title="{% trans "edit" %}" href="{% url 'project_edit' object.pk %}"><i class="icon-pencil"></i></a>
								|
								<a class="text-muted" href="{% url 'project_delete' object.pk %}">{% trans "delete" %}</a>
							]</small>
						{% endif %}
					</h4>
				</div>
				<div class="margin-left">
					<div class="text-muted small"><i class="icon-time"></i> {% trans "Last update" %}  {{ object.last_modified|naturaltime }}</div>
				</div>
				{% endfor %}
				{% for object in guest_projects %}
				<div>
					<h4 class="inline-title">
						<i class="icon-book"></i>
						<a href="{% url 'project_detail' object.pk %}"> {{ object.name }}</a>
						<span class="label label-default valign-middle">{% trans "Guest" %}</span>
					</h4>
				</div>
				<div class="margin-left">
					<div class="text-muted small"><i class="icon-time"></i> {% trans "Last update" %}  {{ object.last_modified|naturaltime }}</div>
				</div>
				{% endfor %}
				{% for object in archived_projects %}
				<div>
					<h4 class="inline-title">
						<i class="icon-book"></i>
						<span class="text-muted">{{ object.name }} <span class="text-muted small"><i class="muted icon-lock"></i> {% trans "archived" %}</span></span>
						{% if object|can_admin:request.user %}
							<small class="small">[
								<a class="text-muted" title="{% trans "restore" %}" href="{% url 'project_restore' object.pk %}">{% trans "restore" %}</a>
								|
								<a class="text-muted" href="{% url 'project_delete' object.pk %}">{% trans "delete" %}</a>
							]</small>
						{% endif %}
					</h4>
				</div>
				<div class="margin-left">
					<div class="text-muted small"><i class="icon-time"></i> {% trans "Last update" %}  {{ object.last_modified|naturaltime }}</div>
				</div>
				{% endfor %}
			</div>
		{%  else %}
			<div class="text-warning margin-left">
				{% trans "You have no active stand-alone project" %}
			</div>
		{% endif %}
		</div>
	</div>
	<div class="col-md-4">
		{% trans "Recent activities" as bs_nav_title %}
		{% include "bootstrap/navbar.html"%}
		{% include "backlog/_events.html" with events=events gravatar=True%}
	</div>
<div>
{% addtoblock "js" %}
<script type="text/javascript">
$(function() {
	$('[title]').tooltip()
});
</script>
{% endaddtoblock %}
{% endblock %}