{% extends "project_base.html" %}
{% load static sekizai_tags %}
{% block title %}{% trans "Organization" %} &mdash; {{ organization.name }} &mdash; {% trans "Sprint planning" %}{% endblock %}

{% block content_class %}organization-split-planning{% endblock %}

{% block content %}

	{% include "backlog/_org_head.html" %}

	<ul class="nav nav-tabs">
		<li><a href="{% url "org_detail" organization.pk %}">{% trans "General" %}</a></li>
		<li class="active"><a href="{% url "org_sprint_planning" organization.pk %}">{% trans "Sprint planning" %} </a></li>
		<li><a href="{% url "org_users" organization.pk %}">{% trans "Members" %} </a>
		<li><a href="{% url "org_stories" organization.pk %}">{% trans "Stories" %}</a></li>
	</ul>

	<div class="backlog-lanes" style="width:{% widthratio backlog_list.count 1 320 %}px">
		{% for backlog in backlog_list %}
			<article class="backlog" id="backlog-{{ backlog.pk }}" backlog-id="{{ backlog.pk }}">
				<div class="backlog-title">
					<div class="btn-group">
						<a class="btn btn-link dropdown-toggle padding-reset" href="#" data-toggle="dropdown">
							{{ backlog.name }}
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li class="dropdown-title">{% trans "Backlog" %}</li>
							<li><a href="{% url "org_print_stories" organization.pk %}?backlog_id={{ backlog.pk }}">{% trans "Print stories" %}</a></li>
							<li class="divider"></li>
							<li><a href="{% url "org_backlog_edit" organization.pk backlog.pk %}">{% trans "Edit" %}</a></li>
							<li><a href="{% url "org_backlog_delete" organization.pk backlog.pk %}">{% trans "Delete" %}</a></li>
						</ul>
					</div>
					<span class="muted small">({{ backlog.stats.total_stories }})</span>
					<a class="close pull-right close-lane" href="#">&times;</a>
				</div>
				<div class="stories" backlog-id="{{ backlog.pk }}">
					{% for story in backlog.ordered_stories %}
						<article theme-id="{{ story.theme }}" class="small-story" id="story-{{ story.pk }}" story-id="{{ story.pk }}">
							<div class="handle" style="background-color:{{ story.color }}"></div>
							<div class="handled">
								<div class="story-title">
									<div class="btn-group">
										<a class="btn btn-link dropdown-toggle padding-reset" href="#" data-toggle="dropdown">
											{{ story.code }}
											<span class="caret"></span>
										</a>
										<ul class="dropdown-menu">
											<li class="dropdown-title">{% trans "Story" %}</li>
											<li><a href="{% url "story_detail" story.project_id story.pk %}">{% trans "Details" %}</a></li>
											<li><a href="{% url "story_edit" story.project_id story.pk %}?_back=organization">{% trans "Edit" %}</a></li>
											<li><a href="{% url "story_delete" story.project_id story.pk %}?_back=organization">{% trans "Delete" %}</a></li>

										</ul>
									</div>
								</div>
								<div class="points">
									{% if story.points >= 0%}
										{{ story.points|floatformat:"0" }}
									{% else %}
									&mdash;
									{% endif %}
								</div>
								<div class="text">{% include "backlog/user_story_text.html" %}</div>
								{% if story.theme %}
									<div class="theme"><i class="icon-tag"></i> {{ story.theme }}</div>
								{% endif %}
							</div>
						</article>
					{%  endfor %}
				</div>
			</article>
		{% endfor %}
	</div>
{% addtoblock "js" %}
<script type="text/javascript" src="{% static "core/js/jquery.js" %}"></script>
{% endaddtoblock %}

{% addtoblock "js" %}
<script type="text/javascript" src="{% static "core/js/jquery.csrf.js" %}"></script>
{% endaddtoblock %}

{% addtoblock "js" %}
<script type="text/javascript" src="{% static "core/js/jquery-ui.custom.min.js" %}"></script>
{% endaddtoblock %}

{% addtoblock "js" %}
<script type="text/javascript">
	$(function() {
		// keep a clone of speakers to replace the cell
		// if an error occurs on server

		$('.backlog-lanes').sortable({
			placeholder: "backlog-place-holder",
			distance: 3,
			cursor: "move",
			revert: 100,
			update: function(event, ui) {
				$('.backlog-list').sortable("disable");
				var backlog_pk = ui.item.attr("backlog-id");
				var order = [];
				$('[backlog-id]').each(function() {
					order.push(parseInt($(this).attr('backlog-id')));
				});
				$.ajax({
					url: '{% url "api_move_backlog" project.pk %}',
					type: "POST",
					contentType:"application/json; charset=utf-8",
					dataType: "json",
					data: JSON.stringify({
						moved_backlog: backlog_pk,
						order: order
					}),
					error: function( jqXHR, textStatus, errorThrown ){
						$("#messages").empty().append(
							$("<div>").addClass("error").text( '{% trans "Server return an error."%}' )
						);
						$('.backlog-list').sortable( "cancel" );
					},
					success: function() {

					},
					complete: function(){
						$('.backlog-list').sortable("enable");
					}
				});
			}
		});

		$('.stories').sortable({
			connectWith: ".stories",
			placeholder: "story-place-holder",
			forcePlaceholderSize: true,
			distance: 3,
			cursor: "move",
			revert: 100,
			update: function(event, ui) {
				$('.stories').sortable("disable");
				var $this = $(this);
				var story_pk = ui.item.attr("story-id");
				var current_backlog_pk =  $this.attr("backlog-id");
				var from_backlog = ui.sender && ui.sender.attr("backlog-id");
				var ajax_data;
				if ( $this.find("[story-id="+story_pk+"]").length ) {
					var order = [];

					$this.find('[story-id]').each(function() {
						order.push(parseInt($(this).attr('story-id')));
					});
					ajax_data = {
						source_backlog: from_backlog,
						target_backlog: current_backlog_pk,
						moved_story: story_pk,
						order: order
					};
					// story is in the updated backlog
					if (from_backlog) {
						ajax_data.action = "move";
					} else {
						ajax_data.action = "order";
					}
				} else {
					// do not care, we will receive a update for move
				}
				if (ajax_data) {
					$.ajax({
						url: '{% url "api_move_story" project.pk %}',
						type: "POST",
						contentType:"application/json; charset=utf-8",
						dataType: "json",
						data: JSON.stringify(ajax_data),
						error: function( jqXHR, textStatus, errorThrown ){
							$("#messages").empty().append(
								$("<div>").addClass("error").text( '{% trans "Server return an error."%}' )
							);
							$('.stories').sortable( "cancel" );
						},
						success: function() {

						},
						complete: function(){
							$('.stories').sortable("enable");
						}
					});
				} else {
					$('.stories').sortable("enable");
				}
			}
		});

		$(".filter").show(); // hidden by default, if scripting is disabled, they should not show
		$("#theme-select").change(function() {
			var theme_id = $(this).val();
			$(".filter-highlighted").removeClass("filter-highlighted");
			$(".filter-opacified").removeClass("filter-opacified");
			if (theme_id) {
				$("article[theme-id]").addClass("filter-opacified");
				$("article[theme-id='"+theme_id+"']").addClass("filter-highlighted").removeClass("filter-opacified")
			}
		});
		$(".close-lane").click(function() {
			$(this).parents("article.backlog").fadeOut()
		})
	});
</script>
{% endaddtoblock %}
{% endblock %}