{% extends "project_base.html" %}
{% load static sekizai_tags %}
{% block title %}{% trans "Organization" %} &mdash; {{ organization.name }} &mdash; {% trans "Sprint planning" %}{% endblock %}

{% block content_class %}org-backlogs{% endblock %}

{% block navbar %}
	{{ block.super }}
	<li>
		<p class="navbar-text" id="ws-status">
			<span class="status label"></span>
		</p>
	</li>
{% endblock %}

{% block content %}

	{% include "backlog/_org_head.html" %}

	<ul class="nav nav-tabs">
		<li><a href="{% url "org_detail" organization.pk %}">{% trans "General" %}</a></li>
		<li class="active"><a href="{% url "org_sprint_planning" organization.pk %}">{% trans "Sprint planning" %} </a></li>
		<li><a href="{% url "org_users" organization.pk %}">{% trans "Members" %} </a>
		<li><a href="{% url "org_stories" organization.pk %}">{% trans "Stories" %}</a></li>
	</ul>
	<form class="form-inline boxed">
		<label>{% trans "Highlight theme" %}</label>&nbsp;
		<select class="select" id="theme-select">
			<option value="">{% trans "No filter" %}</option>
			{% for theme in organization.all_themes %}
				<option value="{{ theme }}">{{ theme }}</option>
			{% endfor %}
		</select>
		<label>{% trans "Highlight project" %}</label>&nbsp;
		<select class="select" id="project-select">
			<option value="">{% trans "No filter" %}</option>
			{% for proj in organization.projects.all %}
				<option value="{{ proj.pk }}">{{ proj.name }}</option>
			{% endfor %}
		</select>
		<a href=".">{% trans "Refresh" %}</a>
		<a class="btn btn-primary btn-small" href="{% url "org_backlog_create" organization.pk %}">{% trans "Create backlog" %}</a>
	</form>
	<div class="lanes" style="width:{{ backlog_width }}px">
		{% if backlog_of_interest %}
			<div class="backlog-lanes-source pull-left" style="width:320px">
				{% include "backlog/_backlog_lane.html" with backlog=backlog_of_interest is_project_backlog=True%}
			</div>
		{% else %}
			<div class="backlog-lanes" style="width:320px">
				<div class="alert alert-info alert-block">
					{% trans "There is no project in your organization with a main backlog set" %}
				</div>
			</div>
		{% endif %}

		{% if backlog_list %}
			<div class="backlog-lanes" style="width:{% widthratio backlog_list.count 1 320 %}px">
				{% for backlog in backlog_list %}
					{% include "backlog/_backlog_lane.html" with is_org_backlog=True%}
				{% endfor %}
			</div>
		{% else %}
			<div class="backlog-lanes" style="width:320px">
				<div class="alert-info alert">
					{% trans "There is no active backlog in your organization" %}
				</div>
			</div>
		{% endif %}
	</div>
{% addtoblock "js" %}
<script type="text/javascript">
	$(function() {
		var show_error = function( message , jqXHR) {
			if (jqXHR.responseText) {
				try {
					var obj = JSON.parse(jqXHR.responseText);
					if (obj.errors) {
						$ul = $("<ul>")
						$main = $("<div>").addClass("alert alert-block alert-error");
						$main.append($('<button type="button" class="close" data-dismiss="alert">&times;</button>'));
						$main.append($ul)
						obj.errors.forEach(function(e){
							$ul.append($("<li>").text(e))
						});
						$("#messages").empty().append($main);
						return;
					}
				} catch(ex){
					console.error(ex)
				}
			}
			$("#messages").empty().append(
				$("<div>").addClass("alert alert-block alert-error").append(
					$("<span>").text(message),
					$('<button type="button" class="close" data-dismiss="alert">&times;</button>')
				)
			);
		}

		// keep a clone of speakers to replace the cell
		// if an error occurs on server

		$('.backlog-lanes').sortable({
			placeholder: "backlog-place-holder",
			distance: 3,
			cursor: "move",
			revert: 100,
			update: function(event, ui) {
				$('.backlog-lanes').sortable("disable");
				var backlog_pk = ui.item.attr("backlog-id");
				var order = [];
				$(this).find('article[backlog-id]').each(function() {
					order.push(parseInt($(this).attr('backlog-id')));
				});
				$.ajax({
					url: '{% url "api_org_move_backlog" organization.pk %}',
					type: "POST",
					contentType:"application/json; charset=utf-8",
					dataType: "json",
					data: JSON.stringify({
						moved_backlog: backlog_pk,
						order: order
					}),
					error: function( jqXHR, textStatus, errorThrown ){
						show_error('{% trans "Server return an error."%}', jqXHR)
						$('.backlog-lanes').sortable( "cancel" );
					},
					success: function() {

					},
					complete: function(){
						$('.backlog-lanes').sortable("enable");
					}
				});
			}
		});

		$('.stories').sortable({
			connectWith: ".stories",
			placeholder: "story-place-holder",
			forcePlaceholderSize: true,
			distance: 3,
			cursor: "move",
			revert: 100,
			update: function(event, ui) {
				$('.stories').sortable("disable");
				var $this = $(this);
				var story_pk = ui.item.attr("story-id");
				var current_backlog_pk =  $this.attr("story-backlog-id");
				var from_backlog = ui.sender && ui.sender.attr("backlog-id");
				var ajax_data;
				if ( $this.find("[story-id="+story_pk+"]").length ) {
					var order = [];

					$this.find('[story-id]').each(function() {
						order.push(parseInt($(this).attr('story-id')));
					});
					ajax_data = {
						source_backlog: from_backlog,
						target_backlog: current_backlog_pk,
						moved_story: story_pk,
						order: order
					};
					// story is in the updated backlog
					if (from_backlog) {
						ajax_data.action = "move";
					} else {
						ajax_data.action = "order";
					}
				} else {
					// do not care, we will receive a update for move
				}
				if (ajax_data) {
					$.ajax({
						url: '{% url "api_move_story" %}',
						type: "POST",
						contentType:"application/json; charset=utf-8",
						dataType: "json",
						data: JSON.stringify(ajax_data),
						error: function( jqXHR, textStatus, errorThrown ){
							console.log(jqXHR, textStatus, errorThrown)
							show_error('{% trans "Server return an error."%}', jqXHR)
							$('.stories').sortable( "cancel" );
						},
						success: function() {

						},
						complete: function(){
							$('.stories').sortable("enable");
						}
					});
				} else {
					$('.stories').sortable("enable");
				}
			}
		});

		$(".filter").show(); // hidden by default, if scripting is disabled, they should not show
		$("#theme-select").select2({
			allowClear: true,
			width: "180px"
		}).change(function() {
			$("#project-select").select2("val","");
			var theme_id = $(this).val();
			$(".filter-highlighted").removeClass("filter-highlighted");
			$(".filter-opacified").removeClass("filter-opacified");
			if (theme_id) {
				$("article[theme-id]").addClass("filter-opacified");
				$("article[theme-id='"+theme_id+"']").addClass("filter-highlighted").removeClass("filter-opacified")
			}
		});
		$("#project-select").select2({
			allowClear: true,
			width: "180px"
		}).change(function() {
			$("#theme-select").select2("val","");
			var project_id = $(this).val();
			$(".filter-highlighted").removeClass("filter-highlighted");
			$(".filter-opacified").removeClass("filter-opacified");
			if (project_id) {
				$("article[project-id]").addClass("filter-opacified");
				$("article[project-id='"+project_id+"']").addClass("filter-highlighted").removeClass("filter-opacified")
			}
		});
		$(".close-lane").click(function() {
			$(this).parents("article.backlog").fadeOut()
		})

		$.ws_sbscribe({
			url: '{{ ws_url }}Org/{{ organization.pk }}/',
			on_message: function(message) {
				$("#ws-status .status").flash("white", 500);
				if (message.type == "backlogs_moved") {
					var $parent = $(".backlog-lanes");
					for (var i in message.order) {
						var pk = message.order[i];
						var $article = $("article.backlog[backlog-id="+pk+"]");
						$parent.append($article);
					}
				} else if (message.type == "stories_moved") {
					console.log(message)
					var $parent = $("[story-backlog-id="+message.backlog_id+"]");
					for (var i in message.order) {
						var pk = message.order[i];
						var $article = $("article.small-story[story-id="+pk+"]");
						$parent.append($article);
					}
					if (message.moved_story_id) {
						$("article.small-story[story-id="+message.moved_story_id+"]").flash("green", 500);
					}
				}
			},
			on_connect: function() {
				$("#ws-status .status").empty().attr("status","connected").append("<i class='icon-signal'></i> {% trans "online" %}")
			},
			on_disconnect: function() {
				$("#ws-status .status").empty().attr("status","disconnected").append("<i class='icon-signal'></i> {% trans "offline" %}")
			}
		})
	});
</script>
{% endaddtoblock %}
{% endblock %}