{% extends "project_base.html" %}
{% load staticfiles sekizai_tags markup acl humanize %}

{% block title %}{% trans "Project" %} &mdash; {{ project.name }}{% endblock %}
{% block content %}
{% addtoblock "js" %}
<script type="text/javascript">
var show_archived = function(e) {
	$(".archived").show("fast");
	$("#show-archived").hide();
}
</script>
{% endaddtoblock %}
	{% include "backlog/_org_head.html" %}

	<ul class="nav nav-pills nav-crumb">
		<li class="active"><a href="{% url "org_detail" organization.pk %}">{% trans "General" %}</a></li>
		<li><a href="{% url "org_sprint_planning" organization.pk %}">{% trans "Sprint planning" %} </a></li>
		<li><a href="{% url "org_users" organization.pk %}">{% trans "Members" %} </a>
		<li><a href="{% url "org_stories" organization.pk %}">{% trans "Stories" %}</a></li>
	</ul>

	<div class="org-head">
		<h1 class="inline-title">{{ organization.get_big_logo }} {{ organization.name }}</h1>
		{% if organization|can_admin:request.user %}
			<small class="text-muted">[
			<a class="btn-link" href="{% url "org_edit" organization.pk %}">
				{% trans "edit" %}
			</a>|
			<a class="btn-link" href="{% url "org_delete" organization.pk %}">
				{% trans "delete" %}
			</a>
			]</small>
		{% endif %}
	</div>

	<div class="description span12">
		{% if organization.description %}
			{{ organization.description|markdown }}
		{% endif %}
	</div>

<div class="row">

	<div class="col-md-6">
		<h2>{% trans "Backlogs" %}
			{% if organization|can_admin:request.user %}
				<a class="btn btn-success btn-sm" href="{% url "org_backlog_create" organization.pk %}?">
					{% trans "Create backlog" %}
				</a>
			{% endif %}
		</h2>
		<div class="actions"></div>
		<ul class="backlog-list">
			{% for backlog in backlogs %}
				<li {% if backlog.is_archive %}class="archived" style="display:none;"{% endif %}>
					<div class="title">
						{% if backlog.is_archive %}
							<h4 class="archived"><i class="icon-list-ul muted"></i> {{ backlog.name }}
								<span class="text-muted small"><i class="muted icon-lock"></i> {% trans "archived" %}</span>
								{% if organization|can_admin:request.user %}
									<small class="text-muted">[
										<a class="text-muted" href="{% url "org_backlog_restore" organization.pk backlog.pk %}">{% trans "restore" %}</a>
									]</small>
								{% endif %}
							</h4>
						{% else %}
							<H4>
							<a href="{% url "backlog_detail" backlog.pk %}"> <i class="icon-list-ul black"></i> {{ backlog.name }}</a>
							{% if organization|can_admin:request.user and backlog.can_modify%}
								<small class="text-muted">[
									<a class="text-muted" href="{% url "backlog_set_main" backlog.pk %}">{% trans "set main" %}</a>
									{% if not main.is_archive %}
										| <a class="text-muted" href="{% url "org_backlog_archive" organization.pk backlog.pk %}">{% trans "archive" %}</a>
									{% endif %}
									| <a class="text-muted" href="{% url "org_backlog_delete" organization.pk backlog.pk %}">{% trans "delete" %}</a>
								]</small>
							{% endif %}
							{% if backlog.is_main %}
								<span class="label label-inverse smaller">{% trans "main" %}</span>
							{% endif %}
							</H4>
						{% endif %}
					</div>
					{% if not backlog.is_archive %}
						<div class="stats">
							<div class="story-stats percent-cell">
								<div class="name">
									<i class="icon-list-alt info"></i> <b>{{ backlog.stats.total_stories }}</b>
									&nbsp;</span><a href="{% url "org_sprint_planning" organization.pk %}" class="info">{% trans "Stories" %} </a>
									&nbsp;
									<i class="icon-circle info"></i> <b>{{ backlog.stats.total_points }}</b>
									&nbsp;</span><a href="{% url "org_sprint_planning" organization.pk %}" class="info">{% trans "Points" %} </a>
								</div>

							</div>
						</div>
					{% endif %}
				</li>
			{% empty %}
				<div class="text-warning margin-left">
					{% trans "No backlog" %}
				</div>
			{% endfor %}
			{% if archived_count %}
				<li>
					<a id="show-archived" href="javascript:show_archived()"><i class="icon-expand-alt"></i>
						{% blocktrans count archived_count as counter %}Show archived backlog{% plural %}Show {{ counter }} archived backlogs{% endblocktrans %}
					</a>
				</li>
			{% endif %}
		</ul>

	</div>
	<div class="col-md-6">
		<h2>{% trans "Projects" %}
			{% if organization|can_admin:request.user %}
				<a class="btn btn-success btn-sm" href="{% url "project_create" %}?org={{ organization.pk }}">{% trans "New project" %}</a>
			{% endif %}
		</h2>
		<div class="actions"></div>
		{% if projects %}
			<div class="span12">
				{% for object in projects %}
				<div>
					<h4 class="inline-title">
						<i class="icon-book"></i>
						<a href="{% url 'project_detail' object.pk %}"> {{ object.name }}</a>
						{% if object|can_admin:request.user %}
							<small class="small">[
								<a class="text-muted" href="{% url 'project_edit' object.pk %}">{% trans "edit" %}</a>
								|
								<a class="text-muted" href="{% url 'project_delete' object.pk %}">{% trans "delete" %}</a>
								|
								<a class="text-muted" href="{% url 'project_backlogs' object.pk %}"><i class="icon-trello"></i></a>
							]</small>
						{% endif %}
					</h4>
				</div>
				<div class="margin-left">
					<div class="col-md-12 text-muted small"><i class="icon-time"></i> {% trans "Last update" %}  {{ object.last_modified|naturaltime }}</div>
				</div>
				{% endfor %}
			</div>
		{%  else %}
			<div class="text-warning margin-left">
				{% trans "You have no active project in this organization" %}
			</div>
		{% endif %}
	</div>
</div>
{% endblock %}