{% extends "project_base.html" %}
{% load staticfiles sekizai_tags markup acl %}

{% block title %}{% trans "Project" %} &mdash; {{ organization.name }}{% endblock %}
{% block content %}

	{% include "backlog/_org_head.html" %}

	<ul class="nav nav-pills nav-crumb">
		<li><a href="{% url "org_detail" organization.pk %}">{% trans "General" %}</a></li>
		<li><a href="{% url "org_sprint_planning" organization.pk %}">{% trans "Sprint planning" %} </a></li>
		<li class="active"><a href="{% url "org_users" organization.pk %}">{% trans "Members" %} </a>
		<li><a href="{% url "org_stories" organization.pk %}">{% trans "Stories" %}</a></li>
	</ul>

	<h2>{% trans "Users" %}</h2>

	<div class="description">
		<p>{% blocktrans %}Here is the list of all organization's users.{% endblocktrans %}</p>
	</div>
	<div class="actions">
		{% if organization|can_admin:request.user %}
			<a class="btn btn-success" href="{% url "org_invite_user" organization.pk %}">
				{% trans "Invite user" %}
			</a>
		{% endif %}
	</div>
	<table class="table table-striped users-list">
		<thead class="headers">
			<tr>
				<th class="user-image"></th>
				<th class="user-name">{% trans "User name" %}</th>
				<th class="user-email">{% trans "email" %}</th>
				<th class="user-invitation">{% trans "Invitation" %}</th>
				<th class="user-role">{% trans "Role" %}</th>
				<th class="user-actions"></th>
			</tr>
		</thead>
		<tbody>
			{% for auth in organization.authorizations.all %}
				<tr id="auth-{{ auth.pk }}" class="{% if auth.user == request.user %}myself{% endif %}">
					<td class="user-image"><img src="{{ auth.user.get_gravatar_url }}"></td>
					<td class="user-name">{{ auth.user.full_name }}</td>
					<td class="user-email">{{ auth.user.email }}</td>
					<td class="user-invitation">{% if auth.is_active %}{% trans "Accepted" %}{% else %}{% trans "Pending" %}{% endif %}</td>
					<td class="user-role">{% if auth.is_admin %}{% trans "Administrator" %}{% else %}{% trans "User" %}{% endif %}</td>
					<td class="user-actions text-right">
					{% if organization|can_admin:request.user and auth.user_id != request.user.pk%}
						<a class="btn btn-default btn-xs" title="{% trans "Edit" %}" href="{% url "org_auth_edit" organization.pk auth.pk %}"><i class="icon-pencil"></i></a>
						<a class="btn btn-xs btn-danger" title="{% trans "Delete" %}" href="{% url "org_auth_delete" organization.pk auth.pk %}"><i class="icon-remove"></i></a>
					{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}