{% extends "project_base.html" %}
{% load staticfiles sekizai_tags markup acl %}

{% block title %}{% trans "Project" %} &mdash; {{ project.name }}{% endblock %}
{% block content %}

	{% include "backlog/_org_head.html" %}

	<ul class="nav nav-tabs">
		<li class="active"><a href="{% url "org_detail" organization.pk %}">{% trans "General" %}</a></li>
		<li><a href="{% url "org_backlogs" organization.pk %}">{% trans "Backlogs" %} </a></li>
		<li><a href="{% url "org_users" organization.pk %}">{% trans "Members" %} </a>
		<li><a href="{% url "org_stories" organization.pk %}">{% trans "Stories" %}</a></li>
	</ul>

	<div class="description span12">
		{% if organization.description %}
			{{ organization.description|markdown }}
		{% endif %}
	</div>

<div class="row-fluid">

	<div class="span6">
		<h2>{% trans "Backlogs" %}</h2>
		<div class="actions">
			{% if WRONG|can_admin:request.user %}
				<a class="btn btn-primary" href="{% url "org_backlog_create" project.pk %}?">
					{% trans "Create backlog" %}
				</a>
			{% endif %}
		</div>
		<ul class="backlog-list">
			{% for backlog in organization.backlogs.all %}
				<li>
					<div class="title">
						<a href="{% url "project_backlogs" project.pk %}"> <i class="icon-list-ul black"></i> {{ backlog.name }}</a>
					</div>
					<div class="stats">
						<div class="story-stats percent-cell">
							<div class="name">
								<i class="icon-list-alt info"></i> <b>{{ backlog.stats.total_stories }}</b>
								&nbsp;</span><a href="{% url "project_backlogs" project.pk %}" class="info">{% trans "Stories" %} </a>
								&nbsp;
								<i class="icon-circle info"></i> <b>{{ backlog.stats.total_points }}</b>
								&nbsp;</span><a href="{% url "project_backlogs" project.pk %}" class="info">{% trans "Points" %} </a>
							</div>
							{% if backlog.stats.estimated_stories %}
								<span class="percent bg-blue" style="width:{{ backlog.stats.percent_estimated }}%">{{ backlog.stats.estimated_stories }} <i class="icon-circle info"></i> {{ backlog.stats.estimated_points }} pts</span>
							{% else %}
								<span class="percent" style="width:0"></span>
							{% endif %}
							{% if backlog.stats.completed_stories %}
								<span class="percent bg-green" style="width:{{ backlog.stats.percent_completed }}%">{{ backlog.stats.completed_stories }} <i class="icon-circle info"></i> {{ backlog.stats.completed_points }} pts</span>
							{% else %}
								<span class="percent" style="width:0"></span>
							{% endif %}
						</div>
					</div>
					<a class="btn btn-link btn-mini create" href="{% url "story_create" project.pk backlog.pk %}">{% trans "Create story" %}</a>
				</li>
			{% empty %}
				<div class="text-warning">
					{% trans "This organization has no backlog" %}
				</div>
			{% endfor %}
		</ul>
	</div>
	<div class="span6">
		<h2>{% trans "Last activities" %}</h2>
		<div class="actions"></div>
		{% include "backlog/_events.html" with events=events %}
	</div>
</div>
{% endblock %}