{% extends "project_base.html" %}

{% block title %}{% if object %}{% trans "Edit project" %}{% else %}{% trans "Add a new project" %}{% endif %}{% endblock %}

{% block content %}
	<ul class="breadcrumb">
		<li><a href="{% url "dashboard" %}"><i class="icon-home"></i></a>&nbsp;&nbsp;</li>
		<li class="divider"><div class="inner"></div></li>
		{% if organization %}
			<li><a href="{% url "org_detail" organization.pk %}">{{ organization.get_mini_logo }} {{ organization.name }}</a></li>
			<li class="divider"><div class="inner"></div></li>
		{% endif %}
		{% if object %}
			<li class="active">{% trans "Edit project" %}</li>
		{% else %}
			<li class="active">{% trans "Create project" %}</li>
		{% endif %}
	</ul>

<div class="row">
	<div class="col-md-6 col-md-offset-3 base-form">
		{% if not object %}<h1>{% trans "Add a new project" %}</h1>{% endif %}
		<form method="post" id="edit_project_form" action="{% if object %}{% url "project_edit" object.pk %}{% else %}{% url "project_create" %}{% endif %}">

			{% include "form.html" %}
			<div class="submit">
				<input class="btn btn-success" type="submit" value="{% if object %}{% trans "Save changes" %}{% else %}{% trans "Create project" %}{% endif %}">
				<a class="btn btn-link" href="{% if object %}{% url "project_detail" object.pk %}{% else %}{% url "dashboard" %}{% endif %}">{% trans "Cancel" %}</a>
			</div>
		</form>
	</div>
</div>
{% endblock %}