{% extends "project_base.html" %}
{% block title %}{% trans "Restore project" %}{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-6 col-md-offset-3">
	<h1>{% trans "Restore project" %}</h1>
	<h2><i class="icon-book muted"></i> {{ project.name }}</h2>
	<div class="alert alert-info">
		<p>
			{% trans "Are you sure you want to restore this project?" %}
		</p>
	</div>
		{% url "project_restore" project.pk backlog.pk as action_url%}

	{% if organization %}
		{% url "org_detail" organization.pk as cancel_url%}
	{% else %}
		{% url "dashboard" as cancel_url%}
	{% endif %}
	<form method="post" id="restore_form" action="{% url "project_restore" project.pk %}">
		{% csrf_token %}
		{{ form }}
		<div class="submit">
			<button class="btn btn-primary" type="submit">{% trans "Restore this project" %}</button>
			<a href="{{ cancel_url }}">{% trans "Cancel" %}</a>
		</div>
	</form>
	</div>
</div>
{% endblock %}
