{% extends "project_base.html" %}
{% load static sekizai_tags hashcolor acl %}
{% block title %}{% trans "Project" %} &mdash; {{ project.name }} &mdash; {% trans "backlogs" %}{% endblock %}

{% block content_class %}project-backlogs{% endblock %}

{% block navbar %}
	{{ block.super }}
	<li>
		<p class="navbar-text" id="ws-status">
			<span class="status label"></span>
		</p>
	</li>
{% endblock %}

{% block content %}

	{% include "backlog/_project_head.html" %}
	{% include "backlog/_project_tabs.html" with active="backlogs" %}

	<form class="form-inline boxed">
		<label>{% trans "Highlight theme" %}</label>&nbsp;
		<select class="select" id="theme-select">
			<option value="">{% trans "No filter" %}</option>
			{% for theme in project.all_themes %}
				<option value="{{ theme }}">{{ theme }}</option>
			{% endfor %}
		</select>
		<label>{% trans "Colorized by" %}</label>&nbsp;
		<select class="select-mini" id="color-select">
			<option value="color-story" selected>{% trans "Story color" %}</option>
			<option value="color-theme">{% trans "Theme color" %}</option>
		</select>
		<a href=".">{% trans "Refresh" %}</a>
		{% if project|can_admin:request.user %}
			<a class="btn btn-success btn-sm" href="{% url "project_backlog_create" project.pk %}">{% trans "Create backlog" %}</a>
		{% endif %}
	</form>

{% endblock %}
{% block outer_content %}
<div class="container" style="width:100%; height:100%; overflow-x:visible !important; clear:both;">

	<div class="backlog-lanes center-lane" style="width:{% widthratio backlog_list|length 1 320 %}px">
		{% for backlog in backlog_list %}
			<article class="{% if backlog.is_main %}main{% endif %} backlog" id="backlog-{{ backlog.pk }}" backlog-id="{{ backlog.pk }}">
				<div class="backlog-title">
					<div class="btn-group">
						<a class="btn btn-link dropdown-toggle padding-reset" href="#" data-toggle="dropdown">
							{{ backlog.name }}
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="{% url "print_stories" %}?backlog_id={{ backlog.pk }}">{% trans "Print stories" %}</a></li>
							<li><a href="{% url "backlog_detail" backlog.pk %}">{% trans "Priority view" %}</a></li>
							<li class="divider"></li>
							<li><a href="{% url "project_backlog_edit" project.pk backlog.pk %}?_back=project">{% trans "Edit" %}</a></li>
							<li><a href="{% url "project_backlog_delete" project.pk backlog.pk %}?_back=project">{% trans "Delete" %}</a></li>
						</ul>
					</div>
					<small class="text-muted small">
						<span class="backlog-stories">{{ backlog.stats.total_stories }}</span>
						<i class="icon-circle"></i>
						<span class="backlog-points">{{ backlog.stats.total_points }}</span> pts
					</small>


					{% if backlog.is_main %}
						<span class="top-right label label-inverse pull-right">{% trans "main" %}</span>
					{% endif %}
				</div>
				<div class="stories" story-backlog-id="{{ backlog.pk }}">
					{% for story in backlog.ordered_stories %}
						{% include "backlog/_story_small.html" with back_mode="project"%}
					{%  endfor %}
				</div>
				<div class="backlog-action">
					<a href="{% url "story_create" project.pk backlog.pk %}?_back=project" class="btn btn-success btn-xs">{% trans "Add story" %}</a>
				</div>
			</article>
		{% endfor %}
	</div>
</div>
{% include "backlog/_script_status_change.html" %}
{% include "backlog/_script_show_errors.html" %}

{% addtoblock "js" %}
<script type="text/javascript">
	$(function() {

		$('article.small-story').dblclick(function() {
			window.location.href = $(this).find("a.dblclick").attr("href")
		})

		$('.backlog-lanes').sortable({
			placeholder: "backlog-place-holder",
			distance: 3,
			cursor: "move",
			revert: 100,
			update: function(event, ui) {
				$('.backlog-lanes').sortable("disable");
				var backlog_pk = ui.item.attr("backlog-id");
				var order = [];
				$(this).find('article[backlog-id]').each(function() {
					order.push(parseInt($(this).attr('backlog-id')));
				});
				$.ajax({
					url: '{% url "api_project_move_backlog" project.pk %}',
					type: "POST",
					contentType:"application/json; charset=utf-8",
					dataType: "json",
					data: JSON.stringify({
						moved_backlog: backlog_pk,
						order: order
					}),
					error: function( jqXHR, textStatus, errorThrown ){
						$.show_error( '{% trans "Server return an error."%}', jqXHR)
						$('.backlog-lanes').sortable( "cancel" );
					},
					success: function() {

					},
					complete: function(){
						$('.backlog-lanes').sortable("enable");
					}
				});
			}
		});

		$('.stories').sortable({
			connectWith: ".stories",
			placeholder: "story-place-holder",
			forcePlaceholderSize: true,
			distance: 3,
			cursor: "move",
			revert: 100,
			update: function(event, ui) {
				$('.stories').sortable("disable");
				var $this = $(this);
				var story_pk = ui.item.attr("story-id");
				var current_backlog_pk =  $this.attr("story-backlog-id");
				var from_backlog = ui.sender && ui.sender.attr("backlog-id");
				var ajax_data;
				if ( $this.find("[story-id="+story_pk+"]").length ) {
					var order = [];

					$this.find('[story-id]').each(function() {
						order.push(parseInt($(this).attr('story-id')));
					});
					ajax_data = {
						source_backlog: from_backlog,
						target_backlog: current_backlog_pk,
						moved_story: story_pk,
						order: order
					};
					// story is in the updated backlog
					if (from_backlog) {
						ajax_data.action = "move";
					} else {
						ajax_data.action = "order";
					}
				} else {
					// do not care, we will receive a update for move
				}
				if (ajax_data) {
					$.ajax({
						url: '{% url "api_move_story" %}',
						type: "POST",
						contentType:"application/json; charset=utf-8",
						dataType: "json",
						data: JSON.stringify(ajax_data),
						error: function( jqXHR, textStatus, errorThrown ){
							$.show_error( '{% trans "Server return an error."%}', jqXHR)
							$('.stories').sortable( "cancel" );
						},
						success: function() {

						},
						complete: function(){
							$('.stories').sortable("enable");
						}
					});
				} else {
					$('.stories').sortable("enable");
				}
			}
		});

		$(".filter").show(); // hidden by default, if scripting is disabled, they should not show
		$("#theme-select").select2({
			allowClear: true,
			width: "180px"
		}).change(function() {
			var theme_id = $(this).val();
			$(".filter-highlighted").removeClass("filter-highlighted");
			$(".filter-opacified").removeClass("filter-opacified");
			if (theme_id) {
				$("article[theme-id]").addClass("filter-opacified");
				$("article[theme-id='"+theme_id+"']").addClass("filter-highlighted").removeClass("filter-opacified")
			}
		});
		$("#color-select").select2({
			width: "180px",
			allowClear: false
		}).change(function() {
            var color_tag = $(this).val();
			$("article.small-story").each(function() {
				var $this = $(this);
				var c = $this.attr(color_tag);
				if (c.length < 3) {
					c = "transparent";
				}
				$this.find(".handle").css({
					"background-color": c
				})
			});
        });

		$.ws_sbscribe({
			url: '{{ ws_url }}projects/{{ project.pk }}/',
			on_message: function(message) {
				$("#ws-status .status").flash("white", 500);
				if (message.type == "backlogs_moved") {
					var $parent = $(".backlog-lanes");
					for (var i in message.order) {
						var pk = message.order[i];
						var $article = $("article.backlog[backlog-id="+pk+"]");
						$parent.append($article);
					}
				} else if (message.type == "stories_moved") {
					console.log(message)
					var $parent = $("[story-backlog-id="+message.backlog_id+"]");
					for (var i in message.order) {
						var pk = message.order[i];
						var $article = $("article.small-story[story-id="+pk+"]");
						$parent.append($article);
					}
					if (message.moved_story_id) {
						$("article.small-story[story-id="+message.moved_story_id+"]").flash("green", 500);
					}
					recalculate_lanes()
				} else if (message.type == "user_join" || message.type == "user_leave") {
					var $users = $("#ws-users").empty();
					$users.text(message.users.length);
					generate_ws_tooltip(message.users);
				}
			},
			on_connect: function() {
				$("#ws-status .status").empty().attr("status","connected").append("<i class='icon-signal'></i> {% trans "online" %} <span id='ws-users'></span>")
			},
			on_disconnect: function() {
				$("#ws-status .status").empty().attr("status","disconnected").append("<i class='icon-signal'></i> {% trans "offline" %}")
			}
		})

		var WS_TOOLTIP = "";
		var generate_ws_tooltip = function(users) {
			var ret = "<h5>{% trans "Online users" %}</h5>";
			users.forEach(function(u){
				ret += ("<div class='tt-user'><img src='"+$.get_gravatar_url(u, 16)+"'><span>"+u+"</span></div>");
			});
			WS_TOOLTIP = ret;
		}
		$("#ws-status").tooltip({
			html : true,
			placement: "bottom",
			trigger: "click",
			title: function() {
				return WS_TOOLTIP;
			}
		});

		// redisplay the story count and point on each lane
		var recalculate_lanes = function() {
			$("article.backlog").each(function() {
				var $lane = $(this);
				var cnt = 0;
				var pts = 0;
				$lane.find("article.small-story").each(function() {
					var $article = $(this);
					cnt = cnt+1;
					pt =  parseFloat($article.attr("points"));
					if (pt > 0) {
						pts = pts + pt;
					}
				});
				$lane.find(".backlog-points").text(pts);
				$lane.find(".backlog-stories").text(cnt);
			})
		}
	});
</script>
{% endaddtoblock %}
{% endblock %}