{% extends "base.html" %}
{% load i18n %}

{% block title %}{% if object %}{% trans "Edit project" %}{% else %}{% trans "Add a new project" %}{% endif %}{% endblock %}

{% block content %}
	{% if not object %}<h1>{% trans "Add a new project" %}</h1>{% endif %}
    <form method="post" id="edit_project_form" action="{% if object %}{% url "project_edit" object.pk %}{% else %}{% url "project_create" %}{% endif %}">

        {% csrf_token %}
        {% include "form.html" %}
        <div class="submit actions">
			<input class="button" type="submit" value="{% if object %}{% trans "Save changes" %}{% else %}{% trans "Create project" %}{% endif %}">
			<a href="{% if object %}{% url "project_detail" object.pk %}{% else %}{% url "project_list" %}{% endif %}">{% trans "Cancel" %}</a>
		</div>
	</form>
{% endblock %}