{% extends "base.html" %}
{% load staticfiles sekizai_tags %}

{% block title %}{% trans "Project List" %}{% endblock %}

{% block content %}
	<div class="path">
		<i class="icon-home"></i><span class="current">{% trans "Home" %}</span>
	</div>
	<h1>{% trans "My projects" %}</h1>

	<div class="actions">
		<a class="button" href="{% url "project_create" %}">
			{% trans "Create new project" %}
		</a>
		<div class="project-count">
			{% blocktrans count object_list|length as counter %}
				one project found.
			{% plural %}
				{{ counter }} projects found.
			{% endblocktrans %}
			<span class="legend bg-blue">{% trans "Estimated stories" %}</span>
			<span class="legend bg-green">{% trans "Completed stories" %}</span>
		</div>

	</div>
	{% if object_list %}
		<ul class="project-list">
			{% for object in object_list %}
				<li>
					<div class="title">
						<i class="icon-book"></i>
						<a href="{% url 'project_detail' object.pk %}">{{ object.name }}</a>
					</div>
					<div class="stats">
						<div class="story-stats percent-cell">
							<span class="name">{% trans "Stories:" %} {{ object.stats.total_stories }}</span>
							<span class="percent bg-blue" style="width:{{ object.stats.percent_estimated }}%">{{ object.stats.estimated_stories }}</span>
							<span class="percent bg-green" style="width:{{ object.stats.percent_completed }}%">{{ object.stats.completed_stories }}</span>
						</div>
						<span class="points-count">
							{% trans "Completed:" %} {{ object.stats.completed_points }} / {{ object.stats.total_points }} pts
						</span>
					</div>
				</li>
			{% endfor %}
		</ul>

	{%  else %}
		<div class="project-count">
		{% trans "No active project found" %}
		</div>
	{% endif %}

{% endblock %}