{% extends "project_base.html" %}
{% load staticfiles sekizai_tags markup acl %}

{% block title %}{% trans "Project" %} &mdash; {{ project.name }}{% endblock %}
{% block content %}

	{% include "backlog/_project_head.html" %}

	<ul class="nav nav-tabs">
		<li><a href="{% url "project_detail" project.pk %}">{% trans "General" %}</a></li>
		<li><a href="{% url "project_backlogs" project.pk %}">{% trans "Backlogs" %} </a></li>
		<li><a href="{% url "project_users" project.pk %}">{% trans "Members" %} </a>
		<li class="active"><a href="{% url "project_stories" project.pk %}">{% trans "Stories" %}</a></li>
	</ul>

	<h2 class="inline-title">{% trans "Stories" %}</h2>

	<a class="btn btn-link" href="{% url "print_stories" project.pk %}?backlog_id={{ backlog.pk }}">{% trans "Generate PDF" %}</a>

	<div class="description">
		<p>{% blocktrans %}Here is the list of all stories in this project. Those stories are not sorted, to have a sorted "view" of project sotries, use backlogs.{% endblocktrans %}</p>
	</div>

	{% url "project_stories" project.pk as base_url %}
	<table class="table table-striped project-stories">
		<thead class="headers">
			<tr>
				<th class="story-code">
					{% include "backlog/_td_sort.html" with key="number" title="ID" %}
				</th>
				<th class="story-desc">{% trans "Description" %}</th>
				<th class="story-points">
					{% include "backlog/_td_sort.html" with key="points" title="Points" %}
				</th>
				<th class="story-backlog">
					{% include "backlog/_td_sort.html" with key="backlog__name" title="Backlog" %}
				</th>
				<th class="story-status">
					{% include "backlog/_td_sort.html" with key="status" title="Status" %}
				</th>
				<th class="story-theme">
					{% include "backlog/_td_sort.html" with key="theme" title="Theme" %}
				</th>
			</tr>
		</thead>
		<tbody>
			{% for story in stories %}
				<tr id="story-{{ story.pk }}">
					<td class="story-code" style="border-left: 3px solid {{ story.color }}">
						{% if selectable %}
							<input type="checkbox" name="story-{{ story.pk }}">
						{% endif %}
						<a href="{% url "story_backlog_detail" story.project_id story.backlog.pk story.pk %}">{{ story.code }}</a>
					</td>
					<td class="story-desc">
						{% include "backlog/user_story_text.html" %}
					</td>
					<td class="story-points">
						{% if story.points >= 0 %}
							{{ story.points|floatformat:"0" }}
						{% else %}
							&nbsp;
						{% endif %}
					</td>
					<td class="story-backlog">
						<a href="{% url "backlog_detail" project.pk story.backlog.pk %}">{{story.backlog.name }}</a>
					</td>
					<td class="story-status">
						<span status="{{ story.status }}">{{ story.get_status_display }}</span>
					</td>
					<td class="story-theme">{{ story.theme }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}