{% extends "project_base.html" %}
{% load staticfiles sekizai_tags markup acl %}

{% block title %}{% trans "Project" %} &mdash; {{ project.name }}{% endblock %}
{% block content %}

	{% include "backlog/_project_head.html" %}

	<ul class="nav nav-tabs">
		<li class="active"><a href="{% url "project_detail" project.pk %}">{% trans "General" %}</a></li>
		<li><a href="{% url "project_backlogs" project.pk %}">{% trans "Backlogs" %} </a></li>
		<li><a href="{% url "project_users" project.pk %}">{% trans "Members" %} </a>
		<li><a href="{% url "project_stories" project.pk %}">{% trans "Stories" %}</a></li>
	</ul>

	<div class="description span12">
		{% if project.description %}
			{{ project.description|markdown }}
		{% endif %}
	</div>

<div class="row-fluid">

	<div class="span6">
		<h2>{% trans "Backlogs" %}</h2>
		<div class="actions">
			{% if project|can_admin:request.user %}
				<a class="btn btn-primary" href="{% url "project_backlog_create" project.pk %}">
					{% trans "Create backlog" %}
				</a>
			{% endif %}
		</div>
		<ul class="backlog-list">
			{% for backlog in project.backlogs.all %}
				<li>
					<div class="title">
						<H4><a href="{% url "project_backlogs" project.pk %}"> <i class="icon-list-ul black"></i> {{ backlog.name }}</a>
						{% if project|can_admin:request.user and backlog.can_modify %}
							<small class="muted">[
								<a href="{% url "backlog_set_main" backlog.pk %}">{% trans "set main" %}</a>
								{% if not backlog.is_archive %}
									| <a href="{% url "project_backlog_archive" project.pk backlog.pk %}">{% trans "archive" %}</a>
								{% endif %}
							]</small>
						{% endif %}
						{% if backlog.is_archive %}
							<span class="muted small"><i class="muted icon-lock"></i> {% trans "archived" %}</span>
						{% endif %}
						{% if backlog.is_main %}
							<span class="label label-inverse">{% trans "main" %}</span>
						{% endif %}
						</H4>
					</div>
					<div class="stats">
						<div class="story-stats percent-cell">
							<div class="name">
								<i class="icon-list-alt info"></i> <b>{{ backlog.stats.total_stories }}</b>
								&nbsp;</span><a href="{% url "project_backlogs" project.pk %}" class="info">{% trans "Stories" %} </a>
								&nbsp;
								<i class="icon-circle info"></i> <b>{{ backlog.stats.total_points }}</b>
								&nbsp;</span><a href="{% url "project_backlogs" project.pk %}" class="info">{% trans "Points" %} </a>
							</div>
							{% if backlog.stats.estimated_stories %}
								<span class="percent bg-blue" style="width:{{ backlog.stats.percent_estimated }}%">{{ backlog.stats.estimated_stories }} <i class="icon-circle info"></i> {{ backlog.stats.estimated_points }} pts</span>
							{% else %}
								<span class="percent" style="width:0"></span>
							{% endif %}
							{% if backlog.stats.completed_stories %}
								<span class="percent bg-green" style="width:{{ backlog.stats.percent_completed }}%">{{ backlog.stats.completed_stories }} <i class="icon-circle info"></i> {{ backlog.stats.completed_points }} pts</span>
							{% else %}
								<span class="percent" style="width:0"></span>
							{% endif %}
						</div>
					</div>
				</li>
			{% empty %}
				{% trans "No backlog" %}
			{% endfor %}
		</ul>
	</div>
	<div class="span6">
		<h2>{% trans "Last activities" %}</h2>
		<div class="actions"></div>
		{% include "backlog/_events.html" with events=events %}
	</div>
</div>
{% endblock %}