{% extends "project_base.html" %}
{% load staticfiles sekizai_tags markup acl %}

{% block title %}{% trans "Project" %} &mdash; {{ project.name }}{% endblock %}
{% block content %}

	{% include "backlog/_project_head.html" %}

	<ul class="nav nav-tabs">
		<li><a href="{% url "project_detail" project.pk %}">{% trans "General" %}</a></li>
		<li><a href="{% url "project_backlogs" project.pk %}">{% trans "Backlogs" %} </a></li>
		<li class="active"><a href="{% url "project_users" project.pk %}">{% trans "Members" %} </a>
		<li><a href="{% url "project_stories" project.pk %}">{% trans "Stories" %}</a></li>
	</ul>

	<h2>{% trans "Users" %}</h2>

	<div class="description">
		<p>{% blocktrans %}Here is the list of all users participating to this project.{% endblocktrans %}</p>
	</div>
	<div class="actions">
		{% if project|can_admin:request.user%}
			<a class="btn btn-primary" href="{% url "project_invite_user" project.pk %}">
				{% trans "Invite user" %}
			</a>
		{% endif %}
	</div>
	<table class="table table-striped">
		<thead class="headers">
			<tr>
				<th class="user-image"></th>
				<th class="user-name">{% trans "User name" %}</th>
				<th class="user-email">{% trans "email" %}</th>
				<th class="user-invitation">{% trans "Invitation" %}</th>
				<th class="user-role">{% trans "Role" %}</th>
				<th class="user-actions"></th>
			</tr>
		</thead>
		<tbody>
			{% for auth in project.authorizations.all %}
				<tr id="auth-{{ auth.pk }}">
					<td class="user-image"><img src="{{ auth.user.get_gravatar_url }}"></td>
					<td class="user-name">{{ auth.user.full_name }}</td>
					<td class="user-email">{{ auth.user.email }}</td>
					<td class="user-invitation">{% if auth.is_active %}{% trans "Accepted" %}{% else %}{% trans "Pending" %}{% endif %}</td>
					<td class="user-role">{% if auth.is_admin %}{% trans "Administrator" %}{% else %}{% trans "User" %}{% endif %}</td>
					<td class="user-actions">
						{% if project|can_admin:request.user and auth.user_id != request.user.pk%}
						<a title="{% trans "Delete" %}" href="{% url "project_auth_delete" project.pk auth.pk %}"><i class="icon-remove"></i></a>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}