{% extends "base.html" %}
{% load staticfiles sekizai_tags i18n markup %}

{% block title %}{% trans "Project" %} &mdash; {{ project.name }}{% endblock %}
{% block content %}
	<div class="path">
		<a href="{%  url "home" %}"><i class="icon-home"></i>{% trans "Home" %}</a> /
		<i class="icon-book"></i> <span class="current">{{ project.name }}</span>
	</div>

	<div class="description">
		{% if project.description %}
			{{ project.description|markdown }}
		{% endif %}
	</div>
	<div class="actions">
		<a class="button icon-magic" href="{% url "backlog_create" project.pk %}">{% trans "Create backlog" %}</a>
		<a class="button icon-edit" href="{% url "project_edit" project.pk %}">{% trans "Edit" %}</a>
		<a class="button icon-remove" href="{% url "project_delete" project.pk %}">{% trans "Delete" %}</a>
	</div>
	<h2 class="poutre">Backlogs</h2>
	<div class="backlog-list">
		<ul>
			{% for backlog in project.backlogs.all %}
				<li class="icon-list-ul">
					<a href="{% url 'backlog_detail' project.pk backlog.pk %}">{{ backlog.name }}</a> <span class="kind">{{ backlog.get_kind_display }}</span>
				</li>
			{% empty %}
				{% trans "No backlog" %}
			{% endfor %}
		</ul>
	</div>

{% endblock %}