{% extends "project_base.html" %}

{% block title %}{% if object %}{% trans "Edit project" %}{% else %}{% trans "Add a new project" %}{% endif %}{% endblock %}

{% block content %}
	<ul class="breadcrumb">
		<li><a href="{% url "dashboard" %}"> {% trans "Dashboard" %}</a><span class="divider">/</span></li>
		{% if object %}
			<li class="active"><i class="icon-book"></i> {% trans "Edit project" %}<span class="divider"></span></li>
		{% else %}
			<li class="active"><i>{% trans "Create project" %}</i><span class="divider"></span></li>
		{% endif %}
	</ul>

<div class="row-fluid">
	<div class="span6 offset3 base-form">
		{% if not object %}<h1>{% trans "Add a new project" %}</h1>{% endif %}
		<form method="post" id="edit_project_form" action="{% if object %}{% url "project_edit" object.pk %}{% else %}{% url "project_create" %}{% endif %}">

			{% include "form.html" %}
			<div class="submit">
				<input class="btn btn-success" type="submit" value="{% if object %}{% trans "Save changes" %}{% else %}{% trans "Create project" %}{% endif %}">
				<a class="btn btn-link" href="{% if object %}{% url "project_detail" object.pk %}{% else %}{% url "dashboard" %}{% endif %}">{% trans "Cancel" %}</a>
			</div>
		</form>
	</div>
</div>
{% endblock %}