{% extends "base.html" %}
{% load staticfiles sekizai_tags i18n markup %}

{% block title %}{% trans "Project" %} &mdash; {{ project.name }}{% endblock %}
{% block content %}
	<div class="path">
		<a href="{%  url "home" %}"><i class="icon-beer"></i>{% trans "Home" %}</a> /
		<i class="icon-book"></i> {{ project.name }} /
	</div>

	<div class="description">
		{% if project.description %}
			{{ project.description|markdown }}
		{% endif %}
	</div>
	<h2>Backlogs</h2>
	<div class="backlog-list">
		<ul>
			{% for backlog in project.backlogs.all %}
				<li>
					<a href="{% url 'backlog_detail' project.pk backlog.pk %}">{{ backlog.name }}</a>
				</li>
			{% empty %}
				{% trans "No backlog" %}
			{% endfor %}
		</ul>
	</div>
	<div class="actions">
		<a class="button" href="{% url "project_edit" project.pk %}">{% trans "Edit" %}</a>
		<a class="button" href="{% url "project_delete" project.pk %}">{% trans "Delete" %}</a>
	</div>
{% endblock %}