{% extends "base.html" %}
{% load staticfiles sekizai_tags %}

{% block title %}{% trans "Project List" %}{% endblock %}

{% block content %}
	<div class="path">
		<i class="icon-home"></i><span class="current">{% trans "Home" %}</span>
	</div>
	<h1>{% trans "My projects" %}</h1>
	<div class="actions">
		<a class="button icon-magic" href="{% url "project_create" %}">{% trans "Create new project" %}</a>
	</div>
	{% if object_list|length %}
		<ul class="project-list">
			{% for object in object_list %}
				<li class="icon-book">
					<a href="{% url 'project_detail' object.pk %}">{{ object.name }}</a>
					<span class="story-count">
						{% with object.stories.count as counter %}
							{% if counter %}
								{% blocktrans count counter as counter %}
									one story
								{% plural %}
									{{ counter }} stories
								{% endblocktrans %}
							{% else %}
								{% trans "No story" %}
							{% endif %}
						{% endwith %}
					</span>
				</li>
			{% endfor %}
		</ul>
		<div class="project-count">
			{% blocktrans count object_list|length as counter %}
				one project found.
			{% plural %}
				{{ counter }} projects found.
			{% endblocktrans %}
		</div>
	{%  else %}
		<div class="project-count">
		{% trans "No active project found" %}
		</div>
	{% endif %}

{% endblock %}