{% extends "base.html" %}

{% load static sekizai_tags %}

{% block title %}{% if object %}{% trans "Edit story" %}{% else %}{% trans "Add a new story" %}{% endif %}{% endblock %}

{% block content %}
	{% if not object %}<h1>{% trans "Add a new story" %}</h1>{% endif %}
    <form method="post" id="edit_story_form" action="{% if object %}{% url "story_backlog_edit" project.pk backlog.pk object.pk %}{% else %}{% url "story_create" project.pk backlog.pk %}{% endif %}">

        {% csrf_token %}
		{% if direct %}
			<input type="hidden" name="direct" value="true">
		{% endif %}
        {% include "form.html" %}
        <div class="submit actions">
			<input class="button" type="submit" value="{% if object %}{% trans "Save changes" %}{% else %}{% trans "Create story" %}{% endif %}">
			<a href="{{ cancel_url }}">{% trans "Cancel" %}</a>
		</div>
	</form>
{% addtoblock "js" %}
<script type="text/javascript" src="{% static "core/js/jquery.js" %}"></script>
{% endaddtoblock %}

{% addtoblock "js" %}
<script type="text/javascript" src="{% static "core/js/jquery.csrf.js" %}"></script>
{% endaddtoblock %}

{% addtoblock "js" %}
<script type="text/javascript" src="{% static "core/js/jquery.colorpicker.js" %}"></script>
{% endaddtoblock %}

{% addtoblock "js" %}
<script type="text/javascript">
	$('[name="color"]').simpleColorPicker({
		picker: true
	});
</script>
{% endaddtoblock %}

{% endblock %}