{% extends "project_base.html" %}
{% block title %}{% trans "Delete user story" %}{% endblock %}

{% block content %}
<div class="row-fluid">
	<h1>{% trans "Delete story" %}</h1>
	<div class="alert alert-danger">
		{% trans "Are you sure you want to delete this user story?" %}
	</div>
	<h2>{{ story.text }}</h2>
	{% url "story_delete" project.pk object.pk as target_url%}
	{% url "story_detail" project.pk object.pk as cancel_url%}
	<form method="post" id="delete_form" action="{{ target_url }}">
		{% csrf_token %}
		{{ form }}
		<div class="submit-delete actions">
			<button class="btn btn-danger" type="submit">{% trans "Delete this user story" %}</button>
			<a class="btn btn-link" href="{{ cancel_url }}">{% trans "Cancel" %}</a>
		</div>
	</form>
</div>
{% endblock %}
