{% extends "project_base.html" %}

{% load static sekizai_tags jsonify %}

{% block title %}{% if object %}{% trans "Edit story" %}{% else %}{% trans "Add a new story" %}{% endif %}{% endblock %}

{% block content %}

<ul class="breadcrumb">
	<li><a href="{% url "dashboard" %}"> {% trans "Dashboard" %}</a></li>
	<li class="divider"><div class="inner"></div></li>
		{% if backlog.project_id %}
			{% if backlog.project.org_id %}
				<li><a href="{% url "org_sprint_planning" backlog.project.org_id %}">{{ backlog.project.org.get_mini_logo }} {{ backlog.project.org.name }}</a></li>
				<li class="divider"><div class="inner"></div></li>
			{% endif %}
			<li> <a href="{% url "project_backlogs" backlog.project_id %}"><i class="icon-book"></i> {{ backlog.project.name }}</a></li>
			<li class="divider"><div class="inner"></div></li>
		{% elif backlog.org_id %}
			<li> <a href="{% url "org_sprint_planning" backlog.org_id %}">{{ backlog.org.get_mini_logo }} {{ backlog.org.name }}</a></li>
			<li class="divider"><div class="inner"></div></li>
		{% endif %}
		<li><a href="{% url "backlog_detail" backlog.pk %}"><i class="icon-list-ul"></i> {{ backlog.name }}</a></li>
		<li class="divider"><div class="inner"></div></li>
	<li class="active">{% if not object %}{% trans "Add a new story" %}{% else %}{{ object.code }}{% endif %}</li>
</ul>

<div class="row-fluid">
	<div class="span6 offset3 base-form">
	{% if not object %}<h1>{% trans "Add a new story" %}</h1>{% endif %}
	{% if object %}
		{% url "story_edit" project.pk object.pk as target_url%}
	{% else %}
		{% url "story_create" project.pk backlog.pk as target_url%}
	{% endif %}
    <form method="post" id="edit_story_form" action="{{ target_url }}">

        {% csrf_token %}
		{% if direct %}
			<input type="hidden" name="direct" value="true">
		{% endif %}
        {% include "form.html" %}
        <div class="submit">
			<input class="btn btn-success" type="submit" value="{% if object %}{% trans "Save changes" %}{% else %}{% trans "Create story" %}{% endif %}">
			<a class="btn btn-link" href="{{ cancel_url }}">{% trans "Cancel" %}</a>
		</div>
	</form>
	</div>
</div>
{% addtoblock "js" %}
<script type="text/javascript">
$(function(){
	$('[name="as_a"]').attr("autocomplete", "off");
	$('[name="as_a"]').typeahead({
		source: {{ project.all_as_a|jsonify }}
	});
	$('[name="theme"]').attr("autocomplete", "off");
	$('[name="theme"]').typeahead({
		source: {{ project.all_themes|jsonify }}
	});
	$('[name="points"]').attr("autocomplete", "off");
	$('[name="points"]').typeahead({
		source: ["0", "1", "2", "3", "5", "8", "13", "20", "40", "100", "999"]
	});
	$('[name="color"]').simpleColorPicker({
		picker: true
	});
	$('[name="status"]').select2({
		width: "200px"
	});
})
</script>
{% endaddtoblock %}

{% endblock %}