{% extends "project_base.html" %}
{% load staticfiles sekizai_tags markup %}

{% block title %}{% trans "User Story" %} &mdash; {{ story.code }}{% endblock %}

{% block content %}
	<ul class="breadcrumb">
		<li><a href="{% url "project_list" %}"> {% trans "Projects" %}</a><span class="divider">/</span></li>
		<li><i class="icon-book"></i> <a href="{% url "project_detail" project.pk %}"> {% trans "Projects" %}</a><span class="divider">/</span></li>
		{% if backlog %}
			<li><i class="icon-list-ul"></i> <a href="{% url "backlog_detail" project.pk backlog.pk %}">  {{ backlog.name }}</a><span class="divider">/</span></li>
		{% endif %}
		<li class="active"><i class="icon-list-ul"></i> {{ story.code }}<span class="divider"></span></li>
	</ul>

	<div class="story-detail row-fluid">
		<div style="border-left:10px solid {{ story.color }};" class="description span10">
			{% include "backlog/user_story_text.html" with story=story %}
		</div>
		<div class="span2">
			<div class="points">
				{% if story.points >= 0 %}
					<span>{{ story.points|floatformat:"0" }}</span>
				{% else %}
					&nbsp;&nbsp;
				{% endif %}
			</div>
		</div>
		{% if story.theme %}
		<div class="span12 muted">
			<h4><i class="icon-tag"></i> {{ story.theme }}</h4>
		</div>
		{% endif %}
		<div class="span12">
			<h3>{% trans "Acceptance criteri" %}a</h3>
			<div class="acceptance-criteria markdown">
				{{ story.acceptances|markdown }}
			</div>
		</div>
		<div class="span12">
			<h3>{% trans "Comments" %}</h3>
			<div class="comments markdown">
				{{ story.comments|markdown }}
			</div>
		</div>
	</div>
	<div class="actions">
		{% if backlog %}
			<a class="btn btn-primary" href="{% url "story_backlog_edit" project.pk backlog.pk object.pk %}">{% trans "Edit" %}</a>
			<a class="btn btn-danger" href="{% url "story_backlog_delete" project.pk backlog.pk object.pk %}">{% trans "Delete" %}</a>
		{% else %}
			<a class="btn btn-primary" href="{% url "story_edit" project.pk object.pk %}">{% trans "Edit" %}</a>
			<a class="btn btn-danger" href="{% url "story_delete" project.pk object.pk %}">{% trans "Delete" %}</a>
		{% endif %}
	</div>
{% endblock %}