{% extends "base.html" %}
{% block title %}{% trans "Delete user story" %}{% endblock %}

{% block content %}
	<h1>{% trans "Delete story" %}</h1>
	<div class="delete_message">
		{% trans "Are you sure you want to delete this user story?" %}
	</div>
	<h2>{{ story.text }}</h2>
	<form method="post" id="delete_form" action="{% url "story_backlog_delete" project.pk backlog.pk story.pk %}">
		{% csrf_token %}
		{{ form }}
		<div class="submit-delete actions">
			<button class="button icon-remove" type="submit">{% trans "Delete this user story" %}</button>
			<a href="{% url "story_backlog_detail" project.pk backlog.pk object.pk %}">{% trans "Cancel" %}</a>
		</div>
	</form>
{% endblock %}
