{% extends "project_base.html" %}

{% block title %}{% trans "Edit authorization" %}{% endblock %}

{% block content %}
	<ul class="breadcrumb">
		<li><a href="{% url "dashboard" %}"><i class="icon-home"></i></a>&nbsp;&nbsp;</li>
		<li class="divider"><div class="inner"></div></li>
		{% if organization %}
			<li><a href="{% url "org_detail" organization.pk %}">{{ organization.get_mini_logo }} {{ organization.name }}</a></li>
			<li class="divider"><div class="inner"></div></li>
		{% endif %}
		<li class="active">{% trans "Edit authorization" %}</li>
	</ul>

<div class="row-fluid">
	<div class="span6 offset3 base-form">
		{% if object %}<h1>{% trans "Change authorization" %}</h1>{% endif %}
		<h3>{{ object.user.full_name|default:object.user.email }}</h3>
		<form method="post" id="edit_auth_form" action="{% url "org_auth_edit" organization.pk object.pk %}">
			{% include "form.html" %}
			<div class="submit">
				<input class="btn btn-success" type="submit" value="{% trans "Save changes" %}">
				<a class="btn btn-link" href="{% url "org_detail" object.pk %}">{% trans "Cancel" %}</a>
			</div>
		</form>
	</div>
</div>
{% endblock %}