{% extends "base.html" %}

{% block title %}{% trans "Invite user" %}{% endblock %}

{% block content %}
<div class="row-fluid">
	<div class="span6 offset3 base-form">
	<h1>{% trans "Send invitation" %}</h1>
	{% if project %}
		<h3>{% trans "Invite to project," %} "<span class="text-info">{{ project.name }}</span>"</h3>
	{% elif organization %}
		<h3>{% trans "Invite to organization," %} "<span class="text-info">{{ organization.name }}</span>"</h3>
	{% endif %}
	<p>{% trans "Enter user email yout want to invite, and click the checkbox if you want to inivite the user as an administrator." %}</p>
	{% if project %}
		{% url "project_invite_user" project.pk as action_url %}
		{% url "project_users" project.pk as cancel_url %}
	{% elif organization %}
		{% url "org_invite_user" organization.pk as action_url %}
		{% url "org_users" organization.pk as cancel_url %}
	{% endif %}
	<form method="post" id="register_form" action="{{ action_url }}">
		{% include "form.html" %}
		<div class="submit">
			<input class="btn btn-primary" type="submit" value="{% trans "Invite" %}">
			<a class="btn btn-link" href="{{ cancel_url }}">{% trans "Cancel" %}</a>
		</div>
	</form>
	</div>
</div>
{% endblock %}
