{% extends "base.html" %}

{% block title %}{% trans "Invite user" %}{% endblock %}

{% block content %}
	<h1>{% trans "Invite user" %}</h1>

	<p>{% trans "Enter user email yout want to invite." %}</p>

	<form method="post" id="register_form" action="{% url "project_invite_user" project.pk %}">
		{% include "form.html" %}
		<div class="submit">
			<input class="btn btn-primary" type="submit" value="{% trans "Invite" %}">
			<a class="btn btn-link" href="{% url "project_detail" project.pk %}">{% trans "Cancel" %}</a>
		</div>
	</form>
{% endblock %}
