{% extends "base.html" %}

{% block title %}{% trans "Notifications" %}{% endblock %}

{% block content %}

<h2>{% trans "Invitations" %}</h2>
{% for i in invitations %}
	<div class="invitation">
		<p><i class="icon-bell-alt"></i>
		{% if i.project %}
			 {% blocktrans with project=i.project.name role=i.role %}You have been invited to project <b>{{ project }}</b> as <b>{{ role }}</b>{% endblocktrans %}
		{% elif i.org %}
			 {% blocktrans with org=i.org.name role=i.role %}You have been invited to organization <b>{{ org }}</b> as <b>{{ role }}</b>{% endblocktrans %}
		{% endif %}
		</p>
		<div class="invit-actions">
		{% if i.project and i.project.org_id%}
			<span class="muted">{%blocktrans with org=i.project.org.name %}This invitation will be automatically accepted if you accept to join the organization: <b>{{ org }}</b> {% endblocktrans %}</span>
		{% else %}
			<form method="POST" id="form_accept_{{ i.pk }}" action="{% url "invitation_accept" i.pk %}">
				{% csrf_token %}
				<button class="btn btn-success" type="submit">{% trans "Accept invitation" %}</button>
			</form>
			<form method="POST" id="form_decline_{{ i.pk }}"action="{% url "invitation_decline" i.pk %}">
				{% csrf_token %}
				<button class="btn" type="submit">{% trans "I'm not interested!" %}</button>
			</form>
		{% endif %}
		</div>

	</div>
{% empty %}
	{% trans "You don't have any invitation pending" %}
{% endfor %}

{% endblock %}