{% extends "base.html" %}

{% block title %}{% trans "Notifications" %}{% endblock %}

{% block content %}

<h2>{% trans "Invitations" %}</h2>
{% for i in invitations %}
	<div class="invitation">
		<p><i class="icon-bell-alt"></i> {% blocktrans with project=i.project.name role=i.role%}You have been invited to project <b>{{ project }}</b> as <b>{{ role }}</b>{% endblocktrans %}</p>
		<div class="invit-actions">
			<form method="POST" id="form_accept_{{ i.pk }}" action="{% url "invitation_accept" i.pk %}">
				{% csrf_token %}
				<button class="btn btn-success" type="submit">{% trans "Accept invitation" %}</button>
			</form>
			<form method="POST" id="form_decline_{{ i.pk }}"action="{% url "invitation_decline" i.pk %}">
				{% csrf_token %}
				<button class="btn" type="submit">{% trans "I'm not interested!" %}</button>
			</form>
		</div>
	</div>
{% empty %}
	{% trans "You don't have any invitation pending" %}
{% endfor %}

{% endblock %}