{% load staticfiles story_in acl%}
<div story-id="{{ story.pk }}" class="story-cell" style="background-color:{{ story.color|default:"#ffc" }}">
	<div story-id="{{ story.pk }}" class="story cell-content">{{ story.title }}</div>
	<div class="remover">
		{% if storymap|can_admin:request.user %}
			<button class="remove delete_story" title="{% trans "Delete" %}"><i class="icon-remove"></i></button>
			<div class="dropdown adjust">
				<a class="dropdown-toggle" id="color_set_{{ story.pk }}" role="button" data-toggle="dropdown" data-target="#" href="#">
					<i class="icon-tint"></i>
			  	</a>
			  	<ul class="dropdown-menu dropdown-menu-color" role="menu" aria-labelledby="color_set_{{ story.pk }}">
					{% for color in story_colors %}
						<li><a href="#" class="story-color-set" data-color="{{ color }}">
							<span class="color-cell" style="background-color:{{ color }};">&nbsp;</span>
						</a></li>
					{% endfor %}
			  	</ul>
			</div>
		{% endif %}
	</div>
</div>
