{% extends "project_base.html" %}
{% load staticfiles sekizai_tags markup acl %}

{% block title %}{% trans "Project" %} &mdash; {{ project.name }}{% endblock %}
{% block content %}
{% addtoblock "js" %}
<script type="text/javascript">
var show_archived = function(e) {
	$(".archived").show("fast");
	$("#show-archived").hide();
}
</script>
{% endaddtoblock %}
	{% include "backlog/_project_head.html" %}
	{% include "backlog/_project_tabs.html" with active="story_map" %}

	<div class="row">
		<div class="col-md-12">
		{% url "storymap_create" project.pk as bs_action_href %}
		{% include "bootstrap/navbar.html" with bs_nav_title=_("Boards") bs_action_title=_("Create board") has_action=project|can_admin:request.user %}
		{% for sm in object_list %}
			<h4><i class="icon-table"></i> <a href="{% url "storymap_detail" sm.pk %}">{{ sm.name }}</a>
			{% if project|can_admin:request.user %}
				<small class="text-muted">[
					<a class="text-muted" href="{% url "storymap_edit" sm.pk %}">{% trans "change name" %}</a>
					| <a class="text-muted" href="{% url "storymap_delete" sm.pk %}">{% trans "delete" %}</a>
				]</small>
			{% endif %}
			</h4>
		{% empty %}
		<div class="alert alert-info">
			{% trans "You don't have any board for this project. Boards are simple tables where you can attach notes in cells. They can be used as story map, iteration boards, task kanban, ..." %}
		</div>
		{% endfor %}
		</div>
	</div>
{% endblock %}