{% extends "project_base.html" %}
{% load staticfiles sekizai_tags markup acl %}

{% block title %}{% trans "Project" %} &mdash; {{ project.name }}{% endblock %}
{% block content %}
{% addtoblock "js" %}
<script type="text/javascript">
var show_archived = function(e) {
	$(".archived").show("fast");
	$("#show-archived").hide();
}
</script>
{% endaddtoblock %}
	{% include "backlog/_project_head.html" %}
	{% include "backlog/_project_tabs.html" with active="story_map" %}

	<div class="project-head">
		<h1 class="inline-title">{% trans "Boards" %}

		{% if project|can_admin:request.user %}
			<a class="btn btn-success btn-sm" href="#">{% trans "Create board" %}</a>
		{% endif %}
		</h1>
	</div>
	<div class="actions"></div>

	<div class="container">
		<div class="row">
			{% for sm in object_list %}
				<h4><i class="icon-table"></i> <a href="{% url "storymap_detail" sm.pk %}">{{ sm.name }}</a>
				{% if project|can_admin:request.user %}
					<small class="text-muted">[
						<a class="text-muted" href="#">{% trans "edit" %}</a>
						| <a class="text-muted" href="#">{% trans "delete" %}</a>
					]</small>
				{% endif %}
				</h4>
			{% endfor %}
		</div>
	</div>

{% endblock %}