{% extends "base.html" %}

{% block title %}{% trans "Password recovery" %}{% endblock %}

{% block content %}
<div class="row"><div class="col-md-6 col-md-offset-3">

	<h1>{% trans "Password recovery" %}</h1>

	<p>{% trans "If you have forgotten your password, simply enter your email address in the field below to recover it." %}</p>

	<form method="post" id="reset_form" action="{% url "password_reset_recover" %}">
		{% include "form.html" %}
		<div class="submit">
			<input class="btn btn-primary" type="submit" value="{% trans "Recover my password" %}">
			<a class="btn btn-link" href="{% url "auth_login" %}">{% trans "Back to login" %}</a>
		</div>
	</form>
</div></div>
{% endblock %}
