{% extends "base.html" %}

{% block title %}{% trans "Password recovery" %}{% endblock %}

{% block content %}
	<h1>{% trans "Password recovery" %}</h1>

	<p>{% trans "If you have forgotten your password, simply enter your email address in the field below to recover it." %}</p>

	<form method="post" action="{% url "password_reset_recover" %}">
		{% include "form.html" %}
		<div class="submit">
			<input class="button" type="submit" value="{% trans "Recover my password" %}">
			<a href="{% url "auth_login" %}">{% trans "Back to login" %}</a>
		</div>
	</form>
{% endblock %}
