{% extends "base.html" %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
	{% if invalid %}{% url "password_reset_recover" as recovery_url %}
		<h1>{% trans "Invalid link" %}</h1>
		<p>{% blocktrans %}Sorry, this password reset link is invalid. You can still <a href="{{ recovery_url }}">request a new one</a>.{% endblocktrans %}</p>
	{% else %}
		<h1>{% trans "Password reset" %}</h1>
		<p>{% blocktrans %}Welcome, <strong>{{ username }}</strong>. Please choose your new password.{% endblocktrans %}</p>
		<form method="post" id="reset_password_form" action="{% url "password_reset_reset" token %}">
			{% include "form.html" %}
			<div class="submit">
				<input class="button" type="submit" value="{% trans "Set new password" %}">
			</div>
		</form>
	{% endif %}
{% endblock %}
