{% extends "base.html" %}
{% load timed %}

{% block content %}
	{% url "workload_add" as bs_action_href %}
	{% include "bootstrap/navbar.html" with bs_nav_title=_("Workloads") bs_action_title=_("Add workload") has_action=True %}


	{% regroup workloads by when as workload_by_date %}

	{% for workload in workload_by_date %}
		<div class="panel {% if workload.grouper.day == today.day %}panel-info{% else %}panel-default{% endif %}">
			<div class="panel-heading">
					<span class="pull-right">Total: <span class="label label-inverse"><b>{{ workload.list|totaltime:"amount"|timedelta }}</b></span></span>

					<b>{{ workload.grouper|date:"DATE_FORMAT" }}</b>
						<span class="text-muted">&nbsp;{{ workload.grouper|date:"l" }}</span>
						{% if workload.grouper.day == today.day %}
							<span class="label label-primary">{% trans "Today" %}</span>
						{% endif %}
			</div>
			<ul class="list-group">
			{% for item in workload.list %}
			 	<li class="list-group-item">
					<span class="pull-right">{{ item.amount|timedelta }}
						<a class="btn btn-xs btn-default" href="{% url "workload_edit" item.pk %}"><i class="icon-pencil text-info"></i></a>
						<a class="btn btn-xs btn-default" href="{% url "workload_delete" item.pk %}"><i class="icon-remove text-danger"></i></a>
					</span>
					<i class="icon-book"></i> <a href="{% url "project_detail" item.project.pk %}">{{ item.project.name }}</a>
					{% if item.user_story %}
						<br>
						<i class="icon-list-ul"></i> <a href="{% url "story_detail" item.project.pk item.user_story.pk %}">{{ item.user_story.text }}</a>
					{% endif %}
					{% if item.text %}
						<br>
						{{ item.text }}
					{% endif %}
				</li>
			{% endfor %}
    		</ul>
    	</div>
	{% endfor %}


{% endblock %}