{% extends "base.html" %}
{% load sekizai_tags static %}

{% block title %}{% trans "Project" %} - {{ project.name }} - {% trans "Dashboard" %}{% endblock %}
{% block navbar %}
	<li><a href=".">{% trans "Refresh" %}</a></li>
{% endblock %}

{% block content %}

{% addtoblock "meta" %}
<meta http-equiv="refresh" content="600">
{% endaddtoblock %}

{% addtoblock "js" %}
<script type="text/javascript">
$(function() {
	$("[title]").tooltip()
});
</script>
{% endaddtoblock %}

<div class="row">
	<h1><span class="small muted">{% trans "Project status" %}</span> {{ project.name }}</h1>
	<div class="small muted">{% now "SHORT_DATETIME_FORMAT" %}</div>
</div>


<div class="row">
	{% if dashboard.show_story_status %}
	<h3>{% trans "Overall progress" %}
	<span class="pull-right text-muted">{% if dashboard.show_points %} {{ project_status_bar.total }} {% trans "pts" %}{% endif %}</span>
	</h3>
	<div class="progress">
		{% for item in project_status_bar.items %}
			<div class="progress-bar" style="width: {{ item.percent }}%; background-color:{{ item.color }};"
				 title="{{ item.percent }}% {{ item.name }} {% if dashboard.show_points %} : {{ item.y }} {% trans "pts" %}{% endif %}">
				<span>{{ item.percent }}% {{ item.name }} {% if dashboard.show_points %} <i class="icon-circle"></i> {{ item.y }}{% endif %}</span>
			</div>
		{% endfor %}
	</div>
	{% endif %}
	{% if dashboard.show_completed %}
		<div>
			<h3>{% trans "Completed stories" %}</h3>
			<div class="dashboard-stories-list">
				<div>
					{% for story in completed_stories %}
						{% include "dashboard/_story_big_cell.html" with show_points=dashboard.show_points %}
					{% empty %}
						<p class="alert">
							{% trans "There is currently no story completed in this sprint" %}
						</p>
					{% endfor %}
				</div>
			</div>
		</div>
	{% endif %}

	{% if dashboard.show_in_progress %}
		<div>
			<h3>{% trans "In progress stories" %}</h3>
			<div class="dashboard-stories-list">
				<div>
					{% for story in current_stories %}
						{% include "dashboard/_story_big_cell.html" with show_points=dashboard.show_points %}
					{% empty %}
						<p class="alert">
							{% trans "There is currently no story in progress for this sprint" %}
						</p>
					{% endfor %}
				</div>
			</div>
		</div>
	{% endif %}

	{% if dashboard.show_next %}
		{% if project.org_id %}
		<div>
			<h3>{% trans "Next stories in this sprint" %}</h3>
			<div class="dashboard-stories-list">
				<div>
					{% for story in next_stories %}
						{% include "dashboard/_story_big_cell.html" with show_points=dashboard.show_points %}
					{% empty %}
						<p class="alert">
							{% trans "There is no story scheduled for this sprint" %}
						</p>
					{% endfor %}
				</div>
			</div>
		</div>
		{% endif %}
	{% endif %}

	{% if dashboard.show_scheduled %}
		<div>
			<h3>{% trans "Scheduled stories" %}</h3>
			<div class="dashboard-stories-list">
				<div>
					{% for story in scheduled_stories %}
						{% include "dashboard/_story_big_cell.html" with show_points=dashboard.show_points %}
					{% empty %}
						<p class="alert">
							{% trans "There is no story scheduled" %}
						</p>
					{% endfor %}
				</div>
			</div>
		</div>
	{% endif %}
</div>
{% endblock %}